Repository icon-project/sodax-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format --write, biome lint

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": ["biome format --write", "biome lint"],
  "**/*.json": ["biome format --write"]
}

feat(demo): add hub wallet recovery page
  apps/demo/src/App.tsx
  apps/demo/src/components/shared/header.tsx
  apps/demo/src/pages/recovery/page.tsx
Due: biome format --write, biome lint

test(example-next-js-16): collapse to single route, mirror apps/web SSR pattern
  apps/example-next-js-16/app/_components/ClientWalletSection.tsx
  apps/example-next-js-16/app/client/page.tsx
  apps/example-next-js-16/app/layout.tsx
  apps/example-next-js-16/app/page.tsx
  apps/example-next-js-16/app/providers.tsx
  apps/example-next-js-16/app/wagmi-config.ts
  apps/example-next-js-16/package.json
  apps/example-next-js-16/verify-build.mjs
  pnpm-lock.yaml
Due: biome format --write, biome lint

docs(libs): clarify target vs platform settings in tsup config
  packages/libs/tsup.config.ts
Due: biome format --write, biome lint

fix(types): update Bitcoin mainnet asset manager address
  packages/types/src/constants/index.ts
Due: biome format --write, biome lint

feat(demo): add hub wallet recovery page (#1118)
  apps/demo/src/App.tsx
  apps/demo/src/components/shared/header.tsx
  apps/demo/src/pages/recovery/page.tsx
Due: biome format --write, biome lint

fix: failing tests
  apps/demo/src/lib/utils.ts
  apps/demo/src/pages/recovery/page.tsx
Due: biome format --write, biome lint

fix(types): update Bitcoin mainnet asset manager address (#1119)
  packages/types/src/constants/index.ts
Due: biome format --write, biome lint

fix(web): enhance pool store with persistence about min and max
  apps/web/app/(apps)/pool/_components/manage-dialog/manage-position-dialog.tsx
  apps/web/app/(apps)/pool/_stores/pool-store.ts
Due: biome format --write, biome lint

fix(web): enhance pool store with persistence about min and max (#1121)
  apps/web/app/(apps)/pool/_components/manage-dialog/manage-position-dialog.tsx
  apps/web/app/(apps)/pool/_stores/pool-store.ts
Due: biome format --write, biome lint

chore(sdk): enforce strict tsconfig and biome rules across SDK packages
  packages/dapp-kit/package.json
  packages/dapp-kit/tsup.config.ts
Due: biome format --write, biome lint

ci(libs): add publish workflow and release docs for @sodax/libs
  .github/workflows/sodax-libs-publish.yml
  CLAUDE.md
  README.md
  packages/RELEASE_INSTRUCTIONS.md
Due: none

feat(web): update exchange hero section copy and layout
  apps/web/components/landing/exchange-hero-section.tsx
Due: biome format --write, biome lint

chore(sdks): bump versions
  packages/dapp-kit/package.json
  packages/sdk/package.json
  packages/types/package.json
  packages/types/src/constants/index.ts
  packages/wallet-sdk-core/package.json
  packages/wallet-sdk-react/package.json
Due: biome format --write, biome lint

fix(sdk): implement slippage calculation
  packages/dapp-kit/src/utils/dex-utils.ts
  packages/sdk/src/dex/ConcentratedLiquidityService.ts
  scripts/find_malicious_npm_packages.sh
Due: biome format --write, biome lint

fix(web): improve PositionCard component with mobile support
  apps/web/app/(apps)/pool/_components/supply-overview/position-card.tsx
  scripts/find_malicious_npm_packages.sh
Due: biome format --write, biome lint

fix(web): update PoolChart component to use internal min and max price state
  apps/web/app/(apps)/pool/_components/pool-chart.tsx
Due: biome format --write, biome lint

fix(web): improve PositionCard component with mobile support (#1127)
  apps/web/app/(apps)/pool/_components/pool-chart.tsx
  apps/web/app/(apps)/pool/_components/supply-overview/position-card.tsx
  scripts/find_malicious_npm_packages.sh
Due: biome format --write, biome lint

fix(web): remove deprecated script for finding malicious npm packages
  scripts/find_malicious_npm_packages.sh
Due: none

fix(web): add script to .gitignore for finding malicious npm packages
  .gitignore
Due: none

fix(web): update .gitignore to include find_malicious_npm_packages.sh
  .gitignore
  scripts/find_malicious_npm_packages.sh
Due: none

fix(web): update .gitignore to include find_malicious_npm_packages.sh (#1131)
  .gitignore
Due: none

feat: updated navbar
  apps/web/app/community/soda-token/page.tsx
  apps/web/app/glossary/page.tsx
  apps/web/app/news/[slug]/page.tsx
  apps/web/app/news/page.tsx
  apps/web/app/news/preview/[id]/page.tsx
  apps/web/app/not-found.tsx
  apps/web/app/partners/page.tsx
  apps/web/app/partners/sodax-sdk/page.tsx
  apps/web/components/glossary/glossary-detail-page.tsx
  apps/web/components/landing/hero-section.tsx
  apps/web/components/partners/partner-page-header.tsx
  apps/web/components/partners/partner-page-layout.tsx
  apps/web/components/shared/marketing-header.tsx
  apps/web/components/shared/navbar.tsx
Due: biome format --write, biome lint

fix(scripts): change file permissions for find_malicious_npm_packages.sh
  scripts/find_malicious_npm_packages.sh
Due: none

fix(web): address Claude code review feedback on connect pages
  apps/web/app/connect/[slug]/avatar/route.ts
  apps/web/app/connect/[slug]/page.tsx
  apps/web/components/connect/copy-button.tsx
  apps/web/lib/connect.ts
Due: biome format --write, biome lint

fix(sdk): improve slippage calculation test
  packages/sdk/src/dex/ConcentratedLiquidityService.test.ts
Due: biome format --write, biome lint

refactor(web): split Navbar and MarketingHeader, unify navbar across pages
  apps/web/app/community/soda-token/page.tsx
  apps/web/app/glossary/page.tsx
  apps/web/app/news/[slug]/page.tsx
  apps/web/app/news/page.tsx
  apps/web/app/news/preview/[id]/page.tsx
  apps/web/app/not-found.tsx
  apps/web/app/partners/page.tsx
  apps/web/app/partners/sodax-sdk/page.tsx
  apps/web/components/glossary/glossary-detail-page.tsx
  apps/web/components/landing/exchange-hero-section.tsx
  apps/web/components/landing/hero-section.tsx
  apps/web/components/partners/partner-page-layout.tsx
  apps/web/components/partners/partners-hero-section.tsx
  apps/web/components/shared/marketing-header.tsx
  apps/web/components/shared/navbar.tsx
Due: biome format --write, biome lint

fix(sdk): enhance slippage calculation with integer math and add precision test for large values
  packages/sdk/src/dex/ConcentratedLiquidityService.test.ts
  packages/sdk/src/dex/ConcentratedLiquidityService.ts
Due: biome format --write, biome lint

fix(sdk): implement slippage calculation (#1126)
  packages/dapp-kit/src/utils/dex-utils.ts
  packages/sdk/src/dex/ConcentratedLiquidityService.test.ts
  packages/sdk/src/dex/ConcentratedLiquidityService.ts
Due: biome format --write, biome lint

fix(web): enhance pool store provider to utilize pool data
  apps/web/app/(apps)/pool/_stores/pool-store-provider.tsx
  apps/web/app/(apps)/pool/_stores/pool-store.ts
Due: biome format --write, biome lint

fix(web): refine PoolChart component to improve price range calculations
  apps/web/app/(apps)/pool/_components/pool-chart.tsx
Due: biome format --write, biome lint

fix(web): enhance pool store provider to utilize pool data (#1133)
  apps/web/app/(apps)/pool/_components/pool-chart.tsx
  apps/web/app/(apps)/pool/_stores/pool-store-provider.tsx
  apps/web/app/(apps)/pool/_stores/pool-store.ts
Due: biome format --write, biome lint

chore(sdks): bump versions
  packages/dapp-kit/package.json
  packages/sdk/package.json
  packages/types/package.json
  packages/wallet-sdk-core/package.json
  packages/wallet-sdk-react/package.json
Due: biome format --write

fix(web): update @sodax packages to version 1.5.6-beta (#1134)
  apps/web/package.json
  pnpm-lock.yaml
Due: biome format --write

fix(web): update @sodax packages to version 1.5.6-beta
  apps/web/package.json
  pnpm-lock.yaml
Due: biome format --write

feat(web): landing page Hero spotlight V1
  apps/web/components/icons/kraken-icon.tsx
  apps/web/components/shared/navbar-spotlight.tsx
  apps/web/components/shared/navbar.tsx
Due: biome format --write, biome lint

feat(web): add exchange page link preview and refine hero layout
  apps/web/app/exchange/page.tsx
  apps/web/components/landing/exchange-hero-section.tsx
  apps/web/components/landing/main-cta-button.tsx
  apps/web/public/preview-exchange-page.png
Due: biome format --write, biome lint

feat: updated banners
  apps/web/components/landing/landing-banners-content.tsx
  apps/web/components/landing/landing-banners.tsx
Due: biome format --write, biome lint
