Repository icon-project/sodax-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format --write, biome lint

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": ["biome format --write", "biome lint"],
  "**/*.json": ["biome format --write"]
}

fix: update active tab and arrow position in AppsContainer for improved user experience
  apps/web/app/apps-container/page.tsx
Due: biome format --write, biome lint

fix: update TabItem component to conditionally render badges based on value for improved clarity
  apps/web/components/ui/tab-item.tsx
Due: biome format --write, biome lint

fix: add responsive font sizes and body styles
  apps/web/app/globals.css
Due: none

fix: add font size values
  apps/web/app/apps-container/page.tsx
  apps/web/app/globals.css
  apps/web/components/ui/tab-item.tsx
Due: biome format --write, biome lint

chore(sdk): update Solana RPC endpoint and remove unused wsUrl parameter
  apps/demo/src/providers.tsx
  package.json
  packages/sdk/src/constants.ts
  packages/sdk/src/entities/injective/InjectiveSpokeProvider.ts
  packages/sdk/src/entities/solana/Configs.ts
  packages/sdk/src/services/spoke/SolanaSpokeService.ts
  packages/sdk/src/types.ts
Due: biome format --write, biome lint

refactor(hooks): improve useEthereumChainId and useEvmSwitchChain logic
  packages/wallet-sdk/src/hooks/useEthereumChainId.ts
  packages/wallet-sdk/src/hooks/useEvmSwitchChain.ts
Due: biome format --write, biome lint

feat(sdk, dapp-kit): gas estimations
  packages/dapp-kit/src/hooks/shared/index.ts
  packages/dapp-kit/src/hooks/shared/useEstimateGas.ts
  packages/sdk/src/entities/icon/IconSpokeProvider.ts
  packages/sdk/src/entities/injective/InjectiveSpokeProvider.ts
  packages/sdk/src/entities/stellar/StellarSpokeProvider.ts
  packages/sdk/src/entities/sui/SuiSpokeProvider.ts
  packages/sdk/src/services/moneyMarket/MoneyMarketService.ts
  packages/sdk/src/services/solver/SolverService.ts
  packages/sdk/src/services/spoke/EvmSpokeService.ts
  packages/sdk/src/services/spoke/IconSpokeService.ts
  packages/sdk/src/services/spoke/InjectiveSpokeService.ts
  packages/sdk/src/services/spoke/SolanaSpokeService.ts
  packages/sdk/src/services/spoke/SonicSpokeService.ts
  packages/sdk/src/services/spoke/SpokeService.ts
  packages/sdk/src/services/spoke/StellarSpokeService.ts
  packages/sdk/src/services/spoke/SuiSpokeService.ts
  packages/sdk/src/types.ts
  packages/sdk/src/utils/icon-utils.ts
  packages/sdk/src/utils/shared-utils.test.ts
  packages/sdk/src/utils/shared-utils.ts
  pnpm-lock.yaml
Due: biome format --write, biome lint

chore(sdk,dapp-kit): update docs for estimate gas
  packages/dapp-kit/README.md
  packages/sdk/README.md
  packages/sdk/docs/MONEY_MARKET.md
  packages/sdk/docs/SOLVER.md
Due: none

fix(sdk): tests
  packages/sdk/src/entities/Sodax.test.ts
  packages/sdk/src/services/solver/SolverService.test.ts
Due: biome format --write, biome lint

feat(sdk, dapp-kit): gas estimations (#230)
  packages/dapp-kit/README.md
  packages/dapp-kit/src/hooks/shared/index.ts
  packages/dapp-kit/src/hooks/shared/useEstimateGas.ts
  packages/sdk/README.md
  packages/sdk/docs/MONEY_MARKET.md
  packages/sdk/docs/SOLVER.md
  packages/sdk/src/entities/Sodax.test.ts
  packages/sdk/src/entities/icon/IconSpokeProvider.ts
  packages/sdk/src/entities/injective/InjectiveSpokeProvider.ts
  packages/sdk/src/entities/stellar/StellarSpokeProvider.ts
  packages/sdk/src/entities/sui/SuiSpokeProvider.ts
  packages/sdk/src/services/moneyMarket/MoneyMarketService.ts
  packages/sdk/src/services/solver/SolverService.test.ts
  packages/sdk/src/services/solver/SolverService.ts
  packages/sdk/src/services/spoke/EvmSpokeService.ts
  packages/sdk/src/services/spoke/IconSpokeService.ts
  packages/sdk/src/services/spoke/InjectiveSpokeService.ts
  packages/sdk/src/services/spoke/SolanaSpokeService.ts
  packages/sdk/src/services/spoke/SonicSpokeService.ts
  packages/sdk/src/services/spoke/SpokeService.ts
  packages/sdk/src/services/spoke/StellarSpokeService.ts
  packages/sdk/src/services/spoke/SuiSpokeService.ts
  packages/sdk/src/types.ts
  packages/sdk/src/utils/icon-utils.ts
  packages/sdk/src/utils/shared-utils.test.ts
  packages/sdk/src/utils/shared-utils.ts
  pnpm-lock.yaml
Due: biome format --write, biome lint

chore: bump versions
  packages/dapp-kit/package.json
  packages/sdk/package.json
  packages/types/package.json
  packages/wallet-sdk/package.json
Due: biome format --write

chore: update @injectivelabs/sdk-ts and related dependencies to version 1.15.43
  apps/node/package.json
  packages/sdk/package.json
  packages/wallet-sdk/package.json
  packages/wallet-sdk/src/wallet-providers/InjectiveWalletProvider.ts
  packages/wallet-sdk/src/xchains/injective/InjectiveKelprXConnector.ts
  packages/wallet-sdk/src/xchains/injective/InjectiveMetamaskXConnector.ts
  pnpm-lock.yaml
Due: biome format --write, biome lint

feat: add "Max" button to Supply/Withdraw function
  apps/demo/src/components/mm/lists/SupplyAssetsListItem.tsx
  apps/demo/src/components/mm/lists/SupplyButton.tsx
  apps/demo/src/components/mm/lists/WithdrawButton.tsx
  packages/sdk/src/constants.ts
  packages/sdk/src/types.ts
Due: biome format --write, biome lint

chore: update package.json clean script and pnpm-lock.yaml dependencies versions
  package.json
  pnpm-lock.yaml
Due: biome format --write

chore: fix demo dev environment (#232)
  package.json
  pnpm-lock.yaml
Due: biome format --write

fix: sonic chain id
  packages/wallet-sdk/src/constants/xChains.ts
Due: biome format --write, biome lint

fix: sonic chain id (#233)
  packages/wallet-sdk/src/constants/xChains.ts
Due: biome format --write, biome lint

fix: is native func in injective
  packages/sdk/src/entities/injective/InjectiveSpokeProvider.ts
Due: biome format --write, biome lint

fix: is native func in injective (#234)
  packages/sdk/src/entities/injective/InjectiveSpokeProvider.ts
Due: biome format --write, biome lint

fix: use public rpc on solana (#229)
  apps/demo/src/providers.tsx
  packages/sdk/src/constants.ts
  packages/sdk/src/entities/solana/Configs.ts
  packages/sdk/src/services/spoke/SolanaSpokeService.ts
  packages/sdk/src/types.ts
Due: biome format --write, biome lint

fix: approve module not updating to supply after approving transaction
  packages/dapp-kit/src/hooks/mm/useMMApprove.ts
Due: biome format --write, biome lint

docs(sdk): update supported wallet provider
  packages/sdk/README.md
Due: none

chore(sdk): update supported wallet interface docs
  packages/sdk/README.md
Due: none

chore(sdk): update supported wallet interface docs (#236)
  packages/sdk/README.md
Due: none

chore: refactor Injective20Token and InjectiveSpokeProvider
  packages/sdk/package.json
  packages/sdk/src/entities/injective/Injective20Token.ts
  packages/sdk/src/entities/injective/InjectiveSpokeProvider.ts
  packages/sdk/src/services/spoke/InjectiveSpokeService.ts
  packages/types/src/injective/index.ts
  packages/wallet-sdk/src/wallet-providers/InjectiveWalletProvider.ts
  pnpm-lock.yaml
Due: biome format --write, biome lint

refactor(hooks): enhance useEthereumChainId and useEvmSwitchChain functionality
  packages/wallet-sdk/src/hooks/useEthereumChainId.ts
  packages/wallet-sdk/src/hooks/useEvmSwitchChain.ts
Due: biome format --write, biome lint

feat: update documentation link
  apps/web/components/landing/footer.tsx
Due: biome format --write, biome lint

feat: update documentation link (#237)
  apps/web/components/landing/footer.tsx
Due: biome format --write, biome lint

fix: deposit token
  packages/sdk/src/entities/injective/InjectiveSpokeProvider.ts
Due: biome format --write, biome lint

fix: enhance layout appscontainer and migrating container
  apps/web/app/apps-container/page.tsx
  apps/web/app/globals.css
  apps/web/components/ui/badge.tsx
  apps/web/public/can.png
  apps/web/public/coin/icx.png
  apps/web/public/coin/icx1.png
  apps/web/public/coin/s1.png
Due: biome format --write, biome lint

fix: adjust AppsContainer layout for improved responsiveness and overflow handling
  apps/web/app/apps-container/page.tsx
Due: biome format --write, biome lint

refactor(wallet-sdk, sdk): update getRawTransaction to return a Promise
  apps/node/src/wallet-providers/InjectiveWalletProvider.ts
  packages/sdk/src/entities/injective/InjectiveSpokeProvider.ts
  packages/types/src/injective/index.ts
  packages/wallet-sdk/src/wallet-providers/InjectiveWalletProvider.ts
Due: biome format --write, biome lint

refactor(wallet-sdk, sdk): update getRawTransaction to return a Promise (#238)
  apps/node/src/wallet-providers/InjectiveWalletProvider.ts
  packages/sdk/src/entities/injective/InjectiveSpokeProvider.ts
  packages/types/src/injective/index.ts
  packages/wallet-sdk/src/wallet-providers/InjectiveWalletProvider.ts
Due: biome format --write, biome lint

refactor(wallet): remove unused ChainGrpcWasmApi and network endpoints from InjectiveWalletProvider
  packages/wallet-sdk/src/wallet-providers/InjectiveWalletProvider.ts
Due: biome format --write, biome lint

fix: disable keplr
  packages/wallet-sdk/src/xchains/injective/InjectiveXService.ts
Due: biome format --write, biome lint

fix: disable keplr
  packages/wallet-sdk/src/useXWagmiStore.tsx
Due: biome format --write, biome lint

refactor: replace deprecated injective sdks with new sdks (#218)
  apps/demo/src/zustand/useAppStore.tsx
  apps/node/package.json
  apps/node/src/injective.ts
  apps/node/src/wallet-providers/InjectiveWalletProvider.ts
  packages/dapp-kit/package.json
  packages/sdk/package.json
  packages/sdk/src/entities/injective/Injective20Token.ts
  packages/sdk/src/entities/injective/InjectiveSpokeProvider.ts
  packages/sdk/src/services/spoke/InjectiveSpokeService.ts
  packages/types/src/injective/index.ts
  packages/wallet-sdk/package.json
  packages/wallet-sdk/src/hooks/useEthereumChainId.ts
  packages/wallet-sdk/src/hooks/useEvmSwitchChain.ts
  packages/wallet-sdk/src/hooks/useWalletProvider.ts
  packages/wallet-sdk/src/useXWagmiStore.tsx
  packages/wallet-sdk/src/wallet-providers/InjectiveWalletProvider.ts
  packages/wallet-sdk/src/wallet-providers/StellarWalletProvider.ts
  packages/wallet-sdk/src/xchains/injective/InjectiveKelprXConnector.ts
  packages/wallet-sdk/src/xchains/injective/InjectiveMetamaskXConnector.ts
  packages/wallet-sdk/src/xchains/injective/InjectiveXService.ts
  pnpm-lock.yaml
Due: biome format --write, biome lint

feat(sdk,node): baln and bnUSD migration MigrationService integration
  apps/node/src/icon.ts
  apps/node/src/sonic.ts
  apps/node/src/stellar.ts
  apps/node/src/sui.ts
  packages/sdk/docs/MIGRATION.md
  packages/sdk/src/constants.ts
  packages/sdk/src/services/migration/BalnSwapService.ts
  packages/sdk/src/services/migration/BnUSDMigrationService.ts
  packages/sdk/src/services/migration/IcxMigrationService.ts
  packages/sdk/src/services/migration/MigrationService.test.ts
  packages/sdk/src/services/migration/MigrationService.ts
  packages/sdk/src/types.ts
  pnpm-lock.yaml
Due: biome format --write, biome lint

chore(sdk,node): comment out injective, fix baln hub asset, improves
  apps/node/src/icon.ts
  apps/node/src/injective.ts
  apps/node/src/stellar.ts
  apps/node/src/sui.ts
  apps/node/src/wallet-providers/IconWalletProvider.ts
  apps/node/src/wallet-providers/InjectiveWalletProvider.ts
  packages/sdk/src/constants.ts
  packages/sdk/src/services/migration/BnUSDMigrationService.ts
  packages/sdk/src/services/migration/MigrationService.ts
Due: biome format --write, biome lint
