Repository icon-project/sodax-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format --write, biome lint

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": ["biome format --write", "biome lint"],
  "**/*.json": ["biome format --write"]
}

chore(test): update vercel json
  apps/demo/vercel.json
Due: biome format --write

fix(test): packages build
  apps/demo/vite.config.ts
  packages/dapp-kit/src/hooks/shared/useDeriveUserWalletAddress.ts
  packages/dapp-kit/src/hooks/shared/useGetUserHubWalletAddress.ts
Due: biome format --write, biome lint

fix(sdk): replace tiny-secp256k1 (WASM) with @bitcoinerlab/secp256k1 (pure JS)
  apps/demo/package.json
  apps/demo/vite.config.ts
  apps/node/package.json
  apps/node/src/bitcoin-radfi.ts
  packages/sdk/package.json
  packages/sdk/src/shared/entities/btc/BitcoinSpokeProvider.ts
  packages/wallet-sdk-core/package.json
  packages/wallet-sdk-core/src/wallet-providers/BTCWalletProvider.ts
  pnpm-lock.yaml
Due: biome format --write, biome lint

feat(web): enhance PositionCard with hover effects and manage dialog integration
  apps/web/app/(apps)/pool/_components/manage-dialog/add-liquidity-tab-content.tsx
  apps/web/app/(apps)/pool/_components/manage-dialog/claim-tab-content.tsx
  apps/web/app/(apps)/pool/_components/manage-dialog/index.ts
  apps/web/app/(apps)/pool/_components/manage-dialog/manage-position-dialog.tsx
  apps/web/app/(apps)/pool/_components/manage-dialog/withdraw-tab-content.tsx
  apps/web/app/(apps)/pool/_components/supplied-positions-carousel.tsx
Due: biome format --write, biome lint

ci: add security workflow for dependency review and CodeQL analysis
  .github/workflows/security.yml
Due: none

ci: add concurrency group and timeout-minutes to security workflow
  .github/workflows/security.yml
Due: none

fix(web): integrate live APY display in stake stats card
  apps/web/app/(apps)/stake/_components/stake-stats-card.tsx
  apps/web/components/shared/route-tab-item.tsx
  apps/web/hooks/useStakeVaultApy.ts
Due: biome format --write, biome lint

fix(web): update stake APY endpoint and response handling
  apps/web/app/(apps)/stake/page.tsx
  apps/web/app/api/stake/vault-apy/route.ts
  apps/web/components/shared/route-tabs.tsx
  apps/web/hooks/useStakeVaultApy.ts
Due: biome format --write, biome lint

ci: add security workflow for dependency review and CodeQL analysis (#956)
  .github/workflows/security.yml
Due: none

feat(wallet-sdk): update @stacks/connect to version 8.2.6 and enhance Stacks provider integration
  packages/wallet-sdk-core/package.json
  packages/wallet-sdk-core/src/wallet-providers/StacksBrowserWalletProvider.ts
  packages/wallet-sdk-react/package.json
  packages/wallet-sdk-react/src/hooks/useWalletProvider.ts
  packages/wallet-sdk-react/src/useXWagmiStore.ts
  packages/wallet-sdk-react/src/xchains/stacks/StacksXConnector.ts
  packages/wallet-sdk-react/src/xchains/stacks/constants.ts
  packages/wallet-sdk-react/src/xchains/stacks/index.ts
  packages/wallet-sdk-react/src/xchains/stacks/useStacksXConnectors.ts
  pnpm-lock.yaml
Due: biome format --write, biome lint

fix(web): integrate live APY display in stake stats card (#957)
  apps/web/app/(apps)/stake/_components/stake-stats-card.tsx
  apps/web/app/(apps)/stake/page.tsx
  apps/web/app/api/stake/vault-apy/route.ts
  apps/web/components/shared/route-tab-item.tsx
  apps/web/components/shared/route-tabs.tsx
  apps/web/hooks/useStakeVaultApy.ts
Due: biome format --write, biome lint

fix(web): update stake components to use live APY
  apps/web/app/(apps)/stake/_components/stake-dialog/stake-confirmation-step.tsx
  apps/web/app/(apps)/stake/_components/stake-dialog/stake-info-step.tsx
  apps/web/app/(apps)/stake/_components/stake-stats-card.tsx
  apps/web/app/(apps)/stake/page.tsx
  apps/web/components/shared/route-tabs.tsx
Due: biome format --write, biome lint

fix(web): remove unused unstaking period label in stake stats card
  apps/web/app/(apps)/stake/_components/stake-stats-card.tsx
Due: biome format --write, biome lint

chore(demo): fix build issue, add UTXO renewal flow and hooks
  apps/demo/src/components/bitcoin/BitcoinSetupPanel.tsx
  apps/web/lib/auth-client.ts
  packages/dapp-kit/src/hooks/bitcoin/index.ts
  packages/dapp-kit/src/hooks/bitcoin/useExpiredUtxos.ts
  packages/dapp-kit/src/hooks/bitcoin/useRenewUtxos.ts
  packages/dapp-kit/src/hooks/bitcoin/useTradingWalletBalance.ts
  packages/sdk/src/shared/entities/btc/RadfiProvider.ts
  packages/wallet-sdk-react/src/xchains/bitcoin/XverseXConnector.ts
Due: biome format --write, biome lint

fix(web): update stake components to use live APY (#958)
  apps/web/app/(apps)/stake/_components/stake-dialog/stake-confirmation-step.tsx
  apps/web/app/(apps)/stake/_components/stake-dialog/stake-info-step.tsx
  apps/web/app/(apps)/stake/_components/stake-stats-card.tsx
  apps/web/app/(apps)/stake/page.tsx
  apps/web/components/shared/route-tabs.tsx
Due: biome format --write, biome lint

fix(web): update unstake period
  apps/web/app/(apps)/stake/_components/unstake-dialog/unstake-confirmation-step.tsx
  apps/web/app/(apps)/stake/_components/unstake-dialog/unstake-method-selection-step.tsx
Due: biome format --write, biome lint

fix(web): update unstake period (#959)
  apps/web/app/(apps)/stake/_components/unstake-dialog/unstake-confirmation-step.tsx
  apps/web/app/(apps)/stake/_components/unstake-dialog/unstake-method-selection-step.tsx
Due: biome format --write, biome lint

chore(apps): add cjs app and ci check
  .github/workflows/ci.yml
  apps/node-cjs/biome.json
  apps/node-cjs/package.json
  apps/node-cjs/src/index.ts
  apps/node-cjs/tsconfig.json
  apps/node-cjs/turbo.json
  pnpm-lock.yaml
Due: biome format --write, biome lint

fix: code review fixes for repay flow and display formatting
  apps/demo/src/components/mm/lists/ActionSuccessContent.tsx
  apps/demo/src/components/mm/lists/borrow/BorrowAssetsListItem.tsx
  apps/demo/src/lib/logger.ts
  apps/demo/src/lib/utils.ts
Due: biome format --write, biome lint

fix: max button migrate value
  apps/web/app/(apps)/migrate/_components/icxsoda-migration.tsx
Due: biome format --write, biome lint

fix: added missing routes for news and partners on mobile
  apps/web/components/landing/sidebar.tsx
Due: biome format --write, biome lint

refactor(sdk): remove console logs
  packages/sdk/src/shared/services/hub/EvmWalletAbstraction.ts
  packages/wallet-sdk-core/src/wallet-providers/StacksWalletProvider.ts
  packages/wallet-sdk-react/src/xchains/stacks/StacksXConnector.ts
Due: biome format --write, biome lint

refactor(sdk): clean up code formatting in stacks-utils and index files
  packages/sdk/src/shared/utils/stacks-utils.ts
  packages/types/src/stacks/index.ts
Due: biome format --write, biome lint

refactor(sdk): enhance StacksSpokeProvider
  packages/sdk/src/shared/entities/stacks/StacksSpokeProvider.ts
  packages/sdk/src/shared/services/spoke/StacksSpokeService.ts
Due: biome format --write, biome lint

chore: add docs claude
  .gitignore
Due: none

fix: refactor address Bitcoin integration code quality issues
  apps/demo/src/components/solver/SwapCard.tsx
  packages/dapp-kit/src/hooks/bitcoin/index.ts
  packages/dapp-kit/src/hooks/bitcoin/useRadfiAuth.ts
  packages/dapp-kit/src/hooks/bitcoin/useRenewUtxos.ts
  packages/sdk/src/shared/entities/btc/BitcoinSpokeProvider.ts
  packages/types/src/btc/index.ts
  packages/wallet-sdk-core/src/wallet-providers/BTCWalletProvider.ts
  packages/wallet-sdk-react/src/xchains/bitcoin/BitcoinXService.ts
  packages/wallet-sdk-react/src/xchains/bitcoin/OKXXConnector.ts
  packages/wallet-sdk-react/src/xchains/bitcoin/UnisatXConnector.ts
  packages/wallet-sdk-react/src/xchains/bitcoin/XverseXConnector.ts
Due: biome format --write, biome lint

feat: add Bitcoin testnet support and UTXO renewal CLI commands
  apps/demo/src/providers.tsx
  apps/node/src/bitcoin-radfi.ts
  packages/dapp-kit/src/hooks/provider/useSpokeProvider.ts
  packages/types/src/btc/index.ts
  packages/types/src/common/index.ts
Due: biome format --write, biome lint

fix(web): enhance manage position dialog and add switch chain functionality
  apps/web/app/(apps)/pool/_components/manage-dialog/add-liquidity-tab-content.tsx
  apps/web/app/(apps)/pool/_components/manage-dialog/claim-tab-content.tsx
  apps/web/app/(apps)/pool/_components/manage-dialog/manage-position-dialog.tsx
  apps/web/app/(apps)/pool/_components/manage-dialog/pair-balance-header.tsx
  apps/web/app/(apps)/pool/_components/manage-dialog/withdraw-tab-content.tsx
  apps/web/app/(apps)/pool/_components/supplied-positions-carousel.tsx
  apps/web/app/(apps)/stake/_components/unstake-request-item.tsx
  apps/web/components/shared/switch-chain-dialog.tsx
Due: biome format --write, biome lint

feat(demo): add Fund Trading Wallet dialog with connector info
  apps/demo/public/sodax-symbol.svg
  apps/demo/src/components/bitcoin/BitcoinSetupPanel.tsx
  apps/demo/src/components/bitcoin/FundTradingWalletDialog.tsx
  apps/demo/src/components/solver/SwapCard.tsx
  apps/node/src/bitcoin-radfi.ts
Due: biome format --write, biome lint

fix: added formatDecimalForDisplay for consistency to all actions
  apps/demo/src/components/mm/lists/RepayModal.tsx
  apps/demo/src/components/mm/lists/SupplyModal.tsx
  apps/demo/src/components/mm/lists/WithdrawModal.tsx
  apps/demo/src/components/mm/lists/borrow/BorrowAssetsListItem.tsx
  apps/demo/src/components/mm/lists/borrow/BorrowModal.tsx
Due: biome format --write, biome lint

chore(demo): consider expired UTXOs in Bitcoin setup readiness
  apps/demo/src/components/bitcoin/BitcoinSetupPanel.tsx
  packages/sdk/src/shared/entities/btc/index.ts
Due: biome format --write, biome lint

feat(demo): use trading wallet for Bitcoin destination swap flow
  apps/demo/src/components/solver/SwapCard.tsx
Due: biome format --write, biome lint

refactor(demo): improve Bitcoin swap UX and destination flow
  apps/demo/src/components/bitcoin/BitcoinSetupPanel.tsx
Due: biome format --write, biome lint

chore: switch Radfi API from staging to production
  apps/node/src/bitcoin-radfi.ts
  apps/node/src/btc.ts
  packages/types/src/constants/index.ts
Due: biome format --write, biome lint

feat(aleo): add end-to-end Aleo integration across types, wallet SDKs, and core SDK services (#947)
  apps/node/package.json
  apps/node/src/aleo.ts
  apps/web/providers/constants.ts
  packages/dapp-kit/src/hooks/provider/useSpokeProvider.ts
  packages/sdk/package.json
  packages/sdk/src/shared/entities/Providers.ts
  packages/sdk/src/shared/entities/aleo/AleoSpokeProvider.ts
  packages/sdk/src/shared/entities/aleo/index.ts
  packages/sdk/src/shared/entities/index.ts
  packages/sdk/src/shared/guards.ts
  packages/sdk/src/shared/services/spoke/AleoSpokeService.ts
  packages/sdk/src/shared/services/spoke/SpokeService.ts
  packages/sdk/src/shared/services/spoke/index.ts
  packages/sdk/src/shared/types.ts
  packages/sdk/src/shared/utils/shared-utils.ts
  packages/sdk/src/swap/SwapService.ts
  packages/types/src/aleo/index.ts
  packages/types/src/common/index.ts
  packages/types/src/constants/index.ts
  packages/types/src/index.ts
  packages/wallet-sdk-core/package.json
  packages/wallet-sdk-core/src/wallet-providers/AleoWalletProvider.test.ts
  packages/wallet-sdk-core/src/wallet-providers/AleoWalletProvider.ts
  packages/wallet-sdk-core/src/wallet-providers/index.ts
  packages/wallet-sdk-react/package.json
  packages/wallet-sdk-react/src/index.ts
  packages/wallet-sdk-react/src/xchains/aleo/AleoXConnector.ts
  packages/wallet-sdk-react/src/xchains/aleo/AleoXService.ts
  packages/wallet-sdk-react/src/xchains/aleo/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome format --write, biome lint

fix: override @hpke/core to >=1.8.0 to resolve critical GHSA-73g8-5h73-26h4
  package.json
  pnpm-lock.yaml
Due: biome format --write

fix: override @hpke/core and valibot to resolve critical vulnerabilities
  package.json
  pnpm-lock.yaml
Due: biome format --write

chore(demo): switch to staging
  apps/node/src/bitcoin-radfi.ts
  apps/node/src/btc.ts
  package.json
  packages/types/src/constants/index.ts
  pnpm-lock.yaml
Due: biome format --write, biome lint

chore: fix build
  package.json
  pnpm-lock.yaml
Due: biome format --write

feat: updated nav bars with correct routes both mobile and desktop
  apps/web/app/(apps)/loans/page.tsx
  apps/web/app/sitemap.ts
  apps/web/components/shared/deposit-dialog.tsx
  apps/web/components/shared/route-tab-item.tsx
  apps/web/components/shared/route-tabs.tsx
  apps/web/constants/routes.ts
Due: biome format --write, biome lint
