Repository icon-project/sodax-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format --write, biome lint

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": ["biome format --write", "biome lint"],
  "**/*.json": ["biome format --write"]
}

refactor(sdk,dapp-kit,node): mm user data address abstraction (#287)
  apps/node/src/moneymarket.ts
  packages/dapp-kit/src/hooks/mm/useUserFormattedSummary.ts
  packages/dapp-kit/src/hooks/mm/useUserReservesData.ts
  packages/sdk/docs/MONEY_MARKET.md
  packages/sdk/src/moneyMarket/LendingPoolService.ts
  packages/sdk/src/moneyMarket/MoneyMarketDataService.ts
  packages/sdk/src/moneyMarket/UiPoolDataProviderService.ts
  packages/sdk/src/services/solver/SolverService.test.ts
Due: biome format --write, biome lint

chore(sdk,dapp-kit): bump versions
  packages/dapp-kit/package.json
  packages/sdk/package.json
Due: biome format --write

chore: Update README.md
  README.md
Due: none

fix(sdk): solver quote fee logic
  packages/sdk/src/services/solver/SolverService.ts
  packages/sdk/src/utils/shared-utils.test.ts
  packages/sdk/src/utils/shared-utils.ts
Due: biome format --write, biome lint

fix(sdk): solver quote fee logic (#288)
  packages/sdk/src/services/solver/SolverService.ts
  packages/sdk/src/utils/shared-utils.test.ts
  packages/sdk/src/utils/shared-utils.ts
Due: biome format --write, biome lint

chore(sdk): bump version
  packages/sdk/package.json
Due: biome format --write

feat: add useCancelSwap hook (#282)
  packages/dapp-kit/README.md
  packages/dapp-kit/src/hooks/swap/index.ts
  packages/dapp-kit/src/hooks/swap/useCancelSwap.ts
Due: biome format --write, biome lint

style(app-template): update border radius for top corners in AppTemplate component
  apps/web/app/(apps)/_app-template.tsx
Due: biome format --write, biome lint

fix(pnpm-lock): resolve merge conflicts in pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Update favicon.ico
  apps/web/app/favicon.ico
Due: none

fix(demo,dapp-kit): mm user data not showing
  apps/demo/src/components/mm/lists/SupplyAssetsList.tsx
  apps/node/src/moneymarket.ts
  packages/dapp-kit/src/hooks/mm/useUserFormattedSummary.ts
  packages/dapp-kit/src/hooks/mm/useUserReservesData.ts
Due: biome format --write, biome lint

fix(demo,dapp-kit): mm user data not showing (#290)
  apps/demo/src/components/mm/lists/SupplyAssetsList.tsx
  apps/node/src/moneymarket.ts
  packages/dapp-kit/src/hooks/mm/useUserFormattedSummary.ts
  packages/dapp-kit/src/hooks/mm/useUserReservesData.ts
Due: biome format --write, biome lint

chore(sdk): update Sonic hub asset
  packages/sdk/src/constants.ts
Due: biome format --write, biome lint

fix(sdk): sonic money market handling
  packages/sdk/src/moneyMarket/MoneyMarketDataService.ts
  packages/sdk/src/moneyMarket/MoneyMarketService.ts
  packages/sdk/src/moneyMarket/math-utils/formatters/incentive/calculate-all-user-incentives.ts
  packages/sdk/src/services/spoke/SonicSpokeService.ts
Due: biome format --write, biome lint

fix(sdk): sonic money market (#273)
  packages/sdk/src/constants.ts
  packages/sdk/src/moneyMarket/MoneyMarketDataService.ts
  packages/sdk/src/moneyMarket/MoneyMarketService.ts
  packages/sdk/src/moneyMarket/math-utils/formatters/incentive/calculate-all-user-incentives.ts
  packages/sdk/src/services/spoke/SonicSpokeService.ts
Due: biome format --write, biome lint

feat: enhance wallet modal and chain display functionality
  apps/web/app/(apps)/layout.tsx
  apps/web/components/Notification.tsx
  apps/web/components/icons/evm-multi-connect-icon.tsx
  apps/web/components/icons/index.ts
  apps/web/components/landing/herosection.tsx
  apps/web/components/landing/section4.tsx
  apps/web/components/shared/connected-chains-display.tsx
  apps/web/components/shared/wallet-modal/all-support-item.tsx
  apps/web/components/shared/wallet-modal/chain-item.tsx
  apps/web/components/shared/wallet-modal/index.tsx
  apps/web/components/shared/wallet-modal/wallet-item.tsx
  apps/web/components/shared/wallet-modal/wallet-list.tsx
  apps/web/components/shared/wallet-modal/wallet-modal-item.tsx
  apps/web/constants/chains.ts
  apps/web/constants/wallet.ts
  apps/web/hooks/useChainItem.ts
  apps/web/hooks/useWalletConnection.ts
  apps/web/next.config.js
Due: biome format --write, biome lint

refactor(token-utils): improve code readability and handle potential undefined token symbols
  apps/web/lib/token-utils.ts
Due: biome format --write, biome lint

chore: remove unused coin images from public directory
  apps/web/public/coin/BTCB.png
  apps/web/public/coin/ETHB.png
  apps/web/public/coin/WBTC.png
  apps/web/public/coin/XLM.png
  apps/web/public/coin/afSUI.png
  apps/web/public/coin/bnUSD.png
  apps/web/public/coin/cbBTC.png
  apps/web/public/coin/haSUI.png
  apps/web/public/coin/tBTC.png
  apps/web/public/coin/vSUI.png
  apps/web/public/coin/wICX.png
  apps/web/public/coin/weETH.png
  apps/web/public/coin/yapSUI.png
Due: none

chore: clean up unused imports and improve code structure in token-utils
  apps/web/public/coin/afsui.png
  apps/web/public/coin/bnusd.png
  apps/web/public/coin/btcb.png
  apps/web/public/coin/cbbtc.png
  apps/web/public/coin/ethb.png
  apps/web/public/coin/hasui.png
  apps/web/public/coin/tbtc.png
  apps/web/public/coin/vsui.png
  apps/web/public/coin/wbtc.png
  apps/web/public/coin/weeth.png
  apps/web/public/coin/wicx.png
  apps/web/public/coin/xlm.png
  apps/web/public/coin/yapsui.png
Due: none

chore: delete unused trevinSUI.png image from public directory
  apps/web/public/coin/trevinSUI.png
Due: none

chore: remove unused assets and clean up public directory
  apps/web/public/coin/trevinsui.png
Due: none

fix(sdk): tests, move simulation logic
  packages/sdk/src/entities/Sodax.test.ts
  packages/sdk/src/services/solver/SolverService.test.ts
  packages/sdk/src/services/solver/SolverService.ts
  packages/sdk/src/services/spoke/SpokeService.ts
Due: biome format --write, biome lint

feat(wallet-ui): enhance wallet modal functionality
  apps/web/app/(apps)/_context/wallet-ui.tsx
  apps/web/app/(apps)/layout.tsx
  apps/web/app/(apps)/swap/page.tsx
  apps/web/components/shared/wallet-modal/index.tsx
  apps/web/hooks/useWalletConnection.ts
Due: biome format --write, biome lint

fix(sdk): sonic as origin swap
  packages/sdk/src/constants.ts
  packages/sdk/src/entities/Sodax.test.ts
  packages/sdk/src/services/solver/EvmSolverService.ts
  packages/sdk/src/services/solver/SolverService.ts
  packages/sdk/src/types.ts
Due: biome format --write, biome lint

feat: simulate all deposits and wallet calls before submitting on spokes (#262)
  packages/sdk/src/constants.ts
  packages/sdk/src/entities/Sodax.test.ts
  packages/sdk/src/services/solver/SolverService.test.ts
  packages/sdk/src/services/solver/SolverService.ts
  packages/sdk/src/services/spoke/EvmSpokeService.ts
  packages/sdk/src/services/spoke/IconSpokeService.ts
  packages/sdk/src/services/spoke/InjectiveSpokeService.ts
  packages/sdk/src/services/spoke/SolanaSpokeService.ts
  packages/sdk/src/services/spoke/SpokeService.ts
  packages/sdk/src/services/spoke/StellarSpokeService.ts
  packages/sdk/src/services/spoke/SuiSpokeService.ts
  packages/sdk/src/types.ts
Due: biome format --write, biome lint

fix(sdk): sonic as origin swap (#292)
  packages/sdk/src/constants.ts
  packages/sdk/src/entities/Sodax.test.ts
  packages/sdk/src/services/solver/EvmSolverService.ts
  packages/sdk/src/services/solver/SolverService.ts
  packages/sdk/src/types.ts
Due: biome format --write, biome lint

fix(sdk): test timeout
  packages/sdk/src/moneyMarket/MoneyMarketService.test.ts
Due: biome format --write, biome lint

feat: wip
  .gitmodules
  apps/eip-7702/DEPLOYMENT.md
  apps/eip-7702/README.md
  apps/eip-7702/cache/solidity-files-cache.json
  apps/eip-7702/contracts/BatchCall.sol
  apps/eip-7702/contracts/Dummy.sol
  apps/eip-7702/examples/simple-test.js
  apps/eip-7702/foundry.toml
  apps/eip-7702/out/BatchCallAndSponsor.sol/BatchCallAndSponsor.json
  apps/eip-7702/out/Dummy.sol/Dummy.json
  apps/eip-7702/out/ECDSA.sol/ECDSA.json
  apps/eip-7702/out/Math.sol/Math.json
  apps/eip-7702/out/MessageHashUtils.sol/MessageHashUtils.json
  apps/eip-7702/out/Mock.sol/Mock.json
  apps/eip-7702/out/Panic.sol/Panic.json
  apps/eip-7702/out/SafeCast.sol/SafeCast.json
  apps/eip-7702/out/SignedMath.sol/SignedMath.json
  apps/eip-7702/out/Strings.sol/Strings.json
  apps/eip-7702/out/build-info/0786439ce9debfa8ddedb988b0d35cc9.json
  apps/eip-7702/out/build-info/449377c8546f4e05371238da8acf2042.json
  apps/eip-7702/out/build-info/57e25352f55ff408aaa5412af606dee5.json
  apps/eip-7702/package-lock.json
  apps/eip-7702/package.json
Due: biome format --write, biome lint

feat: wip
  apps/eip-7702/DEPLOYMENT.md
  apps/eip-7702/README.md
Due: none

refactor(sdk): sonic intent to native execution
  packages/sdk/src/services/solver/SolverService.ts
  packages/sdk/src/services/spoke/SonicSpokeService.ts
Due: biome format --write, biome lint

refactor(sdk): sonic intent to native execution (#293)
  packages/sdk/src/services/solver/SolverService.ts
  packages/sdk/src/services/spoke/SonicSpokeService.ts
Due: biome format --write, biome lint

chore(sdk): disable icon and stellar deposit simulation
  packages/sdk/src/services/spoke/SpokeService.ts
Due: biome format --write, biome lint

chore(sdk): disable icon and stellar deposit simulation (#295)
  packages/sdk/src/services/spoke/SpokeService.ts
Due: biome format --write, biome lint

feat(swap-page): implement swap functionality with improved token handling and quote fetching
  apps/web/app/(apps)/swap/_components/currency-input-panel.tsx
  apps/web/app/(apps)/swap/_components/swap-confirm-dialog.tsx
  apps/web/app/(apps)/swap/page.tsx
  apps/web/components/icons/index.ts
  apps/web/components/shared/wallet-modal/chain-item.tsx
  apps/web/lib/utils.ts
  packages/dapp-kit/src/hooks/swap/useQuote.ts
  packages/dapp-kit/src/hooks/swap/useSwap.ts
Due: biome format --write, biome lint

feat(swap-page): add custom destination address feature and toggle for swap and send functionality
  apps/web/app/(apps)/swap/_components/currency-input-panel.tsx
  apps/web/app/(apps)/swap/_components/swap-confirm-dialog.tsx
  apps/web/app/(apps)/swap/page.tsx
  apps/web/components/shared/connected-chains-display.tsx
  apps/web/components/ui/switch.tsx
  apps/web/package.json
  pnpm-lock.yaml
Due: biome format --write, biome lint

fix: testnet test examples
  apps/node/package.json
  apps/node/src/near.ts
  packages/sdk/src/constants.ts
  packages/sdk/src/entities/near/NearSpokeProvider.ts
  packages/sdk/src/types.ts
  packages/types/src/evm/index.ts
  pnpm-lock.yaml
Due: biome format --write, biome lint
