Repository icon-project/sodax-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format --write, biome lint

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": ["biome format --write", "biome lint"],
  "**/*.json": ["biome format --write"]
}

refactor: improve async address handling
  apps/node/src/evm.ts
  apps/node/src/icon.ts
  apps/node/src/solana.ts
  packages/sdk/src/entities/stellar/StellarSpokeProvider.ts
  packages/sdk/src/entities/sui/SuiSpokeProvider.ts
Due: biome format --write, biome lint

refactor(sdk): hub address typings, docs
  packages/sdk/README.md
  packages/sdk/docs/MONEY_MARKET.md
  packages/sdk/docs/SOLVER.md
  packages/sdk/src/services/moneyMarket/MoneyMarketService.ts
  packages/sdk/src/services/spoke/CWSpokeService.ts
  packages/sdk/src/services/spoke/EvmSpokeService.ts
  packages/sdk/src/services/spoke/IconSpokeService.ts
  packages/sdk/src/services/spoke/SolanaSpokeService.ts
  packages/sdk/src/services/spoke/StellarSpokeService.ts
  packages/sdk/src/services/spoke/SuiSpokeService.ts
Due: biome format --write, biome lint

chore: reinstall stellar wallets kit to update pnpm lock
  apps/node/package.json
  pnpm-lock.yaml
Due: biome format --write

fix: add @mysten/sui to node package.json
  apps/node/package.json
  pnpm-lock.yaml
Due: biome format --write

fix: fix dapp-kit wallet async change
  packages/dapp-kit/src/wallet-providers/EvmWalletProvider.ts
  packages/dapp-kit/src/wallet-providers/SuiWalletProvider.ts
Due: biome format --write, biome lint

refactor: replace XChainType and XChainId with ChainType and ChainId across the codebase
  apps/demo/src/components/shared/wallet-modal/wallet-item.tsx
  apps/demo/src/components/solver/SwapCard.tsx
  apps/demo/src/zustand/useAppStore.tsx
  packages/dapp-kit/src/core/index.ts
  packages/dapp-kit/src/hooks/useBorrow.ts
  packages/dapp-kit/src/hooks/useRepay.ts
  packages/dapp-kit/src/hooks/useSpokeProvider.ts
  packages/dapp-kit/src/hooks/useSuppliedAssets.ts
  packages/dapp-kit/src/hooks/useWalletProvider.ts
  packages/dapp-kit/src/hooks/useWithdraw.ts
  packages/types/src/index.ts
  packages/wallet-sdk/src/actions/getXChainType.ts
  packages/wallet-sdk/src/actions/getXService.ts
  packages/wallet-sdk/src/constants/index.ts
  packages/wallet-sdk/src/constants/xChains.ts
  packages/wallet-sdk/src/core/XConnector.ts
  packages/wallet-sdk/src/core/XService.ts
  packages/wallet-sdk/src/hooks/useEvmSwitchChain.ts
  packages/wallet-sdk/src/hooks/useWalletProviderOptions.ts
  packages/wallet-sdk/src/hooks/useXAccount.ts
  packages/wallet-sdk/src/hooks/useXAccounts.ts
  packages/wallet-sdk/src/hooks/useXBalances.ts
  packages/wallet-sdk/src/hooks/useXConnection.ts
  packages/wallet-sdk/src/hooks/useXConnectors.ts
  packages/wallet-sdk/src/hooks/useXDisconnect.ts
  packages/wallet-sdk/src/hooks/useXDisconnectAll.ts
  packages/wallet-sdk/src/hooks/useXService.ts
  packages/wallet-sdk/src/types/index.ts
  packages/wallet-sdk/src/useXWagmiStore.tsx
  packages/wallet-sdk/src/utils/index.ts
  packages/wallet-sdk/src/xchains/evm/EvmXService.ts
Due: biome format --write, biome lint

refactor: move wallet providers from dapp-kit to wallet-sdk
  packages/dapp-kit/src/hooks/useSpokeProvider.ts
  packages/dapp-kit/src/hooks/useSuppliedAssets.ts
  packages/wallet-sdk/package.json
  packages/wallet-sdk/src/hooks/index.ts
  packages/wallet-sdk/src/hooks/useWalletProvider.ts
  packages/wallet-sdk/src/index.ts
  packages/wallet-sdk/src/wallet-providers/EvmWalletProvider.ts
  packages/wallet-sdk/src/wallet-providers/SuiWalletProvider.ts
  packages/wallet-sdk/src/wallet-providers/index.ts
  pnpm-lock.yaml
Due: biome format --write, biome lint

fix: type error
  packages/dapp-kit/src/hooks/index.ts
Due: biome format --write, biome lint

refactor: the ChainType and add @sodax/types dependency
  packages/sdk/package.json
  packages/sdk/src/constants.ts
  packages/sdk/src/entities/Providers.ts
  packages/sdk/src/guards.ts
  packages/sdk/src/tests/services/spoke/EvmSpokeService.test.ts
  packages/sdk/src/types.ts
  pnpm-lock.yaml
Due: biome format --write, biome lint

refactor: consolidate Token type imports from @sodax/types across multiple files
  apps/demo/src/components/solver/SwapCard.tsx
  packages/sdk/src/constants.ts
  packages/sdk/src/services/moneyMarket/MoneyMarketService.ts
  packages/sdk/src/types.ts
Due: biome format --write, biome lint

chore: add turbo.json configuration files for demo and types packages, and update tsconfig.json
  apps/demo/turbo.json
  packages/types/tsconfig.json
  packages/types/turbo.json
Due: biome format --write

refactor: simplify useSpokeProvider by removing unnecessary type casting for spokeChainId
  packages/dapp-kit/src/hooks/useSpokeProvider.ts
Due: biome format --write, biome lint

refactor: update chain type assertion in constants test to use uppercase 'EVM'
  packages/sdk/src/constants.test.ts
Due: biome format --write, biome lint

fix: chain type based derived types
  packages/sdk/src/entities/Sodax.test.ts
  packages/sdk/src/index.ts
  packages/sdk/src/types.ts
Due: biome format --write, biome lint

feat(cd): wallet-sdk, dapp-kit and types npm publish gh actions
  .github/workflows/sodax-dapp-kit-publish.yml
  .github/workflows/sodax-types-publish.yml
  .github/workflows/sodax-wallet-sdk-publish.yml
Due: none

feat(cd): wallet-sdk, dapp-kit and types npm publish gh actions (#96)
  .github/workflows/sodax-dapp-kit-publish.yml
  .github/workflows/sodax-types-publish.yml
  .github/workflows/sodax-wallet-sdk-publish.yml
Due: none

refactor: update README for dApp Kit features
  apps/demo/src/components/solver/SwapCard.tsx
  packages/dapp-kit/README.md
  packages/dapp-kit/src/hooks/shared/useSodaxContext.ts
Due: biome format --write, biome lint

chore: reinstall stellar wallets kits to update pnpm lock
  apps/node/package.json
  pnpm-lock.yaml
Due: biome format --write

fix: fix the EVMWalletProvider constructor
  packages/dapp-kit/package.json
  packages/wallet-sdk/src/wallet-providers/EvmWalletProvider.ts
  pnpm-lock.yaml
Due: biome format --write, biome lint

fix: fix tests
  packages/sdk/src/services/solver/SolverService.test.ts
Due: biome format --write, biome lint

feat: move wallet provider to wallet-sdk
  packages/dapp-kit/src/hooks/index.ts
  packages/dapp-kit/src/hooks/useSpokeProvider.ts
  packages/dapp-kit/src/hooks/useSuppliedAssets.ts
  packages/sdk/src/entities/icon/IconSpokeProvider.ts
  packages/sdk/src/entities/sui/SuiSpokeProvider.ts
  packages/sdk/src/interfaces.ts
  packages/sdk/src/services/intentRelay/IntentRelayApiService.ts
  packages/sdk/src/services/moneyMarket/MoneyMarketService.ts
  packages/sdk/src/services/shared/Erc20Service.ts
  packages/sdk/src/services/solver/SolverService.ts
  packages/sdk/src/services/spoke/EvmSpokeService.ts
  packages/sdk/src/services/spoke/IconSpokeService.ts
  packages/sdk/src/services/spoke/SolanaSpokeService.ts
  packages/sdk/src/services/spoke/SpokeService.ts
  packages/sdk/src/types.ts
  packages/sdk/src/utils/evm-utils.ts
  packages/types/src/index.ts
  packages/wallet-sdk/package.json
  packages/wallet-sdk/src/hooks/index.ts
  packages/wallet-sdk/src/hooks/useWalletProvider.ts
  packages/wallet-sdk/src/index.ts
  packages/wallet-sdk/src/wallet-providers/EvmWalletProvider.ts
  packages/wallet-sdk/src/wallet-providers/SuiWalletProvider.ts
  packages/wallet-sdk/src/wallet-providers/index.ts
  pnpm-lock.yaml
Due: biome format --write, biome lint

fix: remove unused packages
  packages/dapp-kit/package.json
  pnpm-lock.yaml
Due: biome format --write

feat: move wallet provider to wallet-sdk (#98)
  packages/dapp-kit/package.json
  packages/dapp-kit/src/hooks/index.ts
  packages/dapp-kit/src/hooks/useSpokeProvider.ts
  packages/dapp-kit/src/hooks/useSuppliedAssets.ts
  packages/sdk/src/entities/icon/IconSpokeProvider.ts
  packages/sdk/src/entities/sui/SuiSpokeProvider.ts
  packages/sdk/src/interfaces.ts
  packages/sdk/src/services/intentRelay/IntentRelayApiService.ts
  packages/sdk/src/services/moneyMarket/MoneyMarketService.ts
  packages/sdk/src/services/shared/Erc20Service.ts
  packages/sdk/src/services/solver/SolverService.ts
  packages/sdk/src/services/spoke/EvmSpokeService.ts
  packages/sdk/src/services/spoke/IconSpokeService.ts
  packages/sdk/src/services/spoke/SolanaSpokeService.ts
  packages/sdk/src/services/spoke/SpokeService.ts
  packages/sdk/src/types.ts
  packages/sdk/src/utils/evm-utils.ts
  packages/types/src/index.ts
  packages/wallet-sdk/package.json
  packages/wallet-sdk/src/hooks/index.ts
  packages/wallet-sdk/src/hooks/useWalletProvider.ts
  packages/wallet-sdk/src/index.ts
  packages/wallet-sdk/src/wallet-providers/EvmWalletProvider.ts
  packages/wallet-sdk/src/wallet-providers/SuiWalletProvider.ts
  packages/wallet-sdk/src/wallet-providers/index.ts
  pnpm-lock.yaml
Due: biome format --write, biome lint

chore: merge types, fix imports and other issues
  apps/node/src/sui-wallet-provider.ts
  packages/sdk/docs/SOLVER.md
  packages/sdk/src/entities/Providers.ts
  packages/sdk/src/entities/cosmos/CWSpokeProvider.ts
  packages/sdk/src/entities/solana/SolanaWalletProvider.ts
  packages/sdk/src/entities/stellar/StellarSpokeProvider.ts
  packages/sdk/src/index.ts
  packages/sdk/src/interfaces.ts
  packages/sdk/src/tests/services/spoke/EvmSpokeService.test.ts
  packages/sdk/src/types.ts
  packages/types/src/common/index.ts
  packages/types/src/constants/index.ts
  packages/types/src/evm/index.ts
  packages/types/src/icon/index.ts
  packages/types/src/index.ts
  packages/types/src/stellar/index.ts
  packages/types/src/sui/index.ts
  packages/types/tsconfig.json
  packages/wallet-sdk/src/wallet-providers/SuiWalletProvider.ts
  pnpm-lock.yaml
Due: biome format --write, biome lint

chore: cleanup prettier package
  packages/dapp-kit/package.json
  packages/sdk/.prettierignore
  packages/sdk/.prettierrc
  packages/wallet-sdk/package.json
Due: biome format --write

chore: pretty lint
  packages/dapp-kit/package.json
  packages/sdk/src/services/intentRelay/IntentRelayApiService.ts
  packages/sdk/src/services/shared/Erc20Service.ts
  packages/sdk/src/services/solver/SolverService.ts
  packages/sdk/src/services/spoke/EvmSpokeService.ts
  packages/sdk/src/services/spoke/IconSpokeService.ts
  packages/sdk/src/services/spoke/SolanaSpokeService.ts
  packages/types/src/common/index.ts
  packages/types/src/constants/index.ts
  packages/types/src/icon/index.ts
  packages/types/src/index.ts
  packages/types/src/stellar/index.ts
  packages/types/src/sui/index.ts
  packages/types/tsconfig.json
  packages/wallet-sdk/package.json
  packages/wallet-sdk/src/hooks/index.ts
Due: biome format --write, biome lint

refactor(sdk): hub address typings, docs (#93)
  packages/sdk/README.md
  packages/sdk/docs/MONEY_MARKET.md
  packages/sdk/docs/SOLVER.md
  packages/sdk/src/services/moneyMarket/MoneyMarketService.ts
  packages/sdk/src/services/spoke/CWSpokeService.ts
  packages/sdk/src/services/spoke/EvmSpokeService.ts
  packages/sdk/src/services/spoke/IconSpokeService.ts
  packages/sdk/src/services/spoke/SolanaSpokeService.ts
  packages/sdk/src/services/spoke/StellarSpokeService.ts
  packages/sdk/src/services/spoke/SuiSpokeService.ts
Due: biome format --write, biome lint

docs(sdk): improved in-code money market docs
  packages/sdk/src/services/moneyMarket/MoneyMarketService.ts
Due: biome format --write, biome lint

docs(sdk): improved in-code solver docs
  packages/sdk/src/services/moneyMarket/MoneyMarketService.ts
  packages/sdk/src/services/solver/SolverService.ts
  packages/sdk/src/types.ts
Due: biome format --write, biome lint

refactor: simplify useXAccount hook, update README for dApp Kit and wallet-sdk
  apps/demo/src/components/mm/lists/SupplyAssetsList/SupplyAssetsList.tsx
  apps/demo/src/pages/money-market/page.tsx
  packages/dapp-kit/README.md
  packages/dapp-kit/src/hooks/mm/useUserReservesData.ts
  packages/dapp-kit/src/hooks/useWithdraw.ts
  packages/wallet-sdk/README.md
  packages/wallet-sdk/src/constants/xChains.ts
  packages/wallet-sdk/src/hooks/useEvmSwitchChain.ts
  packages/wallet-sdk/src/hooks/useXAccount.ts
Due: biome format --write, biome lint

refactor: remove unused constants and hooks from dApp Kit
  packages/dapp-kit/src/constants.ts
  packages/dapp-kit/src/hooks/useWithdraw.ts
Due: biome format --write, biome lint

refactor(wallet-sdk): remove unused hooks and dependencies
  packages/wallet-sdk/package.json
  packages/wallet-sdk/src/hooks/index.ts
  packages/wallet-sdk/src/hooks/useXChainTypes.ts
  packages/wallet-sdk/src/hooks/useXConnectAllChains.ts
  packages/wallet-sdk/src/hooks/useXDisconnectAll.ts
  packages/wallet-sdk/src/xchains/solana/hooks/useAnchorProvider.tsx
  pnpm-lock.yaml
Due: biome format --write, biome lint

refactor(wallet-sdk): change exports to const for consistency
  packages/wallet-sdk/src/xchains/icon/IconXService.ts
  packages/wallet-sdk/src/xchains/icon/iconex/index.tsx
Due: biome format --write, biome lint

refactor(dapp-kit): remove unused hubChainId and hubRpcUrl from context and hooks
  packages/dapp-kit/src/contexts/index.ts
  packages/dapp-kit/src/hooks/mm/index.ts
  packages/dapp-kit/src/hooks/mm/useReservesData.ts
  packages/dapp-kit/src/hooks/mm/useUserReservesData.ts
  packages/dapp-kit/src/hooks/provider/useHubProvider.ts
  packages/dapp-kit/src/providers/SodaxProvider.tsx
Due: biome format --write, biome lint
