Repository icon-project/sodax-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format --write, biome lint

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": ["biome format --write", "biome lint"],
  "**/*.json": ["biome format --write"]
}

fix(sdk): very tx hash raw config type to contain near
  packages/sdk/src/shared/types.ts
Due: biome format --write, biome lint

refactor(sdk): near spoke provider wait
  packages/sdk/src/shared/entities/near/NearSpokeProvider.ts
Due: biome format --write, biome lint

fix(sdk): verify tx hash raw evm check
  packages/sdk/src/shared/services/spoke/SpokeService.ts
Due: biome format --write, biome lint

fix(sdk): stale parameter names cause semantic mismatch
  packages/sdk/src/shared/entities/near/NearSpokeProvider.ts
  packages/sdk/src/shared/services/spoke/NearSpokeService.ts
  packages/sdk/src/shared/types.ts
Due: biome format --write, biome lint

chore(sdk,types): add SODA support to swaps
  packages/types/src/constants/index.ts
Due: biome format --write, biome lint

fix(sdk): verify tx hash raw evm check (#927)
  packages/sdk/src/shared/services/spoke/SpokeService.ts
Due: biome format --write, biome lint

feat(sdk,types): add Soda token on all chains to be supported by the solver (#888)
  packages/types/src/constants/index.ts
Due: biome format --write, biome lint

chore: bump versions
  packages/dapp-kit/package.json
  packages/sdk/package.json
  packages/types/package.json
  packages/types/src/constants/index.ts
  packages/wallet-sdk-core/package.json
  packages/wallet-sdk-react/package.json
Due: biome format --write, biome lint

fix: improve usespokeProvider rpcs and money market UX
  apps/demo/src/components/mm/lists/RepayModal.tsx
  apps/demo/src/components/mm/lists/SupplyModal.tsx
  apps/demo/src/components/mm/lists/WithdrawModal.tsx
  apps/demo/src/components/mm/lists/borrow/BorrowModal.tsx
  apps/demo/src/providers.tsx
Due: biome format --write, biome lint

fix: sdk changes
  packages/dapp-kit/src/hooks/provider/useSpokeProvider.ts
  packages/sdk/src/moneyMarket/UiPoolDataProviderService.ts
Due: biome format --write, biome lint

fix(demo): scope borrowed column debt to selected chain hub wallet
  apps/demo/src/components/mm/lists/borrow/BorrowAssetsList.tsx
Due: biome format --write, biome lint

fix: reverted buton display when address incorrect
  apps/web/app/(apps)/swap/_stores/swap-store-provider.tsx
Due: biome format --write, biome lint

chore(sdk): docs update
  packages/sdk/docs/BRIDGE.md
  packages/sdk/docs/CONFIGURE_SDK.md
  packages/sdk/docs/HOW_TO_CREATE_A_SPOKE_PROVIDER.md
  packages/sdk/docs/HOW_TO_MAKE_A_SWAP.md
  packages/sdk/docs/MIGRATION.md
  packages/sdk/docs/MONEY_MARKET.md
  packages/sdk/docs/STAKING.md
  packages/sdk/docs/STELLAR_TRUSTLINE.md
  packages/sdk/docs/SWAPS.md
  packages/sdk/docs/WALLET_PROVIDERS.md
  packages/sdk/docs/installation/nextjs.md
Due: none

chore: removed unused imports
  apps/web/app/(apps)/swap/_stores/swap-store-provider.tsx
Due: biome format --write, biome lint

fix(sdk): swaps doc for fill tx hash packet data
  packages/sdk/docs/SWAPS.md
Due: none

chore(sdk): docs update (#928)
  packages/sdk/docs/BRIDGE.md
  packages/sdk/docs/CONFIGURE_SDK.md
  packages/sdk/docs/HOW_TO_CREATE_A_SPOKE_PROVIDER.md
  packages/sdk/docs/HOW_TO_MAKE_A_SWAP.md
  packages/sdk/docs/MIGRATION.md
  packages/sdk/docs/MONEY_MARKET.md
  packages/sdk/docs/STAKING.md
  packages/sdk/docs/STELLAR_TRUSTLINE.md
  packages/sdk/docs/SWAPS.md
  packages/sdk/docs/WALLET_PROVIDERS.md
  packages/sdk/docs/installation/nextjs.md
Due: none

fix(sdk): sdk readme.md
  packages/sdk/README.md
Due: none

docs: update spoke provider links
  packages/sdk/docs/MIGRATION.md
  packages/sdk/docs/MONEY_MARKET.md
  packages/sdk/docs/SWAPS.md
Due: none

fix(sdk): sdk readme.md (#929)
  packages/sdk/README.md
  packages/sdk/docs/MIGRATION.md
  packages/sdk/docs/MONEY_MARKET.md
  packages/sdk/docs/SWAPS.md
Due: none

feat: fixed dialog issue and updated packages
  apps/web/components/ui/dialog.tsx
  apps/web/package.json
  pnpm-lock.yaml
Due: biome format --write, biome lint

fix(web): add Solver Soda to production
  apps/web/app/(apps)/pool/page.tsx
  apps/web/package.json
  pnpm-lock.yaml
Due: biome format --write, biome lint

feat(web): add NEAR chain display name to wallet modal
  apps/web/components/shared/wallet-modal/hana/get-hana-for-chain.tsx
Due: biome format --write, biome lint

refactor(web): simplify SodaxWalletProvider import by removing dynamic loading
  apps/web/providers/providers.tsx
Due: biome format --write, biome lint

fix(web): add Solver Soda to production (#930)
  apps/web/app/(apps)/pool/page.tsx
  apps/web/components/shared/wallet-modal/hana/get-hana-for-chain.tsx
  apps/web/package.json
  apps/web/providers/providers.tsx
  pnpm-lock.yaml
Due: biome format --write, biome lint

fix(web): refine production environment checks in constants.ts
  apps/web/providers/constants.ts
Due: biome format --write, biome lint

fix(web): refine production environment checks in constants.ts (#931)
  apps/web/providers/constants.ts
Due: biome format --write, biome lint

feat: added near icon to staking
  apps/web/components/icons/chains/near.tsx
  apps/web/components/shared/network-icon.tsx
Due: biome format --write, biome lint

fix: pnpm lockfile
  pnpm-lock.yaml
Due: none

fix(demo): repay modal chain context and clearer repay error messages
  apps/demo/src/components/mm/lists/RepayModal.tsx
  apps/demo/src/components/mm/lists/borrow/BorrowAssetsList.tsx
  apps/demo/src/lib/utils.ts
  packages/sdk/src/moneyMarket/MoneyMarketService.ts
Due: biome format --write, biome lint

fix: updated total fee displayed in swap
  apps/web/app/(apps)/swap/page.tsx
Due: biome format --write, biome lint

chore: added comments for clarity
  apps/web/app/(apps)/swap/page.tsx
Due: biome format --write, biome lint

fix: reverted change for total fees
  apps/web/app/(apps)/swap/page.tsx
Due: biome format --write, biome lint

fix(web): Total Fee Display - Swap (#933)
  apps/web/app/(apps)/swap/page.tsx
Due: biome format --write, biome lint

fix: removed preselected chain on wallwet connect and added network display icon
  apps/web/app/(apps)/stake/_components/soda-asset.tsx
  apps/web/app/(apps)/stake/_components/stake-selector-panel.tsx
Due: biome format --write, biome lint

feat: created an integration roadmap
  apps/web/app/globals.css
  apps/web/app/partners/integration-scanner/page.tsx
  apps/web/app/partners/page.tsx
  apps/web/components/news/share-button.tsx
  apps/web/components/partners/integration-roadmap-section.tsx
  apps/web/components/partners/integration-scanner-ui.tsx
  apps/web/components/partners/partners-hero-section.tsx
  apps/web/constants/routes.ts
Due: biome format --write, biome lint

fix: updated packages and tailwind
  apps/web/app/partners/integration-scanner/page.tsx
  apps/web/components/partners/integration-roadmap-section.tsx
  apps/web/components/partners/integration-scanner-ui.tsx
  apps/web/constants/routes.ts
Due: biome format --write, biome lint

chore: updated vocabulary used
  apps/web/components/partners/integration-roadmap-section.tsx
  apps/web/components/partners/integration-scanner-ui.tsx
  apps/web/components/partners/network-integration-section.tsx
Due: biome format --write, biome lint

chore: update package references to use workspace links in pnpm-lock.yaml and package.json
  apps/web/package.json
  pnpm-lock.yaml
Due: biome format --write

fix(web): add NEAR_MAINNET_CHAIN_ID support in network selectors and utils
  apps/web/app/(apps)/pool/_components/pool-network-selector.tsx
  apps/web/app/(apps)/stake/_components/stake-selector-panel.tsx
  apps/web/lib/utils.ts
Due: biome format --write, biome lint
