Repository icon-project/sodax-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format --write, biome lint

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": ["biome format --write", "biome lint"],
  "**/*.json": ["biome format --write"]
}

docs: update README with links to detailed documentation
  packages/sdk/README.md
Due: none

refactor(sdk): migration bnUSD
  packages/sdk/src/constants.ts
  packages/sdk/src/services/migration/BnUSDMigrationService.ts
  packages/sdk/src/services/migration/MigrationService.ts
  packages/sdk/src/types.ts
Due: biome format --write, biome lint

feat: implement wallet connection modal and integrate wallet selection in AppsContainer
  apps/web/app/apps-container/page.tsx
  apps/web/components/shared/wallet-modal/index.tsx
  apps/web/components/shared/wallet-modal/wallet-item.tsx
  apps/web/components/ui/dialog.tsx
  apps/web/components/ui/terms-confirmation-modal.tsx
Due: biome format --write, biome lint

feat: add Migrate page with wallet connection and tabbed content for apps pages
  apps/web/app/(apps)/migrate/page.tsx
Due: biome format --write, biome lint

feat: add AppsLayout component to render children with a greeting
  apps/web/app/(apps)/layout.tsx
Due: biome format --write, biome lint

refactor: update styling in AppsContainer and WalletModal components for improved UI consistency
  apps/web/app/apps-container/page.tsx
  apps/web/components/shared/wallet-modal/index.tsx
Due: biome format --write, biome lint

fix: use correct AM for sui simulation
  packages/sdk/src/constants.ts
  packages/sdk/src/services/spoke/SuiSpokeService.ts
  packages/sdk/src/types.ts
Due: biome format --write, biome lint

chore: update dependencies
  packages/sdk/package.json
  pnpm-lock.yaml
Due: biome format --write

docs: add installation guide for @sodax/sdk with Next.js
  packages/sdk/docs/installation/nextjs.md
Due: none

feat: enhance wallet connection flow with connected chains display
  apps/web/app/apps-container/page.tsx
  apps/web/components/shared/wallet-modal/index.tsx
  apps/web/components/shared/wallet-modal/wallet-item.tsx
  apps/web/components/ui/terms-confirmation-modal.tsx
Due: biome format --write, biome lint

refactor: update Icon SDK imports to named imports for consistency and clarity
  apps/node/src/wallet-providers/IconWalletProvider.ts
  packages/sdk/src/entities/icon/IconSpokeProvider.ts
  packages/sdk/src/services/spoke/IconSpokeService.ts
  packages/wallet-sdk/src/wallet-providers/IconWalletProvider.ts
  packages/wallet-sdk/src/xchains/icon/IconXService.ts
Due: biome format --write, biome lint

refactor: remove unused Icon Utils comments in IconWalletProvider.ts
  apps/node/src/wallet-providers/IconWalletProvider.ts
Due: biome format --write, biome lint

refactor: clean up comments and improve error handling in wallet connection flow
  apps/web/app/apps-container/page.tsx
  apps/web/components/shared/wallet-modal/wallet-item.tsx
Due: biome format --write, biome lint

feat: add detailed docs (#254)
  apps/node/src/config.ts
  apps/node/src/evm.ts
  apps/node/src/icon.ts
  apps/node/src/solana.ts
  apps/node/src/sonic.ts
  apps/node/src/stellar.ts
  apps/node/src/sui.ts
  packages/sdk/README.md
  packages/sdk/docs/installation/nextjs.md
  packages/sdk/package.json
  packages/sdk/src/constants.ts
  packages/sdk/src/services/migration/BalnSwapService.ts
  packages/sdk/src/services/migration/BnUSDMigrationService.ts
  packages/sdk/src/services/migration/MigrationService.test.ts
  packages/sdk/src/services/migration/MigrationService.ts
  packages/sdk/src/types.ts
  pnpm-lock.yaml
Due: biome format --write, biome lint

feat: migration page
  apps/web/app/(apps)/layout.tsx
  apps/web/app/(apps)/migrate/page.tsx
Due: biome format --write, biome lint

feat: add Radix UI components and framer-motion for enhanced UI in migration page
  apps/web/app/(apps)/migrate/page.tsx
  apps/web/components/landing/launch-button.tsx
  apps/web/components/ui/AnimatedCircularProgress.tsx
  apps/web/components/ui/AnimatedTooltip.tsx
  apps/web/components/ui/CircularProgress.tsx
  apps/web/components/ui/button.tsx
  apps/web/components/ui/imports/svg-epkf1qslqq.ts
  apps/web/components/ui/imports/svg-wvqxyi2334.ts
  apps/web/components/ui/popover.tsx
  apps/web/components/ui/terms-confirmation-modal.tsx
  apps/web/components/ui/tooltip.tsx
  apps/web/package.json
  pnpm-lock.yaml
Due: biome format --write, biome lint

refactor: fix animatedtooltip
  apps/web/app/apps-container/page.tsx
  apps/web/components/ui/AnimatedTooltip.tsx
Due: biome format --write, biome lint

refactor(sdk,node): unified bnUSD migration
  apps/node/src/icon.ts
  apps/node/src/sonic.ts
  apps/node/src/stellar.ts
  apps/node/src/sui.ts
  packages/sdk/docs/MIGRATION.md
  packages/sdk/src/constants.ts
  packages/sdk/src/services/migration/BnUSDMigrationService.ts
  packages/sdk/src/services/migration/MigrationService.ts
  packages/sdk/src/types.ts
Due: biome format --write, biome lint

test(sdk): migration bnUSD
  packages/sdk/src/services/migration/MigrationService.test.ts
  packages/sdk/src/services/migration/MigrationService.ts
Due: biome format --write, biome lint

chore(sdk): format
  packages/sdk/src/constants.test.ts
  packages/sdk/src/services/migration/MigrationService.test.ts
Due: biome format --write, biome lint

docs(SDK): replace xWagmi with Wallet SDK
  packages/sdk/README.md
Due: none

docs(SDK): replace xWagmi with Wallet SDK (#259)
  packages/sdk/README.md
Due: none

docs(sdk): update README.md
  packages/sdk/README.md
Due: none

chore(sdk): Update SOLVER.md
  packages/sdk/docs/SOLVER.md
Due: none

docs(sdk): remove assetManagerAddress form isAllowanceValid
  packages/sdk/docs/SOLVER.md
Due: none

docs(sdk): approval wait comment
  packages/sdk/docs/SOLVER.md
Due: none

fix(sdk): solver partner fee in swap
  packages/sdk/docs/SOLVER.md
  packages/sdk/src/entities/Sodax.test.ts
  packages/sdk/src/services/solver/SolverService.test.ts
  packages/sdk/src/services/solver/SolverService.ts
Due: biome format --write, biome lint

fix(sdk): solver partner fee in swap (#260)
  packages/sdk/docs/SOLVER.md
  packages/sdk/src/entities/Sodax.test.ts
  packages/sdk/src/services/solver/SolverService.test.ts
  packages/sdk/src/services/solver/SolverService.ts
Due: biome format --write, biome lint

feat: enhance migration functionality
  apps/web/app/(apps)/migrate/page.tsx
  apps/web/app/apps-container/page.tsx
  apps/web/components/shared/wallet-modal/index.tsx
  apps/web/components/shared/wallet-modal/wallet-item.tsx
  apps/web/components/ui/network-display.tsx
  apps/web/components/ui/network-input-display.tsx
Due: biome format --write, biome lint

chore: update package versions and resolve conflicts in pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

fix(sdk): allowance and test
  apps/node/package.json
  apps/node/src/bnusd-migration.test.ts
  apps/node/src/wallet-providers/IconWalletProvider.ts
  packages/sdk/src/constants.ts
  packages/sdk/src/guards.ts
  packages/sdk/src/services/migration/MigrationService.test.ts
  packages/sdk/src/services/migration/MigrationService.ts
Due: biome format --write, biome lint

refactor(sdk,node): migration bnUSD (#251)
  apps/node/package.json
  apps/node/src/bnusd-migration.test.ts
  apps/node/src/icon.ts
  apps/node/src/sonic.ts
  apps/node/src/stellar.ts
  apps/node/src/sui.ts
  apps/node/src/wallet-providers/IconWalletProvider.ts
  packages/sdk/docs/MIGRATION.md
  packages/sdk/src/constants.test.ts
  packages/sdk/src/constants.ts
  packages/sdk/src/guards.ts
  packages/sdk/src/services/migration/BnUSDMigrationService.ts
  packages/sdk/src/services/migration/MigrationService.test.ts
  packages/sdk/src/services/migration/MigrationService.ts
  packages/sdk/src/types.ts
Due: biome format --write, biome lint

feat: refactor layout and migration components for improved wallet integration and UI enhancements
  apps/web/app/(apps)/_context/wallet-ui.tsx
  apps/web/app/(apps)/layout.tsx
  apps/web/app/(apps)/loans/page.tsx
  apps/web/app/(apps)/migrate/page.tsx
  apps/web/app/(apps)/savings/page.tsx
  apps/web/app/(apps)/swap/page.tsx
  apps/web/components/shared/wallet-modal/wallet-item.tsx
  apps/web/components/ui/network-display.tsx
  apps/web/components/ui/network-input-display.tsx
  apps/web/components/ui/route-tab-item.tsx
Due: biome format --write, biome lint

chore: bump versions
  packages/dapp-kit/package.json
  packages/sdk/package.json
  packages/types/package.json
  packages/wallet-sdk/package.json
Due: biome format --write

feat: simulate all deposits and wallet calls before submitting on spokes
  packages/sdk/src/constants.ts
  packages/sdk/src/services/spoke/EvmSpokeService.ts
  packages/sdk/src/services/spoke/IconSpokeService.ts
  packages/sdk/src/services/spoke/InjectiveSpokeService.ts
  packages/sdk/src/services/spoke/SolanaSpokeService.ts
  packages/sdk/src/services/spoke/SpokeService.ts
  packages/sdk/src/services/spoke/StellarSpokeService.ts
  packages/sdk/src/services/spoke/SuiSpokeService.ts
  packages/sdk/src/types.ts
Due: biome format --write, biome lint

feat: add bridge service
  apps/node/src/sonic.ts
  apps/node/src/sui.ts
  packages/sdk/src/constants.ts
  packages/sdk/src/services/bridge/BridgeService.ts
  packages/sdk/src/services/bridge/index.ts
  packages/sdk/src/services/index.ts
Due: biome format --write, biome lint

feat: add wallet-sdk-core
  packages/wallet-sdk-core/.gitignore
  packages/wallet-sdk-core/LICENSE
  packages/wallet-sdk-core/README.md
  packages/wallet-sdk-core/biome.json
  packages/wallet-sdk-core/package.json
  packages/wallet-sdk-core/src/index.ts
  packages/wallet-sdk-core/src/wallet-providers/common/index.ts
  packages/wallet-sdk-core/src/wallet-providers/evm/index.ts
  packages/wallet-sdk-core/src/wallet-providers/icon/index.ts
  packages/wallet-sdk-core/src/wallet-providers/index.ts
  packages/wallet-sdk-core/src/wallet-providers/injective/index.ts
  packages/wallet-sdk-core/src/wallet-providers/solana/index.ts
  packages/wallet-sdk-core/src/wallet-providers/stellar/index.ts
  packages/wallet-sdk-core/src/wallet-providers/sui/index.ts
  packages/wallet-sdk-core/tsconfig.json
  packages/wallet-sdk-core/tsup.config.ts
  packages/wallet-sdk-core/turbo.json
  pnpm-lock.yaml
Due: biome format --write, biome lint

feat(migrate): add balance validation and reset input values on direction switch
  apps/web/app/(apps)/migrate/page.tsx
Due: biome format --write, biome lint

fix(migrate): adjust button width for responsive design
  apps/web/app/(apps)/migrate/page.tsx
Due: biome format --write, biome lint
