Repository icon-project/sodax-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format --write, biome lint

wip
  packages/sdk/src/services/moneyMarket/MoneyMarketService.ts
  packages/sdk/src/services/solver/EvmSolverService.ts
  packages/sdk/src/services/solver/SolverService.ts
  packages/sdk/src/types.ts
Due: biome format --write, biome lint

chore: remove thirdweb dependency from package.json
  packages/sdk/package.json
Due: biome format --write

fix(web): fs import issue
  apps/web/next.config.js
  apps/web/package.json
Due: biome format --write, biome lint

feat: ci
  .github/workflows/ci.yml
  .gitignore
  .husky/commit-msg
  package.json
  pnpm-lock.yaml
Due: biome format --write

chore: github templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/epic.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/task_template.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

System program id from dist removed
  packages/sdk/src/services/spoke/SolanaSpokeService.ts
Due: biome format --write, biome lint

chore: refactor fee logic and add tests
  packages/sdk/src/constants.ts
  packages/sdk/src/guards.ts
  packages/sdk/src/services/moneyMarket/MoneyMarketService.ts
  packages/sdk/src/services/solver/EvmSolverService.ts
  packages/sdk/src/services/solver/SolverService.test.ts
  packages/sdk/src/services/solver/SolverService.ts
  packages/sdk/src/types.ts
  packages/sdk/src/utils/shared-utils.test.ts
  packages/sdk/src/utils/shared-utils.ts
Due: biome format --write, biome lint

fix: gitingore tsconfig.tsbuildinfo in react solver example
  apps/react-solver-example/.gitignore
  apps/react-solver-example/tsconfig.tsbuildinfo
Due: none

chore: update package.json scripts and dependencies
  apps/react-solver-example/package.json
  package.json
  pnpm-lock.yaml
Due: biome format --write

feat: test
  apps/react-solver-example/.gitignore
  apps/react-solver-example/README.md
  apps/react-solver-example/biome.json
  apps/react-solver-example/components.json
  apps/react-solver-example/index.html
  apps/react-solver-example/package.json
  apps/react-solver-example/postcss.config.js
  apps/react-solver-example/public/favicon.ico
  apps/react-solver-example/public/logo192.png
  apps/react-solver-example/public/logo512.png
  apps/react-solver-example/public/manifest.json
  apps/react-solver-example/public/robots.txt
  apps/react-solver-example/src/App.css
  apps/react-solver-example/src/App.tsx
  apps/react-solver-example/src/components/ConnectEvmWalletButton.tsx
  apps/react-solver-example/src/components/ConnectIconWalletButton.tsx
  apps/react-solver-example/src/components/ConnectSuiWalletButton.tsx
  apps/react-solver-example/src/components/IntentStatus.tsx
  apps/react-solver-example/src/components/SelectChain.tsx
  apps/react-solver-example/src/components/SwapCard.tsx
  apps/react-solver-example/src/components/ui/button.tsx
  apps/react-solver-example/src/components/ui/card.tsx
  apps/react-solver-example/src/components/ui/dialog.tsx
  apps/react-solver-example/src/components/ui/input.tsx
  apps/react-solver-example/src/components/ui/label.tsx
  apps/react-solver-example/src/components/ui/select.tsx
  apps/react-solver-example/src/constants.ts
  apps/react-solver-example/src/contexts/SolverContextProvider.tsx
  apps/react-solver-example/src/index.css
  apps/react-solver-example/src/index.tsx
  apps/react-solver-example/src/lib/utils.ts
  apps/react-solver-example/src/logo.svg
  apps/react-solver-example/src/react-app-env.d.ts
  apps/react-solver-example/tailwind.config.js
  apps/react-solver-example/tsconfig.json
  apps/react-solver-example/vercel.json
  apps/react-solver-example/vite.config.ts
  pnpm-lock.yaml
Due: biome format --write, biome lint

refactor: comment out unused imports and improving code formatting
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
Due: biome format --write, biome lint

fix: add sui test for filler
  apps/node/src/sui.ts
  pnpm-lock.yaml
Due: biome format --write, biome lint

feat: landing page
  apps/web/app/footer.tsx
  apps/web/app/globals.css
  apps/web/app/herosection.tsx
  apps/web/app/landing.css
  apps/web/app/page.tsx
  apps/web/app/section1.tsx
  apps/web/app/section2.tsx
  apps/web/app/section3.tsx
  apps/web/app/section4.tsx
  apps/web/app/section5.tsx
  apps/web/app/section6.tsx
  apps/web/app/sidebar.tsx
  apps/web/public/circle1.png
  apps/web/public/girl.png
  apps/web/public/section2-1.png
  apps/web/public/section2.png
  apps/web/public/section4.png
  apps/web/public/section5-1.png
  apps/web/public/section5-2.png
  apps/web/public/sodax.png
Due: biome format --write, biome lint

fix: lowercase color names
  apps/web/app/footer.tsx
  apps/web/app/globals.css
  apps/web/app/herosection.tsx
  apps/web/app/page.tsx
  apps/web/app/section1.tsx
  apps/web/app/section2.tsx
  apps/web/app/section3.tsx
  apps/web/app/section4.tsx
  apps/web/app/section5.tsx
  apps/web/app/section6.tsx
Due: biome format --write, biome lint

fix: lowercase color names
  apps/web/app/footer.tsx
  apps/web/app/globals.css
  apps/web/app/page.tsx
  apps/web/app/section4.tsx
Due: biome format --write, biome lint

refactor: add explicit return types to HeroSection and Sidebar components
  apps/web/app/herosection.tsx
  apps/web/app/sidebar.tsx
Due: biome format --write, biome lint

fix: standardize color variable names to lowercase
  apps/web/app/globals.css
  apps/web/app/herosection.tsx
  apps/web/app/section4.tsx
Due: biome format --write, biome lint

refactor: add explicit return type to Footer component
  apps/web/app/footer.tsx
Due: biome format --write, biome lint

chore: update TypeScript configuration for Next.js to include jsxImportSource and types
  packages/typescript-config/nextjs.json
Due: biome format --write

fix: update button styles in Section4 component
  apps/web/app/section4.tsx
  apps/web/components/ui/button.tsx
Due: biome format --write, biome lint

fix: update button styles in Section4 component for improved consistency
  apps/web/app/section4.tsx
Due: biome format --write, biome lint

fix: standardize button styles across multiple sections for consistency
  apps/web/app/section1.tsx
  apps/web/app/section2.tsx
  apps/web/app/section3.tsx
  apps/web/app/section4.tsx
  apps/web/app/section5.tsx
  apps/web/app/section6.tsx
  apps/web/components/ui/button.tsx
Due: biome format --write, biome lint

fix: enhance button styles and layout in HeroSection and LandingPage for improved consistency
  apps/web/app/herosection.tsx
  apps/web/app/page.tsx
Due: biome format --write, biome lint

feat: add navigation menu to HeroSection for improved user access
  apps/web/app/herosection.tsx
Due: biome format --write, biome lint

fix: react dependencies
  apps/react-solver-example/package.json
  pnpm-lock.yaml
Due: biome format --write

fix: changes sui-package-id
  apps/node/src/sui.ts
  packages/sdk/src/constants.ts
Due: biome format --write, biome lint

fix:update sui.ts
  apps/node/src/sui.ts
Due: biome format --write, biome lint

fix: update sui.ts
  apps/node/src/sui.ts
Due: biome format --write, biome lint

fix: changes sui-package-id (#9)
  packages/sdk/src/constants.ts
Due: biome format --write, biome lint

fix: update dialog
  apps/web/app/herosection.tsx
  apps/web/app/page.tsx
  apps/web/components/ui/dialog.tsx
Due: biome format --write, biome lint

fix: small change: I have updated terms and conditions Shadcn component, also defining check state
  apps/web/app/herosection.tsx
  apps/web/components/ui/checkbox.tsx
Due: biome format --write, biome lint

chore: fee rework + refactor
  packages/sdk/src/constants.ts
  packages/sdk/src/services/moneyMarket/MoneyMarketService.ts
  packages/sdk/src/services/solver/CWSolverService.test.ts
  packages/sdk/src/services/solver/CWSolverService.ts
  packages/sdk/src/services/solver/EvmSolverService.test.ts
  packages/sdk/src/services/solver/EvmSolverService.ts
  packages/sdk/src/services/solver/IconSolverService.test.ts
  packages/sdk/src/services/solver/IconSolverService.ts
  packages/sdk/src/services/solver/SolanaSolverService.ts
  packages/sdk/src/services/solver/SolverService.test.ts
  packages/sdk/src/services/solver/SolverService.ts
  packages/sdk/src/services/solver/StellarSolverService.test.ts
  packages/sdk/src/services/solver/StellarSolverService.ts
  packages/sdk/src/services/solver/SuiSolverService.test.ts
  packages/sdk/src/services/solver/SuiSolverService.ts
  packages/sdk/src/services/spoke/CWSpokeService.ts
  packages/sdk/src/services/spoke/IconSpokeService.ts
  packages/sdk/src/services/spoke/SolanaSpokeService.ts
  packages/sdk/src/services/spoke/SpokeService.ts
  packages/sdk/src/services/spoke/StellarSpokeService.ts
  packages/sdk/src/services/spoke/SuiSpokeService.ts
  packages/sdk/src/types.ts
  packages/sdk/src/utils/shared-utils.ts
Due: biome format --write, biome lint

fix: update package.json and pnpm-lock.yaml to include react and react-dom dependencies from catalog
  package.json
  pnpm-lock.yaml
Due: biome format --write

fix: feedback
  apps/web/app/footer.tsx
  apps/web/app/herosection.tsx
  apps/web/app/section1.tsx
  apps/web/app/section2.tsx
  apps/web/app/section3.tsx
  apps/web/app/section4.tsx
  apps/web/app/section5.tsx
  apps/web/app/section6.tsx
  apps/web/components/ui/button.tsx
  apps/web/package.json
  apps/web/public/girl.jpg
  apps/web/public/girl1.jpg
  apps/web/public/girl2.jpg
  apps/web/public/section2-1.jpg
  apps/web/public/section2.jpg
  apps/web/public/section2.png
  apps/web/public/section4.jpg
  apps/web/public/section4.png
  apps/web/public/section5-1.jpg
  apps/web/public/section5-2.jpg
  apps/web/public/section5-2.png
  apps/web/public/sodax.jpg
  apps/web/public/sodax.png
  apps/web/public/sodax1.jpg
  apps/web/public/symbol_dark.png
  pnpm-lock.yaml
Due: biome format --write, biome lint

fix: herosection
  apps/web/app/herosection.tsx
Due: biome format --write, biome lint

fix: update pnpm-lock.yaml and package.json to align react and react-dom types with catalog versions
  apps/react-solver-example/package.json
  pnpm-lock.yaml
Due: biome format --write

Path conditions:
  biome format --write: (any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.json)
  biome lint: any of: **/*.{js,jsx,ts,tsx}
