Repository icon-project/sodax-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format --write, biome lint

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": ["biome format --write", "biome lint"],
  "**/*.json": ["biome format --write"]
}

refactor: remove unused hooks and components from demo package
  apps/demo/src/hooks/useSpokeProvider.ts
  apps/demo/src/hooks/useSwitchWalletChain.ts
  apps/demo/src/hooks/useWalletProvider.ts
  apps/demo/src/pages/page.tsx
Due: biome format --write, biome lint

refactor: move header and wallet modal components to shared directory and update imports
  apps/demo/src/App.tsx
  apps/demo/src/components/shared/header.tsx
  apps/demo/src/components/shared/wallet-modal/index.tsx
  apps/demo/src/components/shared/wallet-modal/wallet-item.tsx
  apps/demo/src/pages/money-market/page.tsx
Due: biome format --write, biome lint

refactor: integrate Zustand for wallet modal state management in header and swap components
  apps/demo/src/components/shared/header.tsx
  apps/demo/src/components/solver/SwapCard.tsx
  apps/demo/src/pages/money-market/page.tsx
  apps/demo/src/pages/solver/page.tsx
  apps/demo/src/zustand/useAppStore.tsx
Due: biome format --write, biome lint

refactor: update layout of SolverPage and enhance spokeChainConfig with additional supported tokens
  apps/demo/src/pages/solver/page.tsx
  packages/sdk/src/constants.ts
Due: biome format --write, biome lint

chore(sdk): doc updates, cleanups
  packages/sdk/README.md
  packages/sdk/docs/MONEY_MARKET.md
  packages/sdk/docs/SOLVER.md
  packages/sdk/src/constants.ts
  packages/sdk/src/entities/Providers.ts
  packages/sdk/src/entities/Sodax.test.ts
  packages/sdk/src/entities/Sodax.ts
  packages/sdk/src/services/intentRelay/IntentRelayApiService.ts
  packages/sdk/src/services/moneyMarket/MoneyMarketService.ts
  packages/sdk/src/services/solver/SolverService.test.ts
  packages/sdk/src/services/solver/SolverService.ts
  packages/sdk/src/tests/services/hub/EvmAssetManagerService.test.ts
Due: biome format --write, biome lint

chore(sdk): after merge resolving
  packages/sdk/src/constants.ts
Due: biome format --write, biome lint

fix: breaking changes
  apps/demo/src/constants.ts
  apps/node/src/cosmos.ts
  apps/node/src/evm.ts
  apps/node/src/icon.ts
  apps/node/src/moneymarket.ts
  apps/node/src/solana.ts
  apps/node/src/stellar.ts
  apps/node/src/sui.ts
  apps/node/src/wallet-providers.ts
  packages/dapp-kit/src/contexts/index.ts
  packages/dapp-kit/src/core/index.ts
  packages/dapp-kit/src/providers/SodaxProvider.tsx
Due: biome format --write, biome lint

chore(sdk): update money market docs
  packages/sdk/docs/MONEY_MARKET.md
Due: none

feat(hooks): add refetch interval to useQuote for improved data freshness
  packages/dapp-kit/src/hooks/useQuote.ts
Due: biome format --write, biome lint

fix(node): create wallet client pk
  apps/node/src/wallet-providers.ts
Due: biome format --write, biome lint

feat: enhance SwapCard with slippage input and minimum output amount display
  apps/demo/src/components/solver/IntentStatus.tsx
  apps/demo/src/components/solver/SwapCard.tsx
  apps/demo/src/constants.ts
Due: biome format --write, biome lint

chore: wip
  apps/node/package.json
  apps/node/src/sonic.ts
  apps/node/src/wallet-providers.ts
  packages/sdk/src/abis/pool.abi.ts
  packages/sdk/src/abis/sonicWalletFactory.abi.ts
  packages/sdk/src/abis/variableDebtToken.abi.ts
  packages/sdk/src/abis/wrappedSonic.abi.ts
  packages/sdk/src/constants.ts
  packages/sdk/src/entities/Providers.ts
  packages/sdk/src/entities/icon/IconWalletProvider.ts
  packages/sdk/src/entities/stellar/StellarSpokeProvider.ts
  packages/sdk/src/services/hub/EvmAssetManagerService.ts
  packages/sdk/src/services/moneyMarket/MoneyMarketService.ts
  packages/sdk/src/services/shared/Erc20Service.ts
  packages/sdk/src/services/spoke/IconSpokeService.ts
  packages/sdk/src/services/spoke/SonicSpokeService.ts
  packages/sdk/src/services/spoke/index.ts
  packages/sdk/src/types.ts
  packages/sdk/tsconfig.json
Due: biome format --write, biome lint

feat: wip: borrow
  apps/demo/src/components/mm/lists/BorrowAssetsList/BorrowAssetsList.tsx
  apps/demo/src/components/mm/lists/BorrowAssetsList/BorrowAssetsListItem.tsx
  apps/demo/src/components/mm/lists/BorrowAssetsList/BorrowButton.tsx
  apps/demo/src/pages/money-market/page.tsx
  packages/dapp-kit/src/hooks/index.ts
  packages/dapp-kit/src/hooks/useReservesData.ts
Due: biome format --write, biome lint

docs: main readme
  CONTRIBUTING.md
  README.md
  packages/dapp-kit/README.md
  packages/xwagmi/README.md
Due: none

docs: main readme (#51)
  CONTRIBUTING.md
  README.md
  packages/dapp-kit/README.md
  packages/xwagmi/README.md
Due: none

feat: add sui interface wallet support
  packages/sdk/src/entities/Providers.ts
  packages/sdk/src/entities/index.ts
  packages/sdk/src/entities/sui/SuiSpokeProvider.ts
  packages/sdk/src/entities/sui/SuiWalletProvider.ts
  packages/sdk/src/interfaces.ts
Due: biome format --write, biome lint

chore: remove unused @suiet/wallet-kit package from package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: biome format --write

feat: borrow test tx
  apps/demo/src/components/mm/lists/BorrowAssetsList/BorrowAssetsList.tsx
  packages/dapp-kit/src/hooks/useBorrow.ts
Due: biome format --write, biome lint

feat: replace IntentStatus with OrderStatus component and update SwapCard to manage orders
  apps/demo/src/components/solver/IntentStatus.tsx
  apps/demo/src/components/solver/OrderStatus.tsx
  apps/demo/src/components/solver/SwapCard.tsx
  apps/demo/src/lib/utils.ts
  apps/demo/src/pages/solver/page.tsx
  packages/sdk/src/services/solver/SolverService.ts
Due: biome format --write, biome lint

refactor: clean up code formatting and improve readability in various files
  apps/demo/src/components/mm/lists/BorrowAssetsList/BorrowAssetsList.tsx
  apps/node/src/cosmos.ts
  apps/node/src/evm.ts
  apps/node/src/icon.ts
  apps/node/src/solana.ts
  apps/node/src/stellar.ts
  apps/node/src/sui.ts
  packages/sdk/src/entities/cosmos/CW20Token.ts
  packages/sdk/src/entities/icon/HanaWalletConnector.ts
  packages/sdk/src/services/moneyMarket/MoneyMarketService.test.ts
  packages/sdk/src/services/spoke/EvmSpokeService.ts
  packages/sdk/src/services/spoke/SpokeService.ts
  packages/sdk/src/tests/services/hub/EvmAssetManagerService.test.ts
Due: biome format --write, biome lint

feat: removed anchor package and replace with solana/web3
  packages/sdk/src/entities/solana/Configs.ts
  packages/sdk/src/entities/solana/pda/pda.ts
  packages/sdk/src/services/spoke/SolanaSpokeService.ts
Due: biome format --write, biome lint

fix: useBorrow
  packages/dapp-kit/src/hooks/useBorrow.ts
Due: biome format --write, biome lint

refactor(sdk): token chain configs
  apps/demo/src/components/solver/SwapCard.tsx
  apps/demo/src/constants.ts
  packages/sdk/src/constants.ts
  packages/sdk/src/services/moneyMarket/MoneyMarketService.test.ts
  packages/sdk/src/services/moneyMarket/MoneyMarketService.ts
  packages/sdk/src/types.ts
Due: biome format --write, biome lint

refactor(sdk): token chain configs (#58)
  apps/demo/src/components/solver/SwapCard.tsx
  apps/demo/src/constants.ts
  packages/sdk/src/constants.ts
  packages/sdk/src/services/moneyMarket/MoneyMarketService.test.ts
  packages/sdk/src/services/moneyMarket/MoneyMarketService.ts
  packages/sdk/src/types.ts
Due: biome format --write, biome lint

feat(sdk): token allowance + better invariants
  packages/sdk/README.md
  packages/sdk/docs/MONEY_MARKET.md
  packages/sdk/docs/SOLVER.md
  packages/sdk/src/constants.ts
  packages/sdk/src/services/moneyMarket/MoneyMarketService.ts
  packages/sdk/src/services/shared/Erc20Service.ts
  packages/sdk/src/services/solver/SolverService.ts
Due: biome format --write, biome lint

chore(sdk): readme update on providers
  packages/sdk/README.md
Due: none

feat(sdk) token allowance (#62)
  packages/sdk/README.md
  packages/sdk/docs/MONEY_MARKET.md
  packages/sdk/docs/SOLVER.md
  packages/sdk/src/constants.ts
  packages/sdk/src/services/moneyMarket/MoneyMarketService.ts
  packages/sdk/src/services/shared/Erc20Service.ts
  packages/sdk/src/services/solver/SolverService.ts
Due: biome format --write, biome lint

feat(sdk): npm publish
  .github/workflows/sodax-sdk-publish.yml
Due: none

chore(sdk): set sdk version 0.0.1-rc.1
  packages/sdk/package.json
Due: biome format --write

chore(sdk): rename sodax/sdk to @sodax/sdk in docs
  packages/sdk/README.md
  packages/sdk/docs/MONEY_MARKET.md
  packages/sdk/docs/SOLVER.md
Due: none

feat(sdk): npm publish (#64)
  .github/workflows/sodax-sdk-publish.yml
  packages/sdk/README.md
  packages/sdk/docs/MONEY_MARKET.md
  packages/sdk/docs/SOLVER.md
  packages/sdk/package.json
Due: biome format --write

chore(sdk): sodax-sdk-publish update
  .github/workflows/sodax-sdk-publish.yml
Due: none

fix(sodax-sdk-publish): --no-git-checks
  .github/workflows/sodax-sdk-publish.yml
Due: none

chore: Update README.md
  packages/sdk/README.md
Due: none

chore(sdk): Update package.json version
  packages/sdk/package.json
Due: biome format --write

feat: implement token allowance and approval hooks
  apps/demo/src/components/mm/lists/SuppliedAssetsList/SuppliedAssetsListItem.tsx
  apps/demo/src/components/mm/lists/SupplyAssetsList/SupplyButton.tsx
  packages/dapp-kit/src/hooks/index.ts
  packages/dapp-kit/src/hooks/useAllowance.ts
  packages/dapp-kit/src/hooks/useApprove.ts
  packages/sdk/src/services/moneyMarket/MoneyMarketService.ts
  packages/sdk/src/services/shared/Erc20Service.ts
Due: biome format --write, biome lint

fix: get sui balances
  apps/demo/src/pages/money-market/page.tsx
  packages/xwagmi/src/XWagmiProviders.tsx
  packages/xwagmi/src/xchains/sui/SuiXService.ts
Due: biome format --write, biome lint
