Repository icon-project/sodax-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format --write, biome lint

feat(web): redesign footer layout and link structure
  apps/web/components/landing/footer.tsx
  apps/web/constants/routes.ts
Due: biome format --write, biome lint

fix: spacing on desktop
  apps/web/components/landing/footer.tsx
Due: biome format --write, biome lint

fix: reverted footer, part of other PR
  apps/web/components/landing/footer.tsx
Due: biome format --write, biome lint

feat: updated the design, renamed unclear pngs
  apps/web/app/(apps)/migrate/_components/bnusd-chain-selector.tsx
  apps/web/app/(apps)/migrate/_components/bnusd-migration.tsx
  apps/web/app/(apps)/migrate/_components/icxsoda-migration.tsx
  apps/web/app/(apps)/migrate/_components/success-dialog.tsx
  apps/web/app/(apps)/save/_components/asset-list/asset-list-item-header.tsx
  apps/web/app/globals.css
  apps/web/app/glossary/page.tsx
  apps/web/app/layout.tsx
  apps/web/app/partners/page.tsx
  apps/web/components/glossary/glossary-detail-page.tsx
  apps/web/components/landing/exchange-hero-section.tsx
  apps/web/components/landing/footer-link.tsx
  apps/web/components/landing/footer.tsx
  apps/web/components/landing/hero-section.tsx
  apps/web/components/landing/landing-banners.tsx
  apps/web/components/landing/migrate-section.tsx
  apps/web/components/landing/sidebar.tsx
  apps/web/components/landing/terms-modal.tsx
  apps/web/components/partners/builders-mcp-section.tsx
  apps/web/components/partners/featured-case-studies-section.tsx
  apps/web/components/partners/network-integration-section.tsx
  apps/web/components/partners/partner-categories-section.tsx
  apps/web/components/partners/partner-page-header.tsx
  apps/web/components/partners/partner-page-layout.tsx
  apps/web/components/partners/partner-simple-footer.tsx
  apps/web/components/partners/sodax-advantage-section.tsx
  apps/web/components/shared/error-dialog.tsx
  apps/web/components/shared/header.tsx
  apps/web/components/shared/marketing-header.tsx
  apps/web/components/shared/switch-chain-dialog.tsx
  apps/web/components/shared/wallet-modal/terms-confirmation-modal.tsx
  apps/web/components/shared/wallet-modal/wallet-modal.tsx
  apps/web/public/Soda basic symbol.png
  apps/web/public/soda-cherry-grey.svg
  apps/web/public/soda-cherry.png
  apps/web/public/soda-grey.png
  apps/web/public/soda-white.png
  apps/web/public/soda-yellow-sm.png
  apps/web/public/soda-yellow.png
Due: biome format --write, biome lint

fix: updated color of sodax logo on mobile
  apps/web/components/landing/footer.tsx
Due: biome format --write, biome lint

fix(wallet-sdk-react): escape regex meta-chars in esbuild stub plugin (#1070)
  packages/wallet-sdk-react/package.json
  packages/wallet-sdk-react/tsup.config.ts
  pnpm-lock.yaml
Due: biome format --write, biome lint

fix(wallet-sdk-react): restore lockfile from main to fix react resolution (#1070)
  pnpm-lock.yaml
Due: none

test(example-next-js-16): wrap providers in layout and add runtime verify (#1070)
  apps/example-next-js-16/app/client/page.tsx
  apps/example-next-js-16/app/layout.tsx
  apps/example-next-js-16/app/providers.tsx
  apps/example-next-js-16/verify-build.mjs
Due: biome format --write, biome lint

fix(wallet-sdk-react): harden StacksXConnector dynamic import with cache and error handling (#1070)
  apps/example-next-js-16/package.json
  apps/example-next-js-16/verify-build.mjs
  packages/wallet-sdk-react/src/xchains/stacks/StacksXConnector.ts
  pnpm-lock.yaml
Due: biome format --write, biome lint

fix(example-next-js-16): exit cleanly after server.kill() in verify-build (#1070)
  apps/example-next-js-16/verify-build.mjs
Due: none

fix(wallet-sdk-react): fix TS2352 cast via unknown for stx_getAddresses response (#1070)
  packages/wallet-sdk-react/src/xchains/stacks/StacksXConnector.ts
Due: biome format --write, biome lint

fix(wallet-sdk-react): derive esbuild Plugin type from tsup, improve verify-build cleanup
  apps/example-next-js-16/verify-build.mjs
  packages/wallet-sdk-react/package.json
  packages/wallet-sdk-react/tsup.config.ts
  pnpm-lock.yaml
Due: biome format --write, biome lint

fix: add TODO comments for upstream Turbopack workarounds, fix dynamic import race condition
  packages/sdk/tsup.config.ts
  packages/wallet-sdk-core/package.json
  packages/wallet-sdk-core/src/wallet-providers/StacksWalletProvider.ts
  packages/wallet-sdk-core/tsup.config.ts
  packages/wallet-sdk-react/src/xchains/stacks/StacksXConnector.ts
  packages/wallet-sdk-react/tsup.config.ts
Due: biome format --write, biome lint

fix: restore original dependency order in wallet-sdk-core package.json
  packages/wallet-sdk-core/package.json
Due: biome format --write

docs: clarify why @stacks/connect uses dynamic import instead of bundling
  packages/wallet-sdk-core/src/wallet-providers/StacksWalletProvider.ts
  packages/wallet-sdk-react/src/xchains/stacks/StacksXConnector.ts
Due: biome format --write, biome lint

docs: fix @stacks/connect comment — trace exact dep chain causing bundle failure
  packages/wallet-sdk-core/src/wallet-providers/StacksWalletProvider.ts
  packages/wallet-sdk-react/src/xchains/stacks/StacksXConnector.ts
Due: biome format --write, biome lint

fix(wallet-sdk-react): remove error swallowing in StacksXConnector, add lazy-load validation
  packages/wallet-sdk-core/src/wallet-providers/StacksWalletProvider.ts
  packages/wallet-sdk-react/src/xchains/stacks/StacksXConnector.ts
Due: biome format --write, biome lint

fix(wallet-sdk): improve StacksXConnector error handling and lazy-load validation
  apps/example-next-js-16/app/client/page.tsx
Due: biome format --write, biome lint

fix(wallet-sdk): improve StacksXConnector error handling and lazy-load validation
  packages/sdk/package.json
  packages/sdk/src/stacks-internal.ts
  packages/sdk/tsup.config.ts
  packages/wallet-sdk-core/package.json
  packages/wallet-sdk-core/src/wallet-providers/StacksWalletProvider.ts
  packages/wallet-sdk-core/tsup.config.ts
  packages/wallet-sdk-react/package.json
  packages/wallet-sdk-react/src/Hydrate.ts
  packages/wallet-sdk-react/src/xchains/stacks/StacksXConnector.ts
  packages/wallet-sdk-react/src/xchains/stacks/StacksXService.ts
  packages/wallet-sdk-react/tsup.config.ts
  pnpm-lock.yaml
Due: biome format --write, biome lint

fix(wallet-sdk-react): bundle @stacks/connect to fix client-side Turbopack cycle (#1070)
  packages/wallet-sdk-react/src/xchains/stacks/StacksXConnector.ts
  packages/wallet-sdk-react/tsup.config.ts
Due: biome format --write, biome lint

fix(wallet-sdk-core): bundle @stacks/connect, restore static import (#1070)
  packages/wallet-sdk-core/src/wallet-providers/StacksWalletProvider.ts
  packages/wallet-sdk-core/tsup.config.ts
Due: biome format --write, biome lint

refactor(wallet-sdk-react): fix SuiHydrator stale singleton, remove useXWagmiStore legacy alias
  packages/wallet-sdk-react/src/index.ts
  packages/wallet-sdk-react/src/providers/sui/SuiHydrator.tsx
  packages/wallet-sdk-react/src/useXWagmiStore.ts
Due: biome format --write, biome lint

fix: after rooks qa, consolidate footer component
  apps/web/app/partners/sodax-sdk/page.tsx
  apps/web/components/landing/footer-link.tsx
  apps/web/components/landing/footer.tsx
  apps/web/components/partners/partner-page-layout.tsx
  apps/web/components/partners/partner-simple-footer.tsx
Due: biome format --write, biome lint

docs(sdk): update docs
  packages/wallet-sdk-react/CLAUDE.md
Due: none

fix(wallet-sdk-react): tighten chainActions store type to Partial<Record<ChainType, ChainActions>>
  packages/wallet-sdk-react/src/useXWalletStore.ts
Due: biome format --write, biome lint

fix(wallet-sdk-react): stabilize useEvmSwitchChain disabled return with module-level constant
  packages/wallet-sdk-react/src/hooks/useEvmSwitchChain.ts
Due: biome format --write, biome lint

fix(wallet-sdk-react): increase DTS build heap for CI (10 entry points need more memory)
  packages/wallet-sdk-react/package.json
Due: biome format --write

fix(web): simplify price range input handling
  apps/web/app/(apps)/pool/_components/price-range-selector.tsx
Due: biome format --write, biome lint

fix(web): simplify price range input handling (#1094)
  apps/web/app/(apps)/pool/_components/price-range-selector.tsx
Due: biome format --write, biome lint

fix(wallet-sdk-react): cast SuiHydrator hook values to any for @mysten version compat
  packages/wallet-sdk-react/src/providers/sui/SuiHydrator.tsx
Due: biome format --write, biome lint

fix(web): improve CSS animation and adjust Intercom
  apps/web/app/globals.css
Due: none

fix(web): improve CSS animation and adjust Intercom (#1095)
  apps/web/app/globals.css
Due: none

feat(wallet-sdk-react): add WalletConnect support for non-injected EVM wallets (#1065)
  apps/demo/src/providers.tsx
  packages/wallet-sdk-react/CLAUDE.md
  packages/wallet-sdk-react/package.json
  packages/wallet-sdk-react/src/providers/evm/EvmProvider.tsx
  packages/wallet-sdk-react/src/types/config.ts
  packages/wallet-sdk-react/src/xchains/evm/EvmXConnector.ts
  packages/wallet-sdk-react/src/xchains/evm/EvmXService.ts
  pnpm-lock.yaml
Due: biome format --write, biome lint

fix(web): optimize Intercom mobile offset handling
  apps/web/components/shared/intercom/intercom-mobile-offset-fix.tsx
Due: biome format --write, biome lint

feat: updated claude md
  CLAUDE.md
Due: none

fix(web): hero mobile touch tooltips and post-launch polish
  apps/web/components/landing/hero-section.tsx
  apps/web/components/landing/sidebar.tsx
Due: biome format --write, biome lint

chore(web): clean up landing page dead code
  apps/web/components/landing/migrate-section.tsx
  apps/web/components/landing/sidebar.tsx
Due: biome format --write, biome lint

fix(web): optimize Intercom mobile offset handling (#1096)
  apps/web/components/shared/intercom/intercom-mobile-offset-fix.tsx
Due: biome format --write, biome lint

fix(web): update Intercom mobile offset calculation
  apps/web/app/globals.css
Due: none

fix(web): update Intercom mobile offset calculation (#1098)
  apps/web/app/globals.css
Due: none

Path conditions:
  biome format --write: (any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.json)
  biome lint: any of: **/*.{js,jsx,ts,tsx}
