Repository icon-project/sodax-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format --write, biome lint

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": ["biome format --write", "biome lint"],
  "**/*.json": ["biome format --write"]
}

feat: updated landing page
  apps/web/components/landing/hero-section.tsx
Due: biome format --write, biome lint

fix(web): update SODAX packages to version 1.5.1-beta
  apps/web/package.json
  pnpm-lock.yaml
Due: biome format --write

fix(web): update SODAX packages to version 1.5.1-beta (#1015)
  apps/web/package.json
  pnpm-lock.yaml
Due: biome format --write

feat(demo): enhance MM Page to support dynamic chainId routing and selection
  apps/demo/src/App.tsx
  apps/demo/src/pages/money-market/page.tsx
Due: biome format --write, biome lint

feat(demo): enhance MM Page to support dynamic chainId routing and se… (#1016)
  apps/demo/src/App.tsx
  apps/demo/src/pages/money-market/page.tsx
Due: biome format --write, biome lint

feat(web): enhance liquidity management dialog
  apps/web/app/(apps)/pool/_components/manage-dialog/add-liquidity-tab-content.tsx
  apps/web/app/(apps)/pool/_components/manage-dialog/claim-tab-content.tsx
  apps/web/app/(apps)/pool/_components/manage-dialog/manage-position-dialog.tsx
  apps/web/app/(apps)/pool/_components/manage-dialog/withdraw-tab-content.tsx
  apps/web/app/(apps)/pool/_components/supply-overview/supply-overview.tsx
Due: biome format --write, biome lint

feat(web): enhance liquidity management dialog (#1019)
  apps/web/app/(apps)/pool/_components/manage-dialog/add-liquidity-tab-content.tsx
  apps/web/app/(apps)/pool/_components/manage-dialog/claim-tab-content.tsx
  apps/web/app/(apps)/pool/_components/manage-dialog/manage-position-dialog.tsx
  apps/web/app/(apps)/pool/_components/manage-dialog/withdraw-tab-content.tsx
  apps/web/app/(apps)/pool/_components/supply-overview/supply-overview.tsx
Due: biome format --write, biome lint

fix(sdk): injective
  apps/node/package.json
  apps/node/src/btc.ts
  packages/sdk/package.json
  packages/sdk/src/shared/entities/injective/InjectiveSpokeProvider.ts
  packages/sdk/src/shared/services/spoke/InjectiveSpokeService.ts
  packages/wallet-sdk-core/package.json
  packages/wallet-sdk-react/src/SodaxWalletProvider.tsx
  packages/wallet-sdk-react/src/hooks/useEthereumChainId.ts
  packages/wallet-sdk-react/src/useXWagmiStore.ts
  packages/wallet-sdk-react/src/xchains/injective/InjectiveKelprXConnector.ts
  packages/wallet-sdk-react/src/xchains/injective/InjectiveMetamaskXConnector.ts
  packages/wallet-sdk-react/src/xchains/injective/InjectiveXConnector.ts
  packages/wallet-sdk-react/src/xchains/injective/actions.ts
  packages/wallet-sdk-react/src/xchains/injective/index.ts
  packages/wallet-sdk-react/src/xchains/injective/utils.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome format --write, biome lint

fix(web): update liquidity position visibility condition in SupplyOverview component
  apps/web/app/(apps)/pool/_components/supply-overview/supply-overview.tsx
Due: biome format --write, biome lint

fix(web): update liquidity position visibility condition in SupplyOverview component (#1021)
  apps/web/app/(apps)/pool/_components/supply-overview/supply-overview.tsx
Due: biome format --write, biome lint

chore: update claude.md for v2 preparation
  CLAUDE.md
  packages/dapp-kit/CLAUDE.md
  packages/sdk/CLAUDE.md
  packages/types/CLAUDE.md
  packages/wallet-sdk-core/CLAUDE.md
  packages/wallet-sdk-react/CLAUDE.md
Due: none

fix(ci): workflow pnpm version
  .github/workflows/ci.yml
Due: none

chore: update claude.md for v2 preparation (#1023)
  .github/workflows/ci.yml
  CLAUDE.md
  packages/dapp-kit/CLAUDE.md
  packages/sdk/CLAUDE.md
  packages/types/CLAUDE.md
  packages/wallet-sdk-core/CLAUDE.md
  packages/wallet-sdk-react/CLAUDE.md
Due: none

fix(web): improve Stellar trustline error message and remove dialog border
  apps/web/app/(apps)/pool/_components/liquidity-inputs.tsx
  apps/web/app/(apps)/stake/_components/stake-input-panel.tsx
  apps/web/components/shared/error-dialog.tsx
  apps/web/components/ui/dialog.tsx
Due: biome format --write, biome lint

chore: removed comment
  apps/web/components/shared/error-dialog.tsx
Due: biome format --write, biome lint

fix(sdk): injective (#1020)
  apps/node/package.json
  apps/node/src/btc.ts
  packages/sdk/package.json
  packages/sdk/src/shared/entities/injective/InjectiveSpokeProvider.ts
  packages/sdk/src/shared/services/spoke/InjectiveSpokeService.ts
  packages/wallet-sdk-core/package.json
  packages/wallet-sdk-react/src/SodaxWalletProvider.tsx
  packages/wallet-sdk-react/src/hooks/useEthereumChainId.ts
  packages/wallet-sdk-react/src/useXWagmiStore.ts
  packages/wallet-sdk-react/src/xchains/injective/InjectiveKelprXConnector.ts
  packages/wallet-sdk-react/src/xchains/injective/InjectiveMetamaskXConnector.ts
  packages/wallet-sdk-react/src/xchains/injective/InjectiveXConnector.ts
  packages/wallet-sdk-react/src/xchains/injective/actions.ts
  packages/wallet-sdk-react/src/xchains/injective/index.ts
  packages/wallet-sdk-react/src/xchains/injective/utils.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome format --write, biome lint

feat(aleo): lazy-load @provablehq/sdk to avoid WASM crashes during SSR/build
  apps/web/next.config.js
  apps/web/package.json
  packages/sdk/src/shared/entities/aleo/AleoSpokeProvider.ts
  packages/sdk/src/shared/services/spoke/AleoSpokeService.ts
  packages/sdk/src/shared/services/spoke/SpokeService.ts
  packages/wallet-sdk-core/src/wallet-providers/AleoWalletProvider.test.ts
  packages/wallet-sdk-core/src/wallet-providers/AleoWalletProvider.ts
  packages/wallet-sdk-react/src/hooks/useWalletProvider.ts
  packages/wallet-sdk-react/src/hooks/useXConnect.ts
  packages/wallet-sdk-react/src/xchains/aleo/AleoXConnector.ts
  packages/wallet-sdk-react/src/xchains/aleo/AleoXService.ts
Due: biome format --write, biome lint

feat(aleo): lazy-load @provablehq/sdk to avoid WASM crashes during SSR (#1025)
  apps/web/next.config.js
  apps/web/package.json
  packages/sdk/src/shared/entities/aleo/AleoSpokeProvider.ts
  packages/sdk/src/shared/services/spoke/AleoSpokeService.ts
  packages/sdk/src/shared/services/spoke/SpokeService.ts
  packages/wallet-sdk-core/src/wallet-providers/AleoWalletProvider.test.ts
  packages/wallet-sdk-core/src/wallet-providers/AleoWalletProvider.ts
  packages/wallet-sdk-react/src/hooks/useWalletProvider.ts
  packages/wallet-sdk-react/src/hooks/useXConnect.ts
  packages/wallet-sdk-react/src/xchains/aleo/AleoXConnector.ts
  packages/wallet-sdk-react/src/xchains/aleo/AleoXService.ts
Due: biome format --write, biome lint

fix(aleo): remove duplicate exports, types, and native token entries
  packages/types/src/index.ts
  packages/wallet-sdk-react/src/hooks/useWalletProvider.ts
  packages/wallet-sdk-react/src/utils/index.ts
Due: biome format --write, biome lint

feat(aleo): update pnpm-lock.yaml: add ProvableHQ & deps
  pnpm-lock.yaml
Due: none

fix(web): enhance query invalidation logic
  apps/web/app/(apps)/pool/_components/manage-dialog/manage-position-dialog.tsx
  apps/web/app/(apps)/pool/_components/supply-overview/position-card.tsx
Due: biome format --write, biome lint

fix(web): enhance query invalidation logic (#1026)
  apps/web/app/(apps)/pool/_components/manage-dialog/manage-position-dialog.tsx
  apps/web/app/(apps)/pool/_components/supply-overview/position-card.tsx
Due: biome format --write, biome lint

fix: reversed pool , now enabled
  apps/web/components/shared/route-tabs.tsx
Due: biome format --write, biome lint

fix(web): update liquidity input handling to use dynamic token decimals
  apps/web/app/(apps)/pool/_components/liquidity-inputs.tsx
Due: biome format --write, biome lint

fix(web): update liquidity input handling to use dynamic token decimals (#1028)
  apps/web/app/(apps)/pool/_components/liquidity-inputs.tsx
Due: biome format --write, biome lint

fix(aleo): add aleo to e2e test, remove aleo from web app until SDK is published
  apps/web/components/shared/wallet-modal/hana/get-hana-for-chain.tsx
  apps/web/providers/constants.ts
  package.json
  packages/sdk/src/e2e-tests/e2e.test.ts
  pnpm-lock.yaml
Due: biome format --write, biome lint

fix(web): raise Intercom chat bubble above mobile bottom nav
  apps/web/app/globals.css
Due: none

refactor(web): consolidate Intercom mobile CSS selectors
  apps/web/app/globals.css
Due: none

fix(web): raise Intercom chat bubble above mobile bottom nav (#1029)
  apps/web/app/globals.css
Due: none

fix(dex-utils): correct amount parsing to use original asset decimals for deposit parameters
  packages/dapp-kit/src/utils/dex-utils.ts
Due: biome format --write, biome lint

feat: updated icons and linked docs to urls
  apps/web/components/landing/hero-section.tsx
  apps/web/components/partners/network-icons.tsx
  apps/web/components/partners/partners-hero-section.tsx
  apps/web/components/ui/tooltip.tsx
  apps/web/lib/docToUrl.ts
Due: biome format --write, biome lint

fix: updated the height of the tooltip
  apps/web/components/landing/hero-section.tsx
Due: biome format --write, biome lint

fix(web): calculate concentrated APR in PositionCard component
  apps/web/app/(apps)/pool/_components/supply-overview/position-card.tsx
Due: biome format --write, biome lint

fix(web): calculate concentrated APR in PositionCard component (#1032)
  apps/web/app/(apps)/pool/_components/supply-overview/position-card.tsx
Due: biome format --write, biome lint

feat: sorted icons
  apps/web/components/landing/hero-section.tsx
Due: biome format --write, biome lint

fix(dex-utils): correct amount parsing to use original asset decimals for deposit parameters (#1030)
  packages/dapp-kit/src/utils/dex-utils.ts
Due: biome format --write, biome lint

chore: bump versions
  packages/dapp-kit/package.json
  packages/sdk/package.json
  packages/types/package.json
  packages/types/src/constants/index.ts
  packages/wallet-sdk-core/package.json
  packages/wallet-sdk-react/package.json
Due: biome format --write, biome lint

fix(web): update package versions for 1.5.2
  apps/web/app/(apps)/pool/_components/supply-overview/position-card.tsx
  apps/web/package.json
  pnpm-lock.yaml
Due: biome format --write, biome lint

fix(web): update package versions for 1.5.2 (#1035)
  apps/web/app/(apps)/pool/_components/supply-overview/position-card.tsx
  apps/web/package.json
  pnpm-lock.yaml
Due: biome format --write, biome lint
