Repository icon-project/sodax-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format --write, biome lint

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": ["biome format --write", "biome lint"],
  "**/*.json": ["biome format --write"]
}

chore: upgrade react and react-dom to version 19.1.4
  apps/demo/package.json
  apps/demo/vite.config.ts
  pnpm-lock.yaml
Due: biome format --write, biome lint

chore: update react and react-dom to version 19.1.4
  apps/web/package.json
  pnpm-lock.yaml
Due: biome format --write

chore: upgrade react and react-dom to version 19.1.4 (#610)
  apps/demo/package.json
  apps/demo/vite.config.ts
  apps/web/package.json
  pnpm-lock.yaml
Due: biome format --write, biome lint

fix(sdk): swap doc
  packages/sdk/docs/SWAPS.md
Due: none

chore: update dependencies to React 19.1.4
  apps/demo/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome format --write

chore: update dependencies to React 19.1.4 (#612)
  apps/demo/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome format --write

fix: resolve merge conflicts in pnpm-lock.yaml and update package versions
  pnpm-lock.yaml
Due: none

fix(sdk): swap doc (#614)
  packages/sdk/docs/SWAPS.md
Due: none

Adding BD job redirect
  apps/web/next.config.js
Due: biome format --write, biome lint

chore: update pnpm-lock.yaml and globals.css for new Radix UI slider component
  apps/web/app/(apps)/save/_components/accordion/accordion-collapsed-apy.tsx
  apps/web/app/(apps)/save/_components/accordion/accordion-user-info.tsx
  apps/web/app/globals.css
  pnpm-lock.yaml
Due: biome format --write, biome lint

fix: adjust opacity and font styling
  apps/web/app/(apps)/save/_components/accordion/accordion-deposit-button.tsx
  apps/web/app/(apps)/save/_components/token-accordion-item.tsx
Due: biome format --write, biome lint

chore: remove test toast
  apps/web/components/shared/toast-provider.tsx
Due: biome format --write, biome lint

feat: updated base icon
  apps/web/app/(apps)/swap/_components/currency-search-panel.tsx
  apps/web/components/shared/connected-chains-display.tsx
  apps/web/components/shared/currency-logo.tsx
  apps/web/components/shared/wallet-modal2/evm-chain-item.tsx
  apps/web/public/chain/0x2105.base.png
Due: biome format --write, biome lint

feat(solver): enhance solver page with limit order functionality and UI updates
  apps/demo/src/components/solver/LimitOrderCard.tsx
  apps/demo/src/components/solver/LimitOrderItem.tsx
  apps/demo/src/components/solver/LimitOrderList.tsx
  apps/demo/src/pages/solver/page.tsx
  packages/dapp-kit/src/hooks/backend/index.ts
  packages/dapp-kit/src/hooks/backend/useBackendUserIntents.ts
  packages/dapp-kit/src/hooks/swap/useSwapAllowance.ts
  packages/dapp-kit/src/hooks/swap/useSwapApprove.ts
  packages/sdk/src/backendApi/BackendApiService.ts
  packages/sdk/src/swap/SwapService.ts
Due: biome format --write, biome lint

fix: change hub rpc for save ui
  apps/web/providers/constants.ts
Due: biome format --write, biome lint

feat: add floating ui
  apps/web/app/(apps)/save/_components/accordion/accordion-info-block.tsx
  apps/web/components/shared/token-asset.tsx
  apps/web/package.json
  pnpm-lock.yaml
Due: biome format --write, biome lint

chore: update @sodax packages to version 1.0.1-beta-rc3
  apps/web/package.json
  pnpm-lock.yaml
Due: biome format --write

chore: update @sodax packages to version 1.0.1-beta-rc3 (#619)
  apps/web/package.json
  pnpm-lock.yaml
Due: biome format --write

fix(chains): restore Ethereum chain
  apps/web/constants/chains.ts
Due: biome format --write, biome lint

feat: added timer icon to swaps
  apps/web/app/(apps)/swap/page.tsx
  apps/web/public/timer.svg
Due: biome format --write, biome lint

refactor(solver): simplify LimitOrderCard component and improve LimitOrderItem rendering
  apps/demo/src/components/solver/LimitOrderCard.tsx
  apps/demo/src/components/solver/LimitOrderItem.tsx
  apps/demo/src/components/solver/LimitOrderList.tsx
  apps/demo/src/pages/solver/page.tsx
Due: biome format --write, biome lint

fix: auto scroll of token asset
  apps/web/components/shared/token-asset.tsx
Due: biome format --write, biome lint

fix: change 5 columns
  apps/web/components/shared/token-asset.tsx
Due: biome format --write, biome lint

fix: update currency logo shadow and adjust token asset styling for mobile
  apps/web/components/shared/currency-logo.tsx
  apps/web/components/shared/token-asset.tsx
Due: biome format --write, biome lint

fix: add shadow to currency logo for improved visual depth
  apps/web/components/shared/currency-logo.tsx
Due: biome format --write, biome lint

fix: enhance accordion component with hover state management and visual feedback
  apps/web/app/(apps)/save/_components/accordion/accordion-expanded-content.tsx
  apps/web/app/(apps)/save/_components/accordion/token-asset-wrapper.tsx
  apps/web/components/shared/token-asset.tsx
Due: biome format --write, biome lint

fix: adjust token asset styling for improved layout and hover effect
  apps/web/components/shared/token-asset.tsx
Due: biome format --write, biome lint

fix: added helper functions
  apps/web/app/(apps)/swap/_components/currency-search-panel.tsx
  apps/web/components/icons/chains/base.tsx
  apps/web/components/shared/connected-chains-display.tsx
  apps/web/components/shared/wallet-modal2/evm-chain-item.tsx
  apps/web/constants/chains.ts
Due: biome format --write, biome lint

fix: added missing import to getChainIconSize
  apps/web/components/shared/wallet-modal2/evm-chain-item.tsx
Due: biome format --write, biome lint

feat: added warning for eth swaps
  apps/web/app/(apps)/swap/page.tsx
  apps/web/public/timer-cherry-bright.svg
Due: biome format --write, biome lint

feat: added mb to timer icon
  apps/web/app/(apps)/swap/page.tsx
Due: biome format --write, biome lint

fix: added icon from figma, removed unnecessary logic
  apps/web/app/(apps)/swap/_components/currency-search-panel.tsx
  apps/web/components/shared/connected-chains-display.tsx
  apps/web/components/shared/wallet-modal2/evm-chain-item.tsx
  apps/web/constants/chains.ts
  apps/web/public/chain/0x2105.base.png
Due: biome format --write, biome lint

fix: reversed the code and removed changes
  apps/web/app/(apps)/swap/_components/currency-search-panel.tsx
  apps/web/components/shared/connected-chains-display.tsx
  apps/web/components/shared/currency-logo.tsx
Due: biome format --write, biome lint

fix: reverse code to previous
  apps/web/components/shared/connected-chains-display.tsx
Due: biome format --write, biome lint

feat: updated base icon (#618)
  apps/web/components/icons/chains/base.tsx
  apps/web/public/chain/0x2105.base.png
Due: biome format --write, biome lint

fix: save exploration QA
  apps/web/app/(apps)/save/_components/accordion/accordion-deposit.tsx
  apps/web/app/(apps)/save/_components/accordion/accordion-expanded-content.tsx
  apps/web/app/(apps)/save/_components/accordion/accordion-info-block.tsx
  apps/web/app/(apps)/save/_components/accordion/token-asset-wrapper.tsx
  apps/web/app/(apps)/save/_components/token-accordion-item.tsx
  apps/web/app/globals.css
  apps/web/components/shared/token-asset.tsx
Due: biome format --write, biome lint

fix: split market list into two categories
  apps/web/app/(apps)/save/_components/currency-list.tsx
Due: biome format --write, biome lint

fix: show market total holdings
  apps/web/app/(apps)/save/_components/token-accordion-item.tsx
Due: biome format --write, biome lint

fix: slider label works for input
  apps/web/app/(apps)/save/_components/accordion/accordion-deposit-button.tsx
  apps/web/app/(apps)/save/_components/accordion/accordion-deposit.tsx
Due: biome format --write, biome lint

feat: added balance to swap in demo app (#593)
  apps/demo/src/components/solver/SwapCard.tsx
Due: biome format --write, biome lint
