Repository icon-project/sodax-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format --write, biome lint

refactor(dapp-kit): update address typings in useUserReservesData for improved type safety
  packages/dapp-kit/src/hooks/mm/useUserReservesData.ts
Due: biome format --write, biome lint

fix(wallet-sdk): whitespaces
  packages/wallet-sdk/src/hooks/useEvmSwitchChain.ts
  packages/wallet-sdk/src/hooks/useXAccount.ts
Due: biome format --write, biome lint

refactor(BorrowAssetsList): remove unused useReservesData import for cleaner code
  apps/demo/src/components/mm/lists/BorrowAssetsList/BorrowAssetsList.tsx
Due: biome format --write, biome lint

refactor(dapp-kit, wallet-sdk): update docs
  packages/dapp-kit/README.md
  packages/wallet-sdk/README.md
Due: none

chore: set wallet-sdk and dapp-kit initial candidate versions
  packages/dapp-kit/package.json
  packages/wallet-sdk/package.json
Due: biome format --write

refactor(wallet-sdk, dapp-kit): remove Archway support and clean up related code
  apps/demo/src/components/shared/wallet-modal/index.tsx
  packages/dapp-kit/src/core/index.ts
  packages/dapp-kit/src/hooks/provider/useHubProvider.ts
  packages/dapp-kit/src/hooks/provider/useSpokeProvider.ts
  packages/sdk/src/constants.ts
  packages/types/src/common/index.ts
  packages/wallet-sdk/package.json
  packages/wallet-sdk/src/actions/getXService.ts
  packages/wallet-sdk/src/hooks/useWalletProvider.ts
  packages/wallet-sdk/src/hooks/useXAccount.ts
  packages/wallet-sdk/src/index.ts
  packages/wallet-sdk/src/useXWagmiStore.tsx
  packages/wallet-sdk/src/xchains/archway/ArchwayXConnector.ts
  packages/wallet-sdk/src/xchains/archway/ArchwayXService.ts
  packages/wallet-sdk/src/xchains/archway/XSigningArchwayClient.ts
  packages/wallet-sdk/src/xchains/archway/index.ts
  packages/wallet-sdk/src/xchains/evm/EvmXService.ts
  pnpm-lock.yaml
Due: biome format --write, biome lint

feat: enable ICON connect
  apps/demo/src/components/shared/wallet-modal/index.tsx
  apps/demo/src/providers.tsx
  packages/wallet-sdk/src/types/index.ts
  packages/wallet-sdk/src/useXWagmiStore.tsx
Due: biome format --write, biome lint

refactor(wallet-sdk): enhance type safety in useWalletProvider
  packages/wallet-sdk/src/hooks/useWalletProvider.ts
Due: biome format --write, biome lint

feat(wallet-sdk): add IconWalletProvider
  apps/demo/src/providers.tsx
  packages/wallet-sdk/package.json
  packages/wallet-sdk/src/useXWagmiStore.tsx
  packages/wallet-sdk/src/wallet-providers/IconWalletProvider.ts
  packages/wallet-sdk/src/wallet-providers/index.ts
  packages/wallet-sdk/src/xchains/icon/IconXService.ts
  pnpm-lock.yaml
Due: biome format --write, biome lint

chore: update types release version
  packages/types/package.json
Due: biome format --write

feat(wallet-sdk): implement aggregate data retrieval for non-native token balances
  packages/wallet-sdk/src/xchains/icon/IconXService.ts
Due: biome format --write, biome lint

refactor(wallet-sdk): remove console logs for balance retrieval in IconXService
  packages/wallet-sdk/src/xchains/icon/IconXService.ts
Due: biome format --write, biome lint

feat: implement borrowing and repayment functionality with UI components
  apps/demo/src/components/mm/lists/BorrowAssetsList/BorrowAssetsList.tsx
  apps/demo/src/components/mm/lists/BorrowAssetsList/BorrowAssetsListItem.tsx
  apps/demo/src/components/mm/lists/BorrowButton.tsx
  apps/demo/src/components/mm/lists/RepayButton.tsx
  apps/demo/src/components/mm/lists/SuppliedAssetsList/SuppliedAssetsList.tsx
  apps/demo/src/components/mm/lists/SuppliedAssetsList/SuppliedAssetsListItem.tsx
  apps/demo/src/components/mm/lists/SupplyAssetsList.tsx
  apps/demo/src/components/mm/lists/SupplyAssetsList/SupplyAssetsList.tsx
  apps/demo/src/components/mm/lists/SupplyAssetsList/SupplyAssetsListItem.tsx
  apps/demo/src/components/mm/lists/SupplyAssetsListItem.tsx
  apps/demo/src/components/mm/lists/SupplyButton.tsx
  apps/demo/src/components/mm/lists/WithdrawButton.tsx
  apps/demo/src/components/shared/ChainSelector.tsx
  apps/demo/src/pages/money-market/page.tsx
  apps/demo/src/zustand/useAppStore.tsx
  packages/dapp-kit/src/core/index.ts
  packages/dapp-kit/src/hooks/mm/index.ts
  packages/dapp-kit/src/hooks/mm/useBorrow.ts
  packages/dapp-kit/src/hooks/mm/useRepay.ts
  packages/dapp-kit/src/hooks/mm/useReservesData.ts
Due: biome format --write, biome lint

chore(sdk): update package.json
  packages/sdk/package.json
Due: biome format --write

chore(sdk): update money market tokens
  packages/sdk/src/constants.ts
Due: biome format --write, biome lint

chore(sdk): update money market tokens (#108)
  packages/sdk/src/constants.ts
Due: biome format --write, biome lint

feat(dapp-kit): add useReservesData hook and update SupplyAssetsList component
  apps/demo/src/components/mm/lists/SupplyAssetsList.tsx
  packages/dapp-kit/README.md
  packages/dapp-kit/src/core/index.ts
  packages/dapp-kit/src/hooks/mm/useReservesData.ts
Due: biome format --write, biome lint

chore(sdk): improve solver and money market inline docs (#109)
  packages/sdk/src/services/moneyMarket/MoneyMarketService.ts
  packages/sdk/src/services/solver/SolverService.ts
  packages/sdk/src/types.ts
Due: biome format --write, biome lint

refactor(wallet-sdk): update ICON mainnet token support and streamline IconService usage
  packages/dapp-kit/src/hooks/provider/useSpokeProvider.ts
  packages/sdk/src/constants.ts
  packages/sdk/src/entities/icon/IconSpokeProvider.ts
  packages/sdk/src/services/spoke/IconSpokeService.ts
  packages/wallet-sdk/src/hooks/useWalletProvider.ts
  packages/wallet-sdk/src/hooks/useWalletProviderOptions.ts
  packages/wallet-sdk/src/wallet-providers/IconWalletProvider.ts
  packages/wallet-sdk/src/xchains/icon/IconXService.ts
Due: biome format --write, biome lint

test(wallet-sdk): add unit tests for IconWalletProvider functionality
  packages/wallet-sdk/package.json
  packages/wallet-sdk/src/wallet-providers/IconWalletProvider.ts
  packages/wallet-sdk/src/wallet-providers/__tests__/IconWalletProvider.test.ts
  pnpm-lock.yaml
Due: biome format --write, biome lint

feat: enhance RepayButton, SupplyButton, and WithdrawButton components
  apps/demo/src/components/mm/lists/RepayButton.tsx
  apps/demo/src/components/mm/lists/SupplyButton.tsx
  apps/demo/src/components/mm/lists/WithdrawButton.tsx
  apps/demo/src/components/shared/ChainSelector.tsx
  packages/dapp-kit/src/hooks/mm/useWithdraw.ts
Due: biome format --write, biome lint

docs: update README
  README.md
  packages/wallet-sdk/README.md
Due: none

docs: update README
  packages/wallet-sdk/README.md
Due: none

chore: update pnpm-lock.yaml and package.json to reflect new versions of dependencies
  apps/demo/package.json
  pnpm-lock.yaml
Due: biome format --write

feat: removed anchor package and replace with solana/web3
  packages/sdk/src/entities/solana/Configs.ts
  packages/sdk/src/entities/solana/pda/pda.ts
  packages/sdk/src/services/spoke/SolanaSpokeService.ts
Due: biome format --write, biome lint

chore(dapp-kit): update version
  packages/dapp-kit/package.json
Due: biome format --write

chore(wallet-sdk): update package.json version
  packages/wallet-sdk/package.json
Due: biome format --write

fix: correct debt calculation and update borrow amount precision in useBorrow
  apps/demo/src/components/mm/lists/SupplyAssetsList.tsx
  packages/dapp-kit/src/hooks/mm/useBorrow.ts
Due: biome format --write, biome lint

refactor(SpokeService): remove unnecessary biome-ignore comment for complexity linting|
  packages/sdk/src/services/spoke/SpokeService.ts
Due: biome format --write, biome lint

refactor: change BN import to type import in Configs.ts and pda.ts
  packages/sdk/src/entities/solana/Configs.ts
  packages/sdk/src/entities/solana/pda/pda.ts
Due: biome format --write, biome lint

refactor: update linter rules and clean up imports in various files
  packages/sdk/biome.json
  packages/sdk/src/entities/solana/Configs.ts
  packages/sdk/src/entities/solana/pda/pda.ts
  packages/sdk/src/services/spoke/SolanaSpokeService.ts
Due: biome format --write, biome lint

chore(sdk,dapp-kit,wallet-sdk): update versions
  packages/dapp-kit/package.json
  packages/sdk/package.json
  packages/types/package.json
Due: biome format --write

chore(wallet-sdk): update version
  packages/wallet-sdk/package.json
Due: biome format --write

feat(ci): Lint PR title
  .github/workflows/lint-pr.yaml
Due: none

docs(sdk): markdown docs update
  packages/sdk/README.md
  packages/sdk/docs/MONEY_MARKET.md
  packages/sdk/docs/SOLVER.md
Due: none

docs(sdk): markdown docs update (#120)
  packages/sdk/README.md
  packages/sdk/docs/MONEY_MARKET.md
  packages/sdk/docs/SOLVER.md
Due: none

refactor: clean up unused imports and update return types in SuiWalletProvider
  apps/demo/src/components/mm/lists/SupplyAssetsList.tsx
  apps/demo/src/pages/money-market/page.tsx
  packages/types/src/sui/index.ts
  packages/wallet-sdk/src/wallet-providers/SuiWalletProvider.ts
Due: biome format --write, biome lint

refactor(SuiSpokeService): simplify user wallet retrieval by using 'from' parameter directly
  packages/sdk/src/services/spoke/SuiSpokeService.ts
Due: biome format --write, biome lint

Path conditions:
  biome format --write: (any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.json)
  biome lint: any of: **/*.{js,jsx,ts,tsx}
