Repository icon-project/sodax-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format --write, biome lint

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": ["biome format --write", "biome lint"],
  "**/*.json": ["biome format --write"]
}

fix: update outside click logic to preserve token selection on continue button click
  apps/web/app/(apps)/save/_components/asset-list/asset-list-item-content.tsx
Due: biome format --write, biome lint

fix: remove loop in carousel
  apps/web/app/(apps)/save/_components/carousel.tsx
Due: biome format --write, biome lint

fix: card texts must not be selectable
  apps/web/app/(apps)/save/_components/carousel.tsx
Due: biome format --write, biome lint

fix: reset selected token when closing deposit input
  apps/web/app/(apps)/save/_components/asset-list/asset-list-item-content.tsx
Due: biome format --write, biome lint

fix: update deposit input amount display and slider max value logic
  apps/web/app/(apps)/save/_components/asset-list/deposit-input-amount.tsx
Due: biome format --write, biome lint

feat: update network picker
  apps/web/components/shared/token-asset.tsx
Due: biome format --write, biome lint

chore: update pnpm-lock.yaml with new dependencies with floating-ui/react
  apps/web/components/shared/token-asset.tsx
  apps/web/package.json
  pnpm-lock.yaml
Due: biome format --write, biome lint

feat: update network picker (#646)
  apps/web/components/shared/token-asset.tsx
  apps/web/package.json
  pnpm-lock.yaml
Due: biome format --write, biome lint

fix: nav bar on mobile positioning
  apps/web/components/shared/route-tabs.tsx
Due: biome format --write, biome lint

chore(dapp-kit, demo): cleanup demo and improve type
  apps/demo/src/components/solver/LimitOrderCard.tsx
  apps/demo/src/components/solver/LimitOrderList.tsx
  packages/dapp-kit/src/hooks/backend/useBackendUserIntents.ts
  packages/dapp-kit/src/hooks/shared/index.ts
  packages/dapp-kit/src/hooks/shared/types.ts
Due: biome format --write, biome lint

fix(sdk): test latency
  packages/sdk/src/moneyMarket/MoneyMarketService.test.ts
Due: biome format --write, biome lint

feat: add limit order (#572)
  apps/demo/src/components/solver/LimitOrderCard.tsx
  apps/demo/src/components/solver/LimitOrderItem.tsx
  apps/demo/src/components/solver/LimitOrderList.tsx
  apps/demo/src/pages/solver/page.tsx
  packages/dapp-kit/README.md
  packages/dapp-kit/src/hooks/backend/index.ts
  packages/dapp-kit/src/hooks/backend/useBackendUserIntents.ts
  packages/dapp-kit/src/hooks/shared/index.ts
  packages/dapp-kit/src/hooks/shared/types.ts
  packages/dapp-kit/src/hooks/swap/index.ts
  packages/dapp-kit/src/hooks/swap/useCancelLimitOrder.ts
  packages/dapp-kit/src/hooks/swap/useCreateLimitOrder.ts
  packages/dapp-kit/src/hooks/swap/useSwapAllowance.ts
  packages/dapp-kit/src/hooks/swap/useSwapApprove.ts
  packages/sdk/docs/SWAPS.md
  packages/sdk/src/backendApi/BackendApiService.ts
  packages/sdk/src/moneyMarket/MoneyMarketService.test.ts
  packages/sdk/src/swap/SwapService.ts
Due: biome format --write, biome lint

fix(sdk): unstaking xSoda (#636)
  packages/sdk/src/staking/StakingService.ts
Due: biome format --write, biome lint

chore: add semantic release setup
  .github/workflows/website-release.yml
  .releaserc.json
  package.json
Due: biome format --write

chore: update semantic release version
  package.json
  pnpm-lock.yaml
Due: biome format --write

chore: remove duplicate pnpm installation step in website release workflow
  .github/workflows/website-release.yml
Due: none

chore: update semantic release configuration
  .github/workflows/website-release.yml
  .releaserc.json
  package.json
Due: biome format --write

chore: remove website release workflow
  .github/workflows/sodax-web-publish.yml
Due: none

feat: add google tag manager
  apps/web/app/layout.tsx
  apps/web/package.json
  pnpm-lock.yaml
Due: biome format --write, biome lint

fix: update Google Tag Manager ID in layout
  apps/web/app/layout.tsx
Due: biome format --write, biome lint

fix: gradient layer missing
  apps/web/app/(apps)/save/_components/carousel.tsx
Due: biome format --write, biome lint

fix: mobile view, usePartnerfee hook rendering
  apps/web/app/(apps)/partner/components/partner-fee-token.tsx
  apps/web/app/(apps)/partner/components/swap-modal.tsx
  apps/web/app/(apps)/partner/page.tsx
  apps/web/app/(apps)/partner/utils/usePartnersFee.ts
  apps/web/components/shared/route-tabs.tsx
  apps/web/components/ui/sonner.tsx
  apps/web/providers/constants.ts
Due: biome format --write, biome lint

fix: add amount input slider component
  apps/web/app/(apps)/save/_components/amount-input-slider.tsx
  apps/web/app/(apps)/save/_components/asset-list/deposit-input-amount.tsx
  apps/web/app/(apps)/save/_components/carousel.tsx
  apps/web/app/(apps)/save/_components/withdraw-dialog/withdraw-dialog.tsx
  apps/web/app/(apps)/save/page.tsx
Due: biome format --write, biome lint

fix: update WithdrawDialog component with new button and icon
  apps/web/app/(apps)/save/_components/withdraw-dialog/withdraw-dialog.tsx
Due: biome format --write, biome lint

refactor: enhance WithdrawDialog with multi-step flow and reserve metrics integration
  apps/web/app/(apps)/save/_components/withdraw-dialog/withdraw-amount-step.tsx
  apps/web/app/(apps)/save/_components/withdraw-dialog/withdraw-confirmation-step.tsx
  apps/web/app/(apps)/save/_components/withdraw-dialog/withdraw-dialog.tsx
Due: biome format --write, biome lint

feat: added google tag manager to layout.tsx
  apps/web/app/layout.tsx
Due: biome format --write, biome lint

fix: added googletagmanager correctly
  apps/web/app/layout.tsx
  apps/web/global.d.ts
  apps/web/package.json
  pnpm-lock.yaml
Due: biome format --write, biome lint

fix: removed next-third-parties package
  apps/web/package.json
Due: biome format --write

chore: reinstalled pnpm packages
  pnpm-lock.yaml
Due: none

feat: added google tag manager
  apps/web/app/global.d.ts
  apps/web/app/layout.tsx
Due: biome format --write, biome lint

fix: add withdraw token select component
  apps/web/app/(apps)/save/_components/carousel.tsx
  apps/web/app/(apps)/save/_components/withdraw-dialog/withdraw-amount-select.tsx
  apps/web/app/(apps)/save/_components/withdraw-dialog/withdraw-dialog.tsx
  apps/web/app/(apps)/save/_components/withdraw-dialog/withdraw-token-select.tsx
  apps/web/components/shared/can-logo.tsx
Due: biome format --write, biome lint

fix: added third-party package and reinstalled packages
  apps/web/package.json
  pnpm-lock.yaml
Due: biome format --write

feat: increased blur behind networkpicker
  apps/web/app/(apps)/swap/_components/token-list.tsx
Due: biome format --write, biome lint

fix: removed autofocus on mobile
  apps/web/app/(apps)/migrate/_components/currency-input-panel.tsx
  apps/web/app/(apps)/swap/_components/currency-input-panel.tsx
  apps/web/app/(apps)/swap/_components/currency-search-panel.tsx
Due: biome format --write, biome lint

refactor(dapp-kit)!: mm
  apps/demo/src/components/mm/lists/BorrowButton.tsx
  apps/demo/src/components/mm/lists/RepayButton.tsx
  apps/demo/src/components/mm/lists/SupplyAssetsList.tsx
  apps/demo/src/components/mm/lists/SupplyAssetsListItem.tsx
  apps/demo/src/components/mm/lists/SupplyButton.tsx
  apps/demo/src/components/mm/lists/WithdrawButton.tsx
  packages/dapp-kit/README.md
  packages/dapp-kit/src/hooks/backend/README.md
  packages/dapp-kit/src/hooks/backend/index.ts
  packages/dapp-kit/src/hooks/backend/types.ts
  packages/dapp-kit/src/hooks/backend/useBackendAllMoneyMarketAssets.ts
  packages/dapp-kit/src/hooks/backend/useBackendAllMoneyMarketBorrowers.ts
  packages/dapp-kit/src/hooks/backend/useBackendIntentByHash.ts
  packages/dapp-kit/src/hooks/backend/useBackendIntentByTxHash.ts
  packages/dapp-kit/src/hooks/backend/useBackendMoneyMarketAsset.ts
  packages/dapp-kit/src/hooks/backend/useBackendMoneyMarketAssetBorrowers.ts
  packages/dapp-kit/src/hooks/backend/useBackendMoneyMarketAssetSuppliers.ts
  packages/dapp-kit/src/hooks/backend/useBackendMoneyMarketPosition.ts
  packages/dapp-kit/src/hooks/backend/useBackendOrderbook.ts
  packages/dapp-kit/src/hooks/backend/useBackendUserIntents.ts
  packages/dapp-kit/src/hooks/mm/useAToken.ts
  packages/dapp-kit/src/hooks/mm/useBorrow.ts
  packages/dapp-kit/src/hooks/mm/useMMAllowance.ts
  packages/dapp-kit/src/hooks/mm/useMMApprove.ts
  packages/dapp-kit/src/hooks/mm/useRepay.ts
  packages/dapp-kit/src/hooks/mm/useReservesData.ts
  packages/dapp-kit/src/hooks/mm/useReservesHumanized.ts
  packages/dapp-kit/src/hooks/mm/useReservesList.ts
  packages/dapp-kit/src/hooks/mm/useReservesUsdFormat.ts
  packages/dapp-kit/src/hooks/mm/useSupply.ts
  packages/dapp-kit/src/hooks/mm/useUserFormattedSummary.ts
  packages/dapp-kit/src/hooks/mm/useUserReservesData.ts
  packages/dapp-kit/src/hooks/mm/useWithdraw.ts
  packages/dapp-kit/src/hooks/shared/index.ts
  packages/dapp-kit/src/hooks/shared/types.ts
Due: biome format --write, biome lint

refactor(dapp-kit)!: mm (#650)
  apps/demo/src/components/mm/lists/BorrowButton.tsx
  apps/demo/src/components/mm/lists/RepayButton.tsx
  apps/demo/src/components/mm/lists/SupplyAssetsList.tsx
  apps/demo/src/components/mm/lists/SupplyAssetsListItem.tsx
  apps/demo/src/components/mm/lists/SupplyButton.tsx
  apps/demo/src/components/mm/lists/WithdrawButton.tsx
  packages/dapp-kit/README.md
  packages/dapp-kit/src/hooks/backend/README.md
  packages/dapp-kit/src/hooks/backend/index.ts
  packages/dapp-kit/src/hooks/backend/types.ts
  packages/dapp-kit/src/hooks/backend/useBackendAllMoneyMarketAssets.ts
  packages/dapp-kit/src/hooks/backend/useBackendAllMoneyMarketBorrowers.ts
  packages/dapp-kit/src/hooks/backend/useBackendIntentByHash.ts
  packages/dapp-kit/src/hooks/backend/useBackendIntentByTxHash.ts
  packages/dapp-kit/src/hooks/backend/useBackendMoneyMarketAsset.ts
  packages/dapp-kit/src/hooks/backend/useBackendMoneyMarketAssetBorrowers.ts
  packages/dapp-kit/src/hooks/backend/useBackendMoneyMarketAssetSuppliers.ts
  packages/dapp-kit/src/hooks/backend/useBackendMoneyMarketPosition.ts
  packages/dapp-kit/src/hooks/backend/useBackendOrderbook.ts
  packages/dapp-kit/src/hooks/backend/useBackendUserIntents.ts
  packages/dapp-kit/src/hooks/mm/useAToken.ts
  packages/dapp-kit/src/hooks/mm/useBorrow.ts
  packages/dapp-kit/src/hooks/mm/useMMAllowance.ts
  packages/dapp-kit/src/hooks/mm/useMMApprove.ts
  packages/dapp-kit/src/hooks/mm/useRepay.ts
  packages/dapp-kit/src/hooks/mm/useReservesData.ts
  packages/dapp-kit/src/hooks/mm/useReservesHumanized.ts
  packages/dapp-kit/src/hooks/mm/useReservesList.ts
  packages/dapp-kit/src/hooks/mm/useReservesUsdFormat.ts
  packages/dapp-kit/src/hooks/mm/useSupply.ts
  packages/dapp-kit/src/hooks/mm/useUserFormattedSummary.ts
  packages/dapp-kit/src/hooks/mm/useUserReservesData.ts
  packages/dapp-kit/src/hooks/mm/useWithdraw.ts
  packages/dapp-kit/src/hooks/shared/index.ts
  packages/dapp-kit/src/hooks/shared/types.ts
Due: biome format --write, biome lint

chore: bump versions
  packages/dapp-kit/package.json
  packages/sdk/package.json
  packages/types/package.json
  packages/types/src/constants/index.ts
  packages/wallet-sdk-core/package.json
  packages/wallet-sdk-react/package.json
Due: biome format --write, biome lint
