Repository icon-project/sodax-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format --write, biome lint

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": ["biome format --write", "biome lint"],
  "**/*.json": ["biome format --write"]
}

fix: tapping tooltip on mobile to get link to the docs
  apps/web/components/landing/hero-section.tsx
Due: biome format --write, biome lint

chore: updated claude.md file
  CLAUDE.md
Due: none

fix: added pt to pills height
  apps/web/components/landing/footer.tsx
Due: biome format --write, biome lint

chore: updated claude.md
  CLAUDE.md
Due: none

chore: removed claude.md, this change is added to another pr to avoid merge conflict
  CLAUDE.md
Due: none

feat(dapp-kit): add AI-agent scaffolding skills for all feature domains
  packages/dapp-kit/CLAUDE.md
  packages/dapp-kit/skills/SKILLS.md
  packages/dapp-kit/skills/backend-queries.md
  packages/dapp-kit/skills/bitcoin.md
  packages/dapp-kit/skills/bridge.md
  packages/dapp-kit/skills/dex.md
  packages/dapp-kit/skills/migration.md
  packages/dapp-kit/skills/money-market.md
  packages/dapp-kit/skills/setup.md
  packages/dapp-kit/skills/staking.md
  packages/dapp-kit/skills/swap.md
  packages/dapp-kit/skills/wallet-connectivity.md
Due: none

feat(web): add Consensus Miami lead capture page
  apps/web/app/api/consensus-miami/route.ts
  apps/web/app/consensus-miami/page.tsx
  apps/web/components/consensus-miami/consensus-miami-page.tsx
  apps/web/components/consensus-miami/project-flow.tsx
  apps/web/components/consensus-miami/retail-flow.tsx
  apps/web/constants/routes.ts
  apps/web/middleware.ts
  apps/web/public/consensus.png
Due: biome format --write, biome lint

fix(web): restore compact country code format in middleware
  apps/web/middleware.ts
Due: biome format --write, biome lint

fix(web): align CRM schema and remove booth gate
  apps/web/app/api/consensus-miami/route.ts
  apps/web/middleware.ts
Due: biome format --write, biome lint

fix(web): improve Lighthouse best practices and performance (#626)
  apps/web/app/(apps)/layout.tsx
  apps/web/app/(apps)/pool/_components/liquidity-inputs.tsx
  apps/web/app/(apps)/stake/_components/stake-input-panel.tsx
  apps/web/app/(apps)/swap/_components/currency-input-panel.tsx
  apps/web/app/(apps)/swap/_components/swap-review-button.tsx
  apps/web/app/(apps)/swap/_stores/swap-store-provider.tsx
  apps/web/components/landing/hero-section.tsx
  apps/web/components/landing/landing-banners.tsx
  apps/web/lib/address-validation.ts
  apps/web/lib/utils.ts
  apps/web/next.config.js
Due: biome format --write, biome lint

docs(example-next-js-16): update README to reflect v3 bundling fix (#1070)
  apps/example-next-js-16/README.md
Due: none

fix(web): correct withdrawal amount calculation
  apps/web/app/(apps)/pool/_components/manage-dialog/manage-position-dialog.tsx
Due: biome format --write, biome lint

fix(web): correct withdrawal amount calculation (#1101)
  apps/web/app/(apps)/pool/_components/manage-dialog/manage-position-dialog.tsx
Due: biome format --write, biome lint

fix(web): update withdrawal slippage calculation
  apps/web/app/(apps)/pool/_components/manage-dialog/manage-position-dialog.tsx
Due: biome format --write, biome lint

fix(web): update withdrawal slippage calculation (#1102)
  apps/web/app/(apps)/pool/_components/manage-dialog/manage-position-dialog.tsx
Due: biome format --write, biome lint

fix(wallet-sdk-react): replace all `any` types with proper typing
  packages/wallet-sdk-react/biome.json
  packages/wallet-sdk-react/src/hooks/useEvmSwitchChain.ts
  packages/wallet-sdk-react/src/providers/sui/SuiHydrator.tsx
  packages/wallet-sdk-react/src/xchains/icon/IconHanaXConnector.ts
  packages/wallet-sdk-react/src/xchains/icon/iconex/index.tsx
  packages/wallet-sdk-react/src/xchains/solana/SolanaXConnector.ts
  packages/wallet-sdk-react/src/xchains/stellar/utils.ts
  packages/wallet-sdk-react/src/xchains/sui/SuiXConnector.ts
  packages/wallet-sdk-react/src/xchains/sui/SuiXService.ts
  pnpm-lock.yaml
Due: biome format --write, biome lint

feat(types): enable Injective tokens for solver swap
  packages/types/src/constants/index.ts
Due: biome format --write, biome lint

feat(web): polish Consensus Miami hero design and add kill switch
  apps/web/app/consensus-miami/page.tsx
  apps/web/components/consensus-miami/consensus-miami-page.tsx
  apps/web/middleware.ts
Due: biome format --write, biome lint

chore(web): preserve multi-line matcher format in middleware
  apps/web/middleware.ts
Due: biome format --write, biome lint

fix: add runtime guards and strengthen connector typing
  packages/wallet-sdk-react/src/hooks/useEthereumChainId.ts
  packages/wallet-sdk-react/src/hooks/useEvmSwitchChain.ts
  packages/wallet-sdk-react/src/hooks/useInitChainServices.ts
  packages/wallet-sdk-react/src/providers/sui/SuiHydrator.tsx
  packages/wallet-sdk-react/src/shared/guards.ts
  packages/wallet-sdk-react/src/utils/index.ts
  packages/wallet-sdk-react/src/xchains/evm/EvmXConnector.ts
  packages/wallet-sdk-react/src/xchains/icon/IconHanaXConnector.ts
  packages/wallet-sdk-react/src/xchains/near/NearXConnector.ts
  packages/wallet-sdk-react/src/xchains/solana/SolanaXConnector.ts
  packages/wallet-sdk-react/src/xchains/stellar/StellarWalletsKitXConnector.ts
  packages/wallet-sdk-react/src/xchains/sui/SuiXConnector.ts
  packages/wallet-sdk-react/src/xchains/sui/SuiXService.ts
  packages/wallet-sdk-react/tsup.config.ts
Due: biome format --write, biome lint

fix: updated Sodax exchange name in footer
  apps/web/components/landing/footer.tsx
Due: biome format --write, biome lint

fix(web): address Copilot review feedback
  apps/web/app/api/consensus-miami/route.ts
  apps/web/components/consensus-miami/retail-flow.tsx
  apps/web/middleware.ts
Due: biome format --write, biome lint

feat(types): enable Injective tokens for solver swap (#1104)
  packages/types/src/constants/index.ts
Due: biome format --write, biome lint

fix: addressed claude review
  packages/wallet-sdk-react/src/hooks/useEvmSwitchChain.ts
  packages/wallet-sdk-react/src/providers/sui/SuiHydrator.tsx
  packages/wallet-sdk-react/src/shared/guards.ts
  packages/wallet-sdk-react/src/xchains/sui/SuiXConnector.ts
  packages/wallet-sdk-react/src/xchains/sui/SuiXService.ts
Due: biome format --write, biome lint

chore(wallet-sdk-react): add comment explaining dts watch-mode skip
  packages/wallet-sdk-react/tsup.config.ts
Due: biome format --write, biome lint

refactor(libs): extract @stacks/* bundling into new @sodax/libs package
  packages/libs/package.json
  packages/libs/src/stacks/index.ts
  packages/libs/tsconfig.json
  packages/libs/tsup.config.ts
  packages/sdk/package.json
  packages/sdk/src/shared/entities/stacks/StacksSpokeProvider.ts
  packages/sdk/src/shared/services/spoke/StacksSpokeService.ts
  packages/sdk/src/shared/utils/shared-utils.ts
  packages/sdk/src/shared/utils/stacks-utils.ts
  packages/sdk/tsup.config.ts
  packages/wallet-sdk-core/package.json
  packages/wallet-sdk-core/src/wallet-providers/StacksWalletProvider.ts
  packages/wallet-sdk-react/package.json
  packages/wallet-sdk-react/src/Hydrate.ts
  packages/wallet-sdk-react/src/xchains/stacks/StacksXService.ts
  pnpm-lock.yaml
Due: biome format --write, biome lint

refactor(libs): move @stacks/connect bundling into @sodax/libs + nest subpaths
  packages/libs/package.json
  packages/libs/scripts/verify-stacks-connect-ui-stub.mjs
  packages/libs/src/stacks/connect/index.ts
  packages/libs/src/stacks/core/index.ts
  packages/libs/tsup.config.ts
  packages/sdk/src/shared/entities/stacks/StacksSpokeProvider.ts
  packages/sdk/src/shared/services/spoke/StacksSpokeService.ts
  packages/sdk/src/shared/utils/shared-utils.ts
  packages/sdk/src/shared/utils/stacks-utils.ts
  packages/wallet-sdk-core/package.json
  packages/wallet-sdk-core/src/wallet-providers/StacksWalletProvider.ts
  packages/wallet-sdk-core/tsup.config.ts
  packages/wallet-sdk-react/package.json
  packages/wallet-sdk-react/src/Hydrate.ts
  packages/wallet-sdk-react/src/xchains/stacks/StacksXConnector.ts
  packages/wallet-sdk-react/src/xchains/stacks/StacksXService.ts
  packages/wallet-sdk-react/tsup.config.ts
  pnpm-lock.yaml
Due: biome format --write, biome lint

refactor(libs): move @injectivelabs/wallet-strategy bundling into @sodax/libs
  apps/example-next-js-16/README.md
  packages/libs/package.json
  packages/libs/src/injective/wallet-strategy/index.ts
  packages/libs/tsup.config.ts
  packages/wallet-sdk-react/package.json
  packages/wallet-sdk-react/src/xchains/injective/InjectiveXService.ts
  packages/wallet-sdk-react/tsup.config.ts
  pnpm-lock.yaml
Due: biome format --write, biome lint

docs(libs): add README explaining dependency-isolation pattern and add/remove workflow
  packages/libs/README.md
Due: none

revert: restore tsup.config.ts to main — changes were unnecessary for libs refactor
  packages/sdk/tsup.config.ts
  packages/wallet-sdk-core/tsup.config.ts
  packages/wallet-sdk-react/tsup.config.ts
Due: biome format --write, biome lint

fix(lockfile): regenerate pnpm-lock.yaml from main to resolve merge conflict
  pnpm-lock.yaml
Due: none

test(libs): add dedup guard to verify consumers don't re-bundle @sodax/libs deps
  packages/libs/scripts/verify-no-duplicate-bundling.mjs
Due: none

docs(dapp-kit): improve skills with prompts, gotchas, and backend vs frontend guidance
  packages/dapp-kit/package.json
  packages/dapp-kit/skills/SKILLS.md
  packages/dapp-kit/skills/swap.md
  packages/dapp-kit/skills/wallet-connectivity.md
  packages/sdk/CLAUDE.md
Due: biome format --write

feat(web): add /connect/[slug] mobile-first business card pages
  apps/web/app/connect/[slug]/avatar/route.ts
  apps/web/app/connect/[slug]/page.tsx
  apps/web/components/connect/connect-card.tsx
  apps/web/constants/routes.ts
  apps/web/lib/connect.ts
Due: biome format --write, biome lint

feat(web): offline-friendly copy buttons and hero signature on connect pages
  apps/web/components/connect/connect-card.tsx
  apps/web/components/connect/copy-button.tsx
Due: biome format --write, biome lint

fix: added exhaustive check to bitcoin
  packages/wallet-sdk-react/src/chainRegistry.ts
Due: biome format --write, biome lint

fix(web): address Copilot review feedback on connect pages
  apps/web/app/connect/[slug]/page.tsx
  apps/web/components/connect/copy-button.tsx
  apps/web/lib/connect.ts
Due: biome format --write, biome lint

fix(sdk): replace all loose types with proper typing (#1103)
  packages/wallet-sdk-react/biome.json
  packages/wallet-sdk-react/src/chainRegistry.ts
  packages/wallet-sdk-react/src/hooks/useEthereumChainId.ts
  packages/wallet-sdk-react/src/hooks/useEvmSwitchChain.ts
  packages/wallet-sdk-react/src/hooks/useInitChainServices.ts
  packages/wallet-sdk-react/src/providers/sui/SuiHydrator.tsx
  packages/wallet-sdk-react/src/shared/guards.ts
  packages/wallet-sdk-react/src/utils/index.ts
  packages/wallet-sdk-react/src/xchains/evm/EvmXConnector.ts
  packages/wallet-sdk-react/src/xchains/icon/IconHanaXConnector.ts
  packages/wallet-sdk-react/src/xchains/icon/iconex/index.tsx
  packages/wallet-sdk-react/src/xchains/near/NearXConnector.ts
  packages/wallet-sdk-react/src/xchains/solana/SolanaXConnector.ts
  packages/wallet-sdk-react/src/xchains/stellar/StellarWalletsKitXConnector.ts
  packages/wallet-sdk-react/src/xchains/stellar/utils.ts
  packages/wallet-sdk-react/src/xchains/sui/SuiXConnector.ts
  packages/wallet-sdk-react/src/xchains/sui/SuiXService.ts
  packages/wallet-sdk-react/tsup.config.ts
  pnpm-lock.yaml
Due: biome format --write, biome lint

feat(sdk-dapp-kit): add AI-agent skills (#1099)
  packages/dapp-kit/CLAUDE.md
  packages/dapp-kit/package.json
  packages/dapp-kit/skills/SKILLS.md
  packages/dapp-kit/skills/backend-queries.md
  packages/dapp-kit/skills/bitcoin.md
  packages/dapp-kit/skills/bridge.md
  packages/dapp-kit/skills/dex.md
  packages/dapp-kit/skills/migration.md
  packages/dapp-kit/skills/money-market.md
  packages/dapp-kit/skills/setup.md
  packages/dapp-kit/skills/staking.md
  packages/dapp-kit/skills/swap.md
  packages/dapp-kit/skills/wallet-connectivity.md
  packages/sdk/CLAUDE.md
Due: biome format --write
