Repository icon-project/sodax-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format --write, biome lint

refactor(xwagmi): remove unused source constants from xChains
  packages/xwagmi/src/constants/xChains.ts
Due: biome format --write, biome lint

refactor(xwagmi): remove nativeCurrency, rpc, and tracker properties from xChains
  packages/xwagmi/src/constants/xChains.ts
  packages/xwagmi/src/types/xChain.ts
Due: biome format --write, biome lint

refactor(dapp-kit): update dependencies and integrate new hooks
  apps/web/components/dashboard/lists/SuppliedAssetsList/SuppliedAssetsList.tsx
  apps/web/components/dashboard/lists/SuppliedAssetsList/WithdrawButton.tsx
  apps/web/components/dashboard/lists/SupplyAssetsList/SupplyButton.tsx
  apps/web/hooks/useWalletProvider.ts
  apps/web/package.json
  biome.json
  packages/dapp-kit/package.json
  packages/dapp-kit/src/core/index.ts
  packages/dapp-kit/src/hooks/index.ts
  packages/dapp-kit/src/hooks/useHubProvider.ts
  packages/dapp-kit/src/hooks/useHubWallet.ts
  packages/dapp-kit/src/hooks/useSpokeProvider.ts
  packages/dapp-kit/src/hooks/useSuppliedAssets.ts
  pnpm-lock.yaml
Due: biome format --write, biome lint

refactor(xwagmi): clean up package.json and pnpm-lock.yaml
  packages/xwagmi/package.json
  packages/xwagmi/src/xchains/icon/types.ts
  pnpm-lock.yaml
Due: biome format --write, biome lint

refactor(WithdrawButton): update type for hubWallet to Address
  apps/web/components/dashboard/lists/SuppliedAssetsList/WithdrawButton.tsx
Due: biome format --write, biome lint

refactor(SupplyButton): update type for hubWallet to Address
  apps/web/components/dashboard/lists/SupplyAssetsList/SupplyButton.tsx
Due: biome format --write, biome lint

refactor: integrate supply and withdraw hooks into SupplyButton and WithdrawButton components
  apps/web/app/layout.tsx
  apps/web/components/dashboard/lists/SuppliedAssetsList/WithdrawButton.tsx
  apps/web/components/dashboard/lists/SupplyAssetsList/SupplyButton.tsx
  packages/dapp-kit/src/hooks/index.ts
  packages/dapp-kit/src/hooks/useHubWallet.ts
  packages/dapp-kit/src/hooks/useSpokeProvider.ts
  packages/dapp-kit/src/hooks/useSupply.ts
  packages/dapp-kit/src/hooks/useWithdraw.ts
Due: biome format --write, biome lint

refactor(dapp-kit): add SodaxProvider and related context/hooks
  apps/web/app/providers.tsx
  packages/dapp-kit/src/contexts/index.ts
  packages/dapp-kit/src/hooks/useSodax.tsx
  packages/dapp-kit/src/index.ts
  packages/dapp-kit/src/providers/SodaxProvider.tsx
  packages/dapp-kit/src/providers/index.ts
Due: biome format --write, biome lint

refactor(dapp-kit): simplify MoneyMarketPage and enhance context usage
  apps/web/app/config.ts
  apps/web/app/markets/page.tsx
  packages/dapp-kit/src/contexts/index.ts
  packages/dapp-kit/src/hooks/useHubProvider.ts
  packages/dapp-kit/src/hooks/useSodax.tsx
  packages/dapp-kit/src/hooks/useSodaxContext.tsx
  packages/dapp-kit/src/hooks/useSuppliedAssets.ts
  packages/dapp-kit/src/hooks/useSupply.ts
  packages/dapp-kit/src/hooks/useWithdraw.ts
  packages/dapp-kit/src/providers/SodaxProvider.tsx
  packages/xwagmi/src/constants/xChains.ts
  packages/xwagmi/src/types/xChain.ts
Due: biome format --write, biome lint

refactor(dapp-kit): optimize imports and enhance context usage in hooks
  packages/dapp-kit/src/core/index.ts
  packages/dapp-kit/src/hooks/useSuppliedAssets.ts
  packages/dapp-kit/src/hooks/useSupply.ts
  packages/dapp-kit/src/hooks/useWithdraw.ts
Due: biome format --write, biome lint

refactor(dapp-kit): remove debug log from useSpokeProvider hook
  packages/dapp-kit/src/hooks/useSpokeProvider.ts
Due: biome format --write, biome lint

refactor(dapp-kit): update token imports and clean up configuration
  apps/web/app/config.ts
  apps/web/components/dashboard/lists/SupplyAssetsList/SupplyAssetsList.tsx
  packages/dapp-kit/src/index.ts
Due: biome format --write, biome lint

refactor(dapp-kit): enhance useSuppliedAssets and introduce useHubWalletAddress hook
  apps/web/components/dashboard/lists/SuppliedAssetsList/SuppliedAssetsList.tsx
  packages/dapp-kit/src/hooks/index.ts
  packages/dapp-kit/src/hooks/useHubWalletAddress.ts
  packages/dapp-kit/src/hooks/useSpokeProvider.ts
  packages/dapp-kit/src/hooks/useSuppliedAssets.ts
  packages/dapp-kit/src/hooks/useSupply.ts
  packages/dapp-kit/src/hooks/useWithdraw.ts
Due: biome format --write, biome lint

refactor(dapp-kit): update configuration and enhance context management
  apps/web/app/config.ts
  apps/web/app/providers.tsx
  packages/dapp-kit/src/contexts/index.ts
  packages/dapp-kit/src/core/index.ts
  packages/dapp-kit/src/hooks/useHubProvider.ts
  packages/dapp-kit/src/hooks/useHubWalletAddress.ts
  packages/dapp-kit/src/hooks/useSupply.ts
  packages/dapp-kit/src/providers/SodaxProvider.tsx
  packages/xwagmi/src/utils/index.ts
  packages/xwagmi/src/xchains/evm/wagmiConfig.ts
Due: biome format --write, biome lint

fix: node and react app breaking changes
  apps/node/src/evm.ts
  apps/node/src/icon.ts
  apps/node/src/solana.ts
  apps/node/src/stellar.ts
  apps/node/src/sui.ts
  apps/node/src/wallet-providers.ts
  apps/react-solver-example/biome.json
  apps/react-solver-example/package.json
  apps/react-solver-example/src/App.tsx
  apps/react-solver-example/src/components/ConnectEvmWalletButton.tsx
  apps/react-solver-example/src/components/ConnectIconWalletButton.tsx
  apps/react-solver-example/src/components/IntentStatus.tsx
  apps/react-solver-example/src/components/SelectChain.tsx
  apps/react-solver-example/src/components/SwapCard.tsx
  apps/react-solver-example/src/constants.ts
  apps/react-solver-example/src/contexts/SolverContextProvider.tsx
  apps/react-solver-example/src/hooks/useSpokeProvider.ts
  apps/react-solver-example/src/hooks/useSwitchWalletChain.ts
  apps/react-solver-example/src/hooks/useWalletProvider.ts
  apps/react-solver-example/src/index.css
  apps/react-solver-example/src/index.tsx
  apps/react-solver-example/src/lib/utils.ts
  apps/react-solver-example/tailwind.config.js
  apps/react-solver-example/tsconfig.json
  apps/react-solver-example/vite.config.ts
  package.json
  packages/dapp-kit/package.json
  packages/sdk/src/services/intentRelay/IntentRelayApiService.ts
  packages/sdk/src/services/solver/SolverService.ts
  packages/sdk/src/types.ts
  packages/xwagmi/package.json
  turbo.json
Due: biome format --write, biome lint

fix: linting
  apps/node/src/cosmos.ts
  apps/node/src/evm.ts
  apps/node/src/icon.ts
  apps/node/src/moneymarket.ts
  apps/node/src/solana.ts
  apps/node/src/stellar.ts
  apps/node/src/sui.ts
  apps/node/src/wallet-providers.ts
  apps/react-solver-example/vite.config.ts
  apps/web/biome.json
  apps/web/components/landing/decorated-button.tsx
  apps/web/components/landing/footer-link.tsx
  apps/web/components/landing/sidebar.tsx
Due: biome format --write, biome lint

fix: react babel, ci less node versions
  .github/workflows/ci.yml
  apps/react-solver-example/package.json
  pnpm-lock.yaml
Due: biome format --write

chore: dependencies update
  pnpm-lock.yaml
Due: none

fix: ci timeout
  .github/workflows/ci.yml
Due: none

chore: replace check build instead of direct build
  .github/workflows/ci.yml
Due: none

chore: prebuild packages in ci
  .github/workflows/ci.yml
  package.json
Due: biome format --write

chore: add package install after built packages
  .github/workflows/ci.yml
Due: none

refactor: update package.json scripts and tsup configuration
  package.json
  packages/dapp-kit/package.json
  packages/dapp-kit/tsup.config.ts
  packages/xwagmi/package.json
Due: biome format --write, biome lint

chore: force pnpm install after packages build
  .github/workflows/ci.yml
Due: none

chore: build pckage task
  .github/workflows/ci.yml
  package.json
  turbo.json
Due: biome format --write

chore: update node-version matrix
  .github/workflows/ci.yml
Due: none

fix(node,react,sdk): node and react app breaking changes (#33)
  .github/workflows/ci.yml
  apps/node/src/cosmos.ts
  apps/node/src/evm.ts
  apps/node/src/icon.ts
  apps/node/src/moneymarket.ts
  apps/node/src/solana.ts
  apps/node/src/stellar.ts
  apps/node/src/sui.ts
  apps/node/src/wallet-providers.ts
  apps/react-solver-example/biome.json
  apps/react-solver-example/package.json
  apps/react-solver-example/src/App.tsx
  apps/react-solver-example/src/components/ConnectEvmWalletButton.tsx
  apps/react-solver-example/src/components/ConnectIconWalletButton.tsx
  apps/react-solver-example/src/components/IntentStatus.tsx
  apps/react-solver-example/src/components/SelectChain.tsx
  apps/react-solver-example/src/components/SwapCard.tsx
  apps/react-solver-example/src/constants.ts
  apps/react-solver-example/src/contexts/SolverContextProvider.tsx
  apps/react-solver-example/src/hooks/useSpokeProvider.ts
  apps/react-solver-example/src/hooks/useSwitchWalletChain.ts
  apps/react-solver-example/src/hooks/useWalletProvider.ts
  apps/react-solver-example/src/index.css
  apps/react-solver-example/src/index.tsx
  apps/react-solver-example/src/lib/utils.ts
  apps/react-solver-example/tailwind.config.js
  apps/react-solver-example/tsconfig.json
  apps/react-solver-example/vite.config.ts
  apps/web/biome.json
  apps/web/components/landing/decorated-button.tsx
  apps/web/components/landing/footer-link.tsx
  apps/web/components/landing/sidebar.tsx
  package.json
  packages/dapp-kit/package.json
  packages/sdk/src/services/intentRelay/IntentRelayApiService.ts
  packages/sdk/src/services/solver/SolverService.ts
  packages/sdk/src/types.ts
  packages/xwagmi/package.json
  pnpm-lock.yaml
  turbo.json
Due: biome format --write, biome lint

chore: status check badge
  README.md
Due: none

refactor: integrate chain selection into WithdrawButton and update useWithdraw hook
  apps/web/components/dashboard/lists/SuppliedAssetsList/WithdrawButton.tsx
  packages/dapp-kit/src/hooks/useWithdraw.ts
Due: biome format --write, biome lint

refactor(dapp-kit): enhance token configuration and update hooks for spoke chain integration
  packages/dapp-kit/src/core/index.ts
  packages/dapp-kit/src/hooks/useHubWalletAddress.ts
  packages/dapp-kit/src/hooks/useSpokeProvider.ts
  packages/dapp-kit/src/hooks/useSuppliedAssets.ts
  packages/dapp-kit/src/hooks/useSupply.ts
  packages/dapp-kit/src/hooks/useWithdraw.ts
  packages/xwagmi/src/constants/xChains.ts
  packages/xwagmi/src/types/xChain.ts
  packages/xwagmi/src/utils/index.ts
Due: biome format --write, biome lint

refactor(sdk): enhance hubAssets configuration by adding symbol and name properties for tokens
  packages/sdk/src/constants.ts
Due: biome format --write, biome lint

refactor(web): add base chain to wagmi configuration and update transport settings
  apps/web/app/config.ts
  packages/dapp-kit/src/core/index.ts
Due: biome format --write, biome lint

refactor(dapp-kit): integrate dynamic relay URL selection in useSupply and useWithdraw hooks
  packages/dapp-kit/src/constants.ts
  packages/dapp-kit/src/hooks/useSupply.ts
  packages/dapp-kit/src/hooks/useWithdraw.ts
Due: biome format --write, biome lint

fix: update default chain and enhance ChainSelector component with testnet filtering
  apps/web/app/providers.tsx
  apps/web/components/dashboard/ChainSelector.tsx
  packages/dapp-kit/src/hooks/index.ts
  packages/dapp-kit/src/hooks/useSodaxContext.tsx
Due: biome format --write, biome lint

refactor(dapp-kit): update chain_id retrieval in useSupply and useWithdraw hooks
  packages/dapp-kit/src/hooks/useSupply.ts
  packages/dapp-kit/src/hooks/useWithdraw.ts
Due: biome format --write, biome lint

refactor(dapp-kit): add resetError functionality and chain switching to Supply and Withdraw buttons
  apps/web/components/dashboard/lists/SuppliedAssetsList/WithdrawButton.tsx
  apps/web/components/dashboard/lists/SupplyAssetsList/SupplyButton.tsx
  packages/dapp-kit/src/hooks/useSupply.ts
  packages/dapp-kit/src/hooks/useWithdraw.ts
Due: biome format --write, biome lint

refactor(dapp-kit): optimize SupplyAssetsListand removing unused chain constants
  apps/web/components/dashboard/lists/SupplyAssetsList/SupplyAssetsList.tsx
  packages/xwagmi/src/constants/xChains.ts
  packages/xwagmi/src/types/xChain.ts
Due: biome format --write, biome lint

refactor(dapp-kit): update token address to use vault property in asset configuration
  packages/dapp-kit/src/core/index.ts
Due: biome format --write, biome lint

refactor(dapp-kit): comment out APY
  apps/web/components/dashboard/lists/SuppliedAssetsList/SuppliedAssetsList.tsx
  apps/web/components/dashboard/lists/SuppliedAssetsList/SuppliedAssetsListItem.tsx
  apps/web/components/dashboard/lists/SupplyAssetsList/SupplyAssetsList.tsx
  apps/web/components/dashboard/lists/SupplyAssetsList/SupplyAssetsListItem.tsx
Due: biome format --write, biome lint

Path conditions:
  biome format --write: (any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.json)
  biome lint: any of: **/*.{js,jsx,ts,tsx}
