Repository icon-project/sodax-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format --write, biome lint

fix: evm wallet connection in wallet sdk (#527)
  packages/wallet-sdk-react/src/SodaxWalletProvider.tsx
  packages/wallet-sdk-react/src/xchains/evm/EvmXService.ts
Due: biome format --write, biome lint

chore(types): bump constant version
  packages/types/src/constants/index.ts
Due: biome format --write, biome lint

chore(types): bump versions
  packages/dapp-kit/package.json
  packages/sdk/package.json
  packages/types/package.json
  packages/types/src/constants/index.ts
  packages/wallet-sdk-core/package.json
  packages/wallet-sdk-react/package.json
Due: biome format --write, biome lint

docs(packages): release instructions
  packages/RELEASE_INSTRUCTIONS.md
Due: none

docs(packages): release instructions (#530)
  packages/RELEASE_INSTRUCTIONS.md
Due: none

docs: add link to release instructions in README.md
  README.md
Due: none

fix(docs): release instructions typing
  packages/RELEASE_INSTRUCTIONS.md
Due: none

feat: add search function in currency list
  apps/web/app/(apps)/savings/_components/currency-list.tsx
  apps/web/app/(apps)/savings/_components/currency-search-panel.tsx
  apps/web/app/(apps)/savings/_components/network-icon.tsx
  apps/web/app/(apps)/savings/page.tsx
  apps/web/constants/chains.ts
  pnpm-lock.yaml
Due: biome format --write, biome lint

chore: update sodax packages to 1.0.0-rc.6
  apps/web/package.json
  pnpm-lock.yaml
Due: biome format --write

chore: update sodax packages to 1.0.0-rc.6 (#531)
  apps/web/package.json
  pnpm-lock.yaml
Due: biome format --write

refactor: update token handling and remove unused imports
  apps/demo/src/components/mm/lists/SupplyAssetsList.tsx
  apps/demo/src/components/mm/lists/SupplyAssetsListItem.tsx
  apps/demo/src/hooks/useReserveMetrics.ts
  apps/demo/src/lib/utils.ts
  packages/dapp-kit/src/core/index.ts
  packages/dapp-kit/src/index.ts
  packages/types/src/constants/index.ts
  packages/wallet-sdk-react/src/core/XService.ts
  packages/wallet-sdk-react/src/hooks/useXBalances.ts
Due: biome format --write, biome lint

feat: add refetch interval to useBackendIntentByTxHash and document getFilledIntent method
  packages/dapp-kit/src/hooks/backend/useBackendIntentByTxHash.ts
  packages/sdk/docs/SWAPS.md
Due: biome format --write, biome lint

feat: add getIntentState function to retrieve intent state by transaction hash
  apps/node/src/evm.ts
Due: biome format --write, biome lint

refactor: update moneyMarketSupportedTokens to use const assertions
  packages/types/src/constants/index.ts
Due: biome format --write, biome lint

feat: all changes to demo mm (#516)
  apps/demo/src/components/mm/lists/SupplyAssetsList.tsx
  apps/demo/src/components/mm/lists/SupplyAssetsListItem.tsx
  apps/demo/src/hooks/useReserveMetrics.ts
  apps/demo/src/lib/utils.ts
  packages/dapp-kit/src/core/index.ts
  packages/dapp-kit/src/hooks/mm/index.ts
  packages/dapp-kit/src/index.ts
  packages/types/src/constants/index.ts
  packages/wallet-sdk-react/src/core/XService.ts
  packages/wallet-sdk-react/src/hooks/useXBalances.ts
Due: biome format --write, biome lint

refactor(types): simplify SodaTokensAsHubAssets and remove unused hubVaultTokensMap
  packages/types/src/constants/index.ts
Due: biome format --write, biome lint

refactor(sdk): remove hubVaults variable
  packages/sdk/src/backendApi/BackendApiService.ts
  packages/sdk/src/e2e-tests/e2e.test.ts
  packages/sdk/src/shared/config/ConfigService.ts
  packages/sdk/src/shared/constants.ts
  packages/types/src/backend/index.ts
  packages/types/src/common/index.ts
  packages/types/src/constants/index.ts
Due: biome format --write, biome lint

refactor(sdk): simplify initialize method in Sodax class
  packages/sdk/src/shared/entities/Sodax.ts
Due: biome format --write, biome lint

feat: add functions to get exact swap final amount (#522)
  apps/node/src/evm.ts
  packages/dapp-kit/src/hooks/backend/useBackendIntentByTxHash.ts
  packages/sdk/docs/SWAPS.md
  packages/sdk/src/backendApi/BackendApiService.ts
  packages/sdk/src/swap/EvmSolverService.ts
  packages/sdk/src/swap/SwapService.ts
Due: biome format --write, biome lint

chore(sdk): cleanup hubVaultsAddressSet
  packages/sdk/src/shared/config/ConfigService.ts
Due: biome format --write, biome lint

refactor: remove hub vaults (#533)
  packages/sdk/src/backendApi/BackendApiService.ts
  packages/sdk/src/e2e-tests/e2e.test.ts
  packages/sdk/src/shared/config/ConfigService.ts
  packages/sdk/src/shared/constants.ts
  packages/sdk/src/shared/entities/Sodax.ts
  packages/types/src/backend/index.ts
  packages/types/src/common/index.ts
  packages/types/src/constants/index.ts
Due: biome format --write, biome lint

fix: take bnUSD liquidity rate from bnUSDd
  packages/sdk/src/moneyMarket/UiPoolDataProviderService.ts
Due: biome format --write, biome lint

fix: take bnUSD liquidity rate from bnUSDd (#534)
  packages/sdk/src/moneyMarket/UiPoolDataProviderService.ts
Due: biome format --write, biome lint

chore: update audits readme
  Audits/Readme.md
Due: none

chore: bump versions
  packages/dapp-kit/package.json
  packages/sdk/package.json
  packages/types/package.json
  packages/types/src/constants/index.ts
  packages/wallet-sdk-core/package.json
  packages/wallet-sdk-react/package.json
Due: biome format --write, biome lint

feat: show market list with mock data
  apps/web/app/(apps)/layout.tsx
  apps/web/app/(apps)/savings/_components/currency-list.tsx
  apps/web/app/(apps)/savings/page.tsx
  apps/web/app/globals.css
  apps/web/components/ui/accordion.tsx
Due: biome format --write, biome lint

chore: update package versions in pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

fix: update return type of AnimatedNumber component to React.ReactElement
  apps/web/components/shared/animated-number.tsx
Due: biome format --write, biome lint

refactor: simplify mock data in CurrencyList component
  apps/web/app/(apps)/savings/_components/currency-list.tsx
Due: biome format --write, biome lint

refactor: update token asset and list components for improved layout and styling
  apps/web/app/(apps)/swap/_components/token-asset.tsx
  apps/web/app/(apps)/swap/_components/token-list.tsx
Due: biome format --write, biome lint

chore: update sodax packages to 1.0.0-rc.7
  apps/web/package.json
  pnpm-lock.yaml
Due: biome format --write

chore: update sodax packages to 1.0.0-rc.7 (#537)
  apps/web/package.json
  pnpm-lock.yaml
Due: biome format --write

refactor: money market
  apps/demo/src/components/mm/lists/BorrowButton.tsx
  apps/demo/src/components/mm/lists/RepayButton.tsx
  apps/demo/src/components/mm/lists/SupplyAssetsList.tsx
  apps/demo/src/components/mm/lists/SupplyAssetsListItem.tsx
  apps/demo/src/components/mm/lists/SupplyButton.tsx
  apps/demo/src/components/mm/lists/WithdrawButton.tsx
  apps/demo/src/hooks/useReserveMetrics.ts
  apps/demo/src/lib/utils.ts
  packages/sdk/src/moneyMarket/MoneyMarketDataService.ts
  packages/sdk/src/moneyMarket/math-utils/formatters/reserve/index.ts
  packages/sdk/src/moneyMarket/math-utils/mocks.ts
  packages/types/src/constants/index.ts
Due: biome format --write, biome lint

feat: add final amount
  apps/web/app/(apps)/swap/_components/swap-confirm-dialog.tsx
Due: biome format --write, biome lint

feat: add final amount (#539)
  apps/web/app/(apps)/swap/_components/swap-confirm-dialog.tsx
Due: biome format --write, biome lint

feat(sdk): dex
  apps/demo/src/App.tsx
  apps/demo/src/components/dex/SimplePoolManager.tsx
  apps/demo/src/components/shared/header.tsx
  apps/demo/src/pages/dex/page.tsx
  packages/sdk/package.json
  packages/sdk/src/dex/AssetService.ts
  packages/sdk/src/dex/ConcentratedLiquidityService.ts
  packages/sdk/src/dex/DexService.ts
  packages/sdk/src/dex/index.ts
  packages/sdk/src/index.ts
  packages/sdk/src/shared/abis/concentratedLiquidity.abi.ts
  packages/sdk/src/shared/abis/concentratedLiquidityParams.abi.ts
  packages/sdk/src/shared/abis/erc4626.abi.ts
  packages/sdk/src/shared/abis/index.ts
  packages/sdk/src/shared/abis/pancakeSwapInfinity.abi.ts
  packages/sdk/src/shared/abis/permit2.abi.ts
  packages/sdk/src/shared/abis/stataTokenFactory.abi.ts
  packages/sdk/src/shared/abis/universalRouter.abi.ts
  packages/sdk/src/shared/config/ConfigService.ts
  packages/sdk/src/shared/constants.ts
  packages/sdk/src/shared/entities/Sodax.ts
  packages/sdk/src/shared/services/Erc4626Service.ts
  packages/sdk/src/shared/services/Permit2Service.ts
  packages/sdk/src/shared/services/index.ts
  packages/sdk/src/shared/types.ts
  packages/types/src/common/index.ts
  pnpm-lock.yaml
Due: biome format --write, biome lint

feat: multiHubWallet usage
  apps/node/package.json
  apps/node/src/multi-wallet.ts
  packages/sdk/src/shared/abis/multiHubWalletManager.abi.ts
  packages/sdk/src/shared/abis/unifiedWallet.abi.ts
  packages/sdk/src/shared/services/hub/EvmMultiWalletService.ts
  packages/sdk/src/shared/services/hub/index.ts
  packages/types/src/common/index.ts
  packages/types/src/constants/index.ts
Due: biome format --write, biome lint

fix: hex fixes
  apps/node/src/multi-wallet.ts
  packages/sdk/src/shared/abis/multiHubWalletManager.abi.ts
  packages/sdk/src/shared/abis/unifiedWallet.abi.ts
Due: biome format --write, biome lint

feat: update asset picker v2
  apps/web/app/(apps)/swap/_components/token-asset.tsx
  apps/web/app/(apps)/swap/_components/token-list.tsx
  apps/web/app/(apps)/swap/_components/token-select-dialog.tsx
  apps/web/app/globals.css
  apps/web/hooks/useAllChainBalances.ts
  apps/web/lib/utils.ts
  apps/web/providers/constants.ts
Due: biome format --write, biome lint

Path conditions:
  biome format --write: (any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.json)
  biome lint: any of: **/*.{js,jsx,ts,tsx}
