Repository icon-project/sodax-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format --write, biome lint

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": ["biome format --write", "biome lint"],
  "**/*.json": ["biome format --write"]
}

fix(web): refactor liquidity inputs and pool chart components (#1053)
  apps/web/app/(apps)/pool/_components/liquidity-inputs.tsx
  apps/web/app/(apps)/pool/_components/pool-chart.tsx
Due: biome format --write, biome lint

refactor(wallet-sdk-react): add per-chain providers for EVM, Solana, Sui
  packages/wallet-sdk-react/src/providers/EvmProvider.tsx
  packages/wallet-sdk-react/src/providers/SolanaProvider.tsx
  packages/wallet-sdk-react/src/providers/SuiProvider.tsx
  packages/wallet-sdk-react/src/providers/index.ts
Due: biome format --write, biome lint

refactor(wallet-sdk-react): configurable chain opt-in and interface boundary for SodaxWalletProvider
  packages/wallet-sdk-react/src/context/ChainActionsContext.ts
  packages/wallet-sdk-react/src/context/WalletConfigContext.ts
  packages/wallet-sdk-react/src/context/index.ts
  packages/wallet-sdk-react/src/core/XConnector.ts
  packages/wallet-sdk-react/src/core/XService.ts
  packages/wallet-sdk-react/src/index.ts
  packages/wallet-sdk-react/src/types/config.ts
  packages/wallet-sdk-react/src/types/index.ts
  packages/wallet-sdk-react/src/types/interfaces.ts
Due: biome format --write, biome lint

feat(web): fix hero gradients on ultra-wide and update network icons (#1036)
  apps/web/app/(apps)/pool/_components/liquidity-inputs.tsx
  apps/web/app/(apps)/stake/_components/stake-input-panel.tsx
  apps/web/components/landing/hero-section.tsx
  apps/web/components/network-icons.tsx
  apps/web/components/partners/partners-hero-section.tsx
  apps/web/components/shared/error-dialog.tsx
  apps/web/components/ui/dialog.tsx
  apps/web/lib/docToUrl.ts
Due: biome format --write, biome lint

feat(web): calculation APR for each position (#1038)
  apps/web/app/(apps)/pool/_components/manage-dialog/add-liquidity-tab-content.tsx
  apps/web/app/(apps)/pool/_components/manage-dialog/claim-tab-content.tsx
  apps/web/app/(apps)/pool/_components/manage-dialog/manage-position-dialog.tsx
  apps/web/app/(apps)/pool/_components/manage-dialog/pair-balance-header.tsx
  apps/web/app/(apps)/pool/_components/manage-dialog/withdraw-tab-content.tsx
  apps/web/app/(apps)/pool/_components/supply-overview/position-card.tsx
Due: biome format --write, biome lint

refactor(wallet-sdk-react): wire SodaxWalletProvider with conditional mounting and legacy compat
  packages/wallet-sdk-react/src/SodaxWalletProvider.tsx
  packages/wallet-sdk-react/src/providers/EvmProvider.tsx
  packages/wallet-sdk-react/src/providers/SolanaProvider.tsx
  packages/wallet-sdk-react/src/providers/SuiProvider.tsx
Due: biome format --write, biome lint

refactor(wallet-sdk-react): decouple hooks from native SDK hooks via store and ChainActions
  packages/wallet-sdk-react/src/hooks/useEvmSwitchChain.ts
  packages/wallet-sdk-react/src/hooks/useWalletProvider.ts
  packages/wallet-sdk-react/src/hooks/useXAccounts.ts
  packages/wallet-sdk-react/src/hooks/useXConnect.ts
  packages/wallet-sdk-react/src/hooks/useXConnection.ts
  packages/wallet-sdk-react/src/hooks/useXConnectors.ts
  packages/wallet-sdk-react/src/hooks/useXDisconnect.ts
  packages/wallet-sdk-react/src/hooks/useXSignMessage.ts
Due: biome format --write, biome lint

refactor(wallet-sdk-react): deprecate Hydrate.ts, cleanup exports
  packages/wallet-sdk-react/src/Hydrate.ts
Due: biome format --write, biome lint

refactor(wallet-sdk-react): split providers, extract hooks, registry pattern
  packages/wallet-sdk-react/src/SodaxWalletProvider.tsx
  packages/wallet-sdk-react/src/hooks/useChainActionsRegistry.ts
  packages/wallet-sdk-react/src/hooks/useInitChainServices.ts
  packages/wallet-sdk-react/src/hooks/useStacksHydration.ts
  packages/wallet-sdk-react/src/providers/EvmProvider.tsx
  packages/wallet-sdk-react/src/providers/SolanaProvider.tsx
  packages/wallet-sdk-react/src/providers/SuiProvider.tsx
  packages/wallet-sdk-react/src/providers/evm/EvmActions.tsx
  packages/wallet-sdk-react/src/providers/evm/EvmHydrator.tsx
  packages/wallet-sdk-react/src/providers/evm/EvmProvider.tsx
  packages/wallet-sdk-react/src/providers/evm/index.ts
  packages/wallet-sdk-react/src/providers/index.ts
  packages/wallet-sdk-react/src/providers/solana/SolanaActions.tsx
  packages/wallet-sdk-react/src/providers/solana/SolanaHydrator.tsx
  packages/wallet-sdk-react/src/providers/solana/SolanaProvider.tsx
  packages/wallet-sdk-react/src/providers/solana/index.ts
  packages/wallet-sdk-react/src/providers/sui/SuiActions.tsx
  packages/wallet-sdk-react/src/providers/sui/SuiHydrator.tsx
  packages/wallet-sdk-react/src/providers/sui/SuiProvider.tsx
  packages/wallet-sdk-react/src/providers/sui/index.ts
  packages/wallet-sdk-react/src/useXWalletStore.ts
Due: biome format --write, biome lint

refactor(wallet-sdk-react): lazy init store with initChainServices and reactive connectors
  packages/wallet-sdk-react/src/providers/EvmProvider.tsx
  packages/wallet-sdk-react/src/providers/SolanaProvider.tsx
  packages/wallet-sdk-react/src/providers/SuiProvider.tsx
  packages/wallet-sdk-react/src/useXWagmiStore.ts
Due: biome format --write, biome lint

refactor(wallet-sdk-react): register ChainActions for all 9 chains, remove fallback patterns
  packages/wallet-sdk-react/src/SodaxWalletProvider.tsx
  packages/wallet-sdk-react/src/hooks/useChainActionsRegistry.ts
  packages/wallet-sdk-react/src/hooks/useXConnect.ts
  packages/wallet-sdk-react/src/hooks/useXDisconnect.ts
  packages/wallet-sdk-react/src/hooks/useXSignMessage.ts
  packages/wallet-sdk-react/src/providers/evm/EvmActions.tsx
  packages/wallet-sdk-react/src/providers/evm/EvmProvider.tsx
  packages/wallet-sdk-react/src/providers/solana/SolanaActions.tsx
  packages/wallet-sdk-react/src/providers/solana/SolanaProvider.tsx
  packages/wallet-sdk-react/src/providers/sui/SuiActions.tsx
  packages/wallet-sdk-react/src/providers/sui/SuiProvider.tsx
  packages/wallet-sdk-react/src/useXWalletStore.ts
Due: biome format --write, biome lint

fix(wallet-sdk-react): resolve hydration bugs, rename store to useXWalletStore
  packages/wallet-sdk-react/src/SodaxWalletProvider.tsx
  packages/wallet-sdk-react/src/actions/getXService.ts
  packages/wallet-sdk-react/src/hooks/useXAccounts.ts
  packages/wallet-sdk-react/src/hooks/useXConnect.ts
  packages/wallet-sdk-react/src/hooks/useXConnection.ts
  packages/wallet-sdk-react/src/hooks/useXConnectors.ts
  packages/wallet-sdk-react/src/hooks/useXDisconnect.ts
  packages/wallet-sdk-react/src/hooks/useXService.ts
  packages/wallet-sdk-react/src/providers/EvmProvider.tsx
  packages/wallet-sdk-react/src/providers/SolanaProvider.tsx
  packages/wallet-sdk-react/src/providers/SuiProvider.tsx
  packages/wallet-sdk-react/src/useXWagmiStore.ts
  packages/wallet-sdk-react/src/useXWalletStore.ts
  packages/wallet-sdk-react/src/xchains/icon/actions.ts
  packages/wallet-sdk-react/src/xchains/injective/actions.ts
  packages/wallet-sdk-react/src/xchains/stellar/actions.ts
Due: biome format --write, biome lint

fix(web): update concentration factor calculation
  apps/web/app/(apps)/pool/_components/supply-overview/utils.ts
Due: biome format --write, biome lint

fix(web): update concentration factor calculation (#1054)
  apps/web/app/(apps)/pool/_components/supply-overview/utils.ts
Due: biome format --write, biome lint

docs: add stacks audit report (#1051)
  Audits/2026.02.26 - Final - Sodax Collaborative Audit Report 1772065303.pdf
Due: none

docs: adding near audit (#1052)
  Audits/Final Report- Near Sodax contracts audit.pdf
Due: none

chore: update claude.md for v2 preparation (#1023)
  .github/workflows/ci.yml
  CLAUDE.md
  packages/dapp-kit/CLAUDE.md
  packages/sdk/CLAUDE.md
  packages/types/CLAUDE.md
  packages/wallet-sdk-core/CLAUDE.md
  packages/wallet-sdk-react/CLAUDE.md
Due: none

chore: update pnpm version to 10.32.1
  package.json
Due: biome format --write

docs: audits update table of contents
  Audits/Readme.md
Due: none

docs: audits update table of contents (#1056)
  Audits/Readme.md
Due: none

docs: update audit toc
  Audits/Readme.md
Due: none

chore(sdk): add sUSDS
  packages/types/src/constants/index.ts
Due: biome format --write, biome lint

feat: updated the homepage banners
  apps/web/app/page.tsx
  apps/web/components/landing/landing-banners-content.tsx
  apps/web/components/landing/landing-banners.tsx
  apps/web/components/landing/landing-full-banner.tsx
  apps/web/components/landing/networks-section.tsx
  apps/web/components/landing/small-banner-section1.tsx
  apps/web/components/landing/small-banner-section2.tsx
  apps/web/components/landing/swap-section.tsx
  apps/web/constants/routes.ts
  apps/web/next.config.js
  apps/web/package.json
  apps/web/public/homepage_banner.png
  apps/web/public/join_partners.png
Due: biome format --write, biome lint

fix: reverted changes in packages needed to run in dev
  apps/web/next.config.js
  apps/web/package.json
Due: biome format --write, biome lint

fix: removed unnecessary image
  apps/web/public/join_partners.png
Due: none

chore(sdk): add sui deep,wal and sUSDS
  packages/types/src/constants/index.ts
Due: biome format --write, biome lint

fix(demo): use Aave V3 health-factor formula for max withdrawal calculation
  apps/demo/src/components/mm/lists/SupplyAssetsList.tsx
  apps/demo/src/components/mm/lists/SupplyAssetsListItem.tsx
  apps/demo/src/components/mm/lists/WithdrawModal.tsx
Due: biome format --write, biome lint

chore(sdk): add sui deep,wal and sUSDS (#1060)
  packages/types/src/constants/index.ts
Due: biome format --write, biome lint

feat: added comment to clarify the max amount vs supplied display
  apps/demo/src/components/mm/lists/SupplyAssetsList.tsx
  apps/demo/src/components/mm/lists/SupplyAssetsListItem.tsx
  apps/demo/src/components/mm/lists/WithdrawModal.tsx
Due: biome format --write, biome lint

chore: bump versions
  packages/dapp-kit/package.json
  packages/sdk/package.json
  packages/types/package.json
  packages/types/src/constants/index.ts
  packages/wallet-sdk-core/package.json
  packages/wallet-sdk-react/package.json
Due: biome format --write, biome lint

fix: code review from claude
  apps/demo/src/components/mm/constants.ts
  apps/demo/src/lib/utils.ts
Due: biome format --write, biome lint
